<div class="section" id="advisors">
	<div class="title">ADVISORS</div>
	<ul class="collapsible" data-collapsible="expandable">
		<li>
			<div class="collapsible-header twoline pic large">
				<div class="image a1">
					<img src="img/details/star.svg" class="star left top">
					<img src="img/details/star.svg" class="star left bottom">
					<img src="img/details/star.svg" class="star right top">
					<img src="img/details/star.svg" class="star right bottom">
					<img src="img/details/quadr.svg" class="quadr left top">
					<img src="img/details/quadr.svg" class="quadr left bottom">
					<img src="img/details/quadr.svg" class="quadr right top">
					<img src="img/details/quadr.svg" class="quadr right bottom">
					<div class="alldots_bg"></div>
				</div>
				<p class="firstline">Eli Taranto</p>
				<p class="secondline">Security Advisor</p>
				<img src="img/icon/ic_more.svg" class="more right bottom" title="more">
			</div>
			<div class="collapsible-body">
				<span class="singleline link">
					<a href="/" target="_blank" class="linkedin icon button">
						<img src="img/details/a_small.svg" class="angle left top">
						<img src="img/details/a_small.svg" class="angle right top">
						<img src="img/details/a_small.svg" class="angle right bottom">
						<img src="img/details/a_small.svg" class="angle left bottom">
					</a>
					<p class="firstline link">Linkedin</p>
					<p class="body">
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
					</p>
				</span>
			</div>
		</li>
		<li>
			<div class="collapsible-header twoline pic large">
				<div class="image a2">
					<img src="img/details/star.svg" class="star left top">
					<img src="img/details/star.svg" class="star left bottom">
					<img src="img/details/star.svg" class="star right top">
					<img src="img/details/star.svg" class="star right bottom">
					<img src="img/details/quadr.svg" class="quadr left top">
					<img src="img/details/quadr.svg" class="quadr left bottom">
					<img src="img/details/quadr.svg" class="quadr right top">
					<img src="img/details/quadr.svg" class="quadr right bottom">
					<div class="alldots_bg"></div>
				</div>
				<p class="firstline">Cecilia Mueller Chen</p>
				<p class="secondline">Compliance Advisor</p>
				<img src="img/icon/ic_more.svg" class="more right bottom" title="more">
			</div>
			<div class="collapsible-body">
				<span class="singleline link">
					<a href="/" target="_blank" class="linkedin icon button">
						<img src="img/details/a_small.svg" class="angle left top">
						<img src="img/details/a_small.svg" class="angle right top">
						<img src="img/details/a_small.svg" class="angle right bottom">
						<img src="img/details/a_small.svg" class="angle left bottom">
					</a>
					<p class="firstline link">Linkedin</p>
					<p class="body">
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
					</p>
				</span>
			</div>
		</li>
		<li>
			<div class="collapsible-header twoline pic large">
				<div class="image a3">
					<img src="img/details/star.svg" class="star left top">
					<img src="img/details/star.svg" class="star left bottom">
					<img src="img/details/star.svg" class="star right top">
					<img src="img/details/star.svg" class="star right bottom">
					<img src="img/details/quadr.svg" class="quadr left top">
					<img src="img/details/quadr.svg" class="quadr left bottom">
					<img src="img/details/quadr.svg" class="quadr right top">
					<img src="img/details/quadr.svg" class="quadr right bottom">
					<div class="alldots_bg"></div>
				</div>
				<p class="firstline">Abhijith Naraparaju</p>
				<p class="secondline">Blockchain Solution Architect</p>
				<img src="img/icon/ic_more.svg" class="more right bottom" title="more">
			</div>
			<div class="collapsible-body">
				<span class="singleline link">
					<a href="/" target="_blank" class="linkedin icon button">
						<img src="img/details/a_small.svg" class="angle left top">
						<img src="img/details/a_small.svg" class="angle right top">
						<img src="img/details/a_small.svg" class="angle right bottom">
						<img src="img/details/a_small.svg" class="angle left bottom">
					</a>
					<p class="firstline link">Linkedin</p>
					<p class="body">
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
					</p>
				</span>
			</div>
		</li>
	</ul>
</div>