<div class="bnr_top">
    <div class="bnr_container">
        <div class="bnr_slide bnr_1">
            <p class="tit center">Elementh 创始人见面会邀请您</p>
        </div>
        <div class="bnr_slide bnr_2 address">
            <p class="tit">深圳站</p>
            <p class="body">时间: 2018年3月23日（周五）18:00-20:30 pm</p>
            <p class="body">地点: 深圳市南山区荔园路9号 Bee+G&G空间</p>
        </div>
        <div class="bnr_slide bnr_3 address">
            <p class="tit">广州站</p>
            <p class="body">时间: 2018年3月24日（周6）18:00-20:30 pm</p>
            <p class="body">地点: 广州市天河区珠江新城珠江西路5号国际金融中心11楼 Bee+G&G空间</p>
        </div>
    </div>
</div>