<div class="section scrollspy" id="cases">
	<div class="title">CASES</div>
	<ul class="collapsible" data-collapsible="expandable">
		<li>
			<div class="collapsible-header active singleline">
				<p class="firstline">Jack's shoes store</p>
				<img src="img/icon/ic_more.svg" class="more right bottom" title="more">
			</div>
			<div class="collapsible-body">
				<span>
					<p class="body">
						<img src="img/illustration/2.svg" class="illustration i2">
						Jack, the owner of a small store, was told about the Elementh blockchain and the opportunities it provides. Jack had not sold anything on the Internet before. Having learned about the new possibilities, he decided that it was time to try selling their shoes via the Elementh blockchain, using special applications for sellers. Setting up a store turned out to be quite simple and took several minutes.
						Having connected his accounting program to the application, Jack managed to recognize stock balance and bind it to a single nomenclature with fine merchandise cards and complete data of the product features. Information about Jack's goods immediately became available to all members of the Elementh network. Steve saw the store with the boots he needed, immediately made the order, and Jack received a notification that Steve wanted to buy his shoes. Customer's money is immediately transferred to a smart contract, which means that the order is real. Having arranged the delivery of the goods to Steve, Jack began his usual work in the store. As soon as the goods were delivered, the money transferred to Jack's account, which means that he didn't have to wait for a long time and immediately invest the profit in a new product.
					</p>
				</span>
			</div>
		</li>
		<li>
			<div class="collapsible-header active singleline">
				<p class="firstline">Jack and the problems of counterfeiting</p>
				<img src="img/icon/ic_more.svg" class="more right bottom" title="more">
			</div>
			<div class="collapsible-body">
				<span>
					<p class="body">
						One day Jack decided to expand the product range and to sell branded bags, along with footwear. Without hesitation, he opened the b2b application for finding suppliers and manufacturers working in the Elementh blockchain and found the bag manufacturer LOUIS VUITTON. He placed the order, transferring crypto currency to the smart contract. The supplier, having received information about Jack's order, immediately formed a dispatch and transferred data on serial numbers to the smart contract. Now that the transaction is underway, everyone will be able to verify that Jack has authentic LOUIS VUITTON bags in his store and not a fake. This is because in the Elementh network each manufacturer can track the movement of goods and if several owners of the same serial number of one product appear, it means counterfeit and its origin is very easy to track and take necessary measures to notify customers about its existence.
					</p>
				</span>
			</div>
		</li>
		<li>
			<div class="collapsible-header active singleline">
				<p class="firstline">Customer perspective</p>
				<img src="img/icon/ic_more.svg" class="more right bottom" title="more">
			</div>
			<div class="collapsible-body">
				<span>
					<p class="body">
						Steve has long been using applications for finding the lowest price for the product he needs. Today he decided that it was time to order new shoes and just in a few minutes he found the couple he needed in Jack's store and placed the order, sending money to the smart contract. Steve has not been afraid to make purchases online and send money to unknown sellers for a long time. If Steve does not receive the goods, he will simply indicate it in a smart contract and the money will return to him. This time his order was processed almost instantly and the courier arrived an hour later. Making sure that the shoes are of the right quality Steve completed the smart contract and the money went to Jack while Steve became the owner of a new pair of shoes. He can easily sell this pair of shoes in the secondary market as soon as he gets bored with them because Elementh network knows that he has authentic items not counterfeit ones. Just in two clicks he will be able to put them up for sale.
					</p>
				</span>
			</div>
		</li>
	</ul>
</div>
