<div class="section scrollspy" id="comretitors">
    <div class="title">COMPETITORS</div>
    <p class="body-angle">
        <img src="img/details/a_big.svg" class="angle left top">
        <img src="img/details/a_big.svg" class="angle left bottom">
        <img src="img/details/a_big.svg" class="angle right top">
        <img src="img/details/a_big.svg" class="angle right bottom">
        The direct competitors of the project are the existing online B2B e-commerce projects, such as Indix. In this segment, the Elementh project is innovative use Blockchain and can be used by decentralized marketplaces that use cryptocurrencies for internal payments.<br>
        Also there are some Blockchain platforms for Ecommerce as competitors for Elementh, for example the VeChain, INS Ecosystem, Connectius, Flipz, StopTheFakes etc. It’s interesting, that some of them are niche products, and all are not really infrastructure platforms but just something like applications for smart contracts for e-commerce.<br>
        We think that Elementh is more infrastructure project and can be used by different marketplaces and platforms. Also, an important advantage for Elementh is a huge experience in B2B Ecommerce market since 2012 and working business with real customers already.<br>
        Different marketplaces are also some kind of competitors for Elementh project, because they can be developed without Elementh and in this case they will work in the same market. It’s very important for Elementh team to get partnership with all current decentralized marketplaces that are already working or going to start soon.
    </p>
</div>