<div class="section scrollspy" id="contact">
	<div class="title">CONTACTS</div>
	<div class="headline">
		<div class="liner left"></div>
		<p class="headliner">Join us</p>
		<div class="liner right"></div>
	</div>
	<form id="sbmt">
		<img src="img/details/a_medium.svg" class="angle left top">
		<img src="img/details/a_medium.svg" class="angle right bottom">
		<div>
			<div id="submitbttn" class="inputdiv">
				<input id="youremail" type="email" form="sbmt" name="email" placeholder="Your Email" required>
			</div>
			<button type="submit" form="sbmt" class="top right icon submit"></button>
		</div>
		<button type="submit" form="sbmt" class="button bttn">
			<img src="img/details/a_medium.svg" class="angle left top">
			SUBSCRIBE
			<img src="img/details/a_medium.svg" class="angle right bottom">
		</button>
	</form>
	<p class="description contact">
		<img src="img/details/a_big.svg" class="angle left top">
		<img src="img/details/a_big.svg" class="angle left bottom">
		<img src="img/details/a_big.svg" class="angle right top">
		<img src="img/details/a_big.svg" class="angle right bottom">
		Be the first to know about the launch of Elementh ICO!
	</p>
{% include iconpack.html %}
</div>