<div class="section" id="contact">
	<div class="title">CONTACTS</div>
	<div class="headline">
		<div class="liner left"></div>
		<p class="headliner">Join us</p>
		<div class="liner right"></div>
	</div>
	<form id="sbmt">
		<img src="img/details/a_medium.svg" class="angle left top">
		<img src="img/details/a_medium.svg" class="angle right bottom">
		<div>
			<div class="inputdiv">
				<input type="email" form="sbmt" name="email" placeholder="Your Email" required>
			</div>
			<button type="submit" form="sbmt" class="top right icon submit"></button>
		</div>
	</form>
	<p class="description">
		<img src="img/details/a_big.svg" class="angle left top">
		<img src="img/details/a_big.svg" class="angle left bottom">
		<img src="img/details/a_big.svg" class="angle right top">
		<img src="img/details/a_big.svg" class="angle right bottom">
		Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget.
	</p>
	<div class="iconpack">
		<a href="/" target="_blank" class="telegram icon button link">
			<img src="img/details/a_small.svg" class="angle left top">
			<img src="img/details/a_small.svg" class="angle left bottom">
			<img src="img/details/a_small.svg" class="angle right top">
			<img src="img/details/a_small.svg" class="angle right bottom">
		</a>
		<a href="/" target="_blank" class="facebook icon button link">
			<img src="img/details/a_small.svg" class="angle left top">
			<img src="img/details/a_small.svg" class="angle left bottom">
			<img src="img/details/a_small.svg" class="angle right top">
			<img src="img/details/a_small.svg" class="angle right bottom">
		</a>
		<a href="/" target="_blank" class="twitter icon button link">
			<img src="img/details/a_small.svg" class="angle left top">
			<img src="img/details/a_small.svg" class="angle left bottom">
			<img src="img/details/a_small.svg" class="angle right top">
			<img src="img/details/a_small.svg" class="angle right bottom">
		</a>
		<a href="/" target="_blank" class="email icon button link">
			<img src="img/details/a_small.svg" class="angle left top">
			<img src="img/details/a_small.svg" class="angle left bottom">
			<img src="img/details/a_small.svg" class="angle right top">
			<img src="img/details/a_small.svg" class="angle right bottom">
		</a>
	</div>
</div>