<div class="section" id="dapps">
	<div class="title">DAPPS</div>
	<ul class="collapsible" data-collapsible="expandable">
		<li>
			<div class="collapsible-header singleline number">
				<p class="number">1</p>
				<p class="firstline">Decentralized marketplaces</p>
				<img src="img/icon/ic_more.svg" class="more right bottom" title="more">
			</div>
			<div class="collapsible-body">
				<span>
					<p class="body">
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
					</p>
				</span>
			</div>
		</li>
		<li>
			<div class="collapsible-header singleline number">
				<p class="number">2</p>
				<p class="firstline">Tracking the movement of goods</p>
				<img src="img/icon/ic_more.svg" class="more right bottom" title="more">
			</div>
			<div class="collapsible-body">
				<span>
					<p class="body">
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
					</p>
				</span>
			</div>
		</li>
		<li>
			<div class="collapsible-header singleline number">
				<p class="number">3</p>
				<p class="firstline">Search for products by location</p>
				<img src="img/icon/ic_more.svg" class="more right bottom" title="more">
			</div>
			<div class="collapsible-body">
				<span>
					<p class="body">
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
					</p>
				</span>
			</div>
		</li>
		<li>
			<div class="collapsible-header singleline number">
				<p class="number">4</p>
				<p class="firstline">Decentralized sending of messages</p>
				<img src="img/icon/ic_more.svg" class="more right bottom" title="more">
			</div>
			<div class="collapsible-body">
				<span>
					<p class="body">
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
					</p>
				</span>
			</div>
		</li>
	</ul>
</div>