<div class="section" id="dapps">
	<div class="title">DAPPS</div>
	<ul class="collapsible" data-collapsible="expandable">
		<li>
			<div class="collapsible-header singleline number">
				<p class="number">1</p>
				<p class="firstline">Decentralized marketplaces based on Elementh</p>
				<img src="img/icon/ic_more.svg" class="more right bottom" title="more">
			</div>
			<div class="collapsible-body">
				<span>
					<p class="body">
						Based on Elementh's blockchain any marketplace will be able to allow sellers to use existing merchandise cards without creating new ones. Data on the ownership of the product will allow you to get rid of counterfeit products sold through the marketplace. Unified merchandise cards will allow you to easily find the lowest price for any products. At the same time, it becomes possible to pay using any crypto currency.
					</p>
				</span>
			</div>
		</li>
		<li>
			<div class="collapsible-header singleline number">
				<p class="number">2</p>
				<p class="firstline">Tracking the movement of goods</p>
				<img src="img/icon/ic_more.svg" class="more right bottom" title="more">
			</div>
			<div class="collapsible-body">
				<span>
					<p class="body">
						The complete producer - distributor - seller - buyer chain, stored in the Elementh blockchain, will allow to find suppliers for any volume of products, up to direct order of goods from the manufacturer. We see it as the future of e-commerce.
					</p>
				</span>
			</div>
		</li>
		<li>
			<div class="collapsible-header singleline number">
				<p class="number">3</p>
				<p class="firstline">Search for goods by geolocation</p>
				<img src="img/icon/ic_more.svg" class="more right bottom" title="more">
			</div>
			<div class="collapsible-body">
				<span>
					<p class="body">
						Seller information available in the Elementh blockchain allows you to find the most convenient places of purchase for any item.
					</p>
				</span>
			</div>
		</li>
		<li>
			<div class="collapsible-header singleline number">
				<p class="number">4</p>
				<p class="firstline">Decentralized sending of messages</p>
				<img src="img/icon/ic_more.svg" class="more right bottom" title="more">
			</div>
			<div class="collapsible-body">
				<span>
					<p class="body">
						The ability to send messages allows you to contact directly with any participant in the transaction. This will allow setting up exchange systems, bidding, obtaining individual purchase conditions and so on.
					</p>
				</span>
			</div>
		</li>
		<li>
			<div class="collapsible-header singleline number">
				<p class="number">5</p>
				<p class="firstline">Store designer</p>
				<img src="img/icon/ic_more.svg" class="more right bottom" title="more">
			</div>
			<div class="collapsible-body">
				<span>
					<p class="body">
						Having all the necessary data to set up a store, the system allows you to create individual decentralized showcases for any vendor in the system.
					</p>
				</span>
			</div>
		</li>
		<li>
			<div class="collapsible-header singleline number">
				<p class="number">6</p>
				<p class="firstline">Fakes search</p>
				<img src="img/icon/ic_more.svg" class="more right bottom" title="more">
			</div>
			<div class="collapsible-body">
				<span>
					<p class="body">
						Data on all participants of the chain will allow to track the appearance of counterfeit products at any stage of the transfer of ownership of goods.
					</p>
				</span>
			</div>
		</li>
		<li>
			<div class="collapsible-header singleline number">
				<p class="number">7</p>
				<p class="firstline">Banking scoring</p>
				<img src="img/icon/ic_more.svg" class="more right bottom" title="more">
			</div>
			<div class="collapsible-body">
				<span>
					<p class="body">
						Access to data on all transactions of any participant of the system will allow instantaneous scoring of the seller, which makes it possible to build credit and overdraft systems by the banking institutions.
					</p>
				</span>
			</div>
		</li>
		<li>
			<div class="collapsible-header singleline number">
				<p class="number">8</p>
				<p class="firstline">Different verticals</p>
				<img src="img/icon/ic_more.svg" class="more right bottom" title="more">
			</div>
			<div class="collapsible-body">
				<span>
					<p class="body">
						Elementh blockchain can be used by any service provider, for example, hotels or airlines with ticket, coupon or voucher entity to store information and track ownership.
					</p>
				</span>
			</div>
		</li>
	</ul>
</div>