<div class="section scrollspy" id="faq">
    <div class="title" data-i18n="FAQ">FAQ</div>
    <ul class="collapsible" data-collapsible="expandable">
        <li>
            <div class="collapsible-header singleline">
                <p class="firstline" data-i18n="faq1Q">Where are you incorporated?</p>
                <img src="img/icon/ic_more.svg" class="more right bottom" title="more">
            </div>
            <div class="collapsible-body">
				<span>
					<p class="body" data-i18n="faq1A">
                        Our current business is in Russia and our Foundation will be incorporated in Switzerland or Gibraltar.
                    </p>
				</span>
            </div>
        </li>
        <li>
            <div class="collapsible-header singleline">
                <p class="firstline" data-i18n="faq2Q">What blockchain do you use?</p>
                <img src="img/icon/ic_more.svg" class="more right bottom" title="more">
            </div>
            <div class="collapsible-body">
				<span>
					<p class="body" data-i18n="faq2A">
                        For ICO we use Ethereum blockchain, but after ICO we'll develop our own blockchain Elementh and change ERC-20 tokens to Elementh tokens in Elementh blockchain.
                    </p>
				</span>
            </div>
        </li>
        <li>
            <div class="collapsible-header singleline">
                <p class="firstline" data-i18n="faq3Q">Is your organization profit or non-profit?</p>
                <img src="img/icon/ic_more.svg" class="more right bottom" title="more">
            </div>
            <div class="collapsible-body">
				<span>
					<p class="body" data-i18n="faq3A">
                        Elementh Foundation is non-profit organization.
                    </p>
				</span>
            </div>
        </li>
        <li>
            <div class="collapsible-header singleline">
                <p class="firstline" data-i18n="faq4Q">How will your tokens be used?</p>
                <img src="img/icon/ic_more.svg" class="more right bottom" title="more">
            </div>
            <div class="collapsible-body">
				<span>
					<p class="body" data-i18n="faq4A">
                        They will be used for all operations in Elementh blockchain (like ETH in Ethereum blockchain and EOS in EOS blockchain).
                    </p>
				</span>
            </div>
        </li>
        <li>
            <div class="collapsible-header singleline">
                <p class="firstline" data-i18n="faq5Q">Do you have bounty or referral program?</p>
                <img src="img/icon/ic_more.svg" class="more right bottom" title="more">
            </div>
            <div class="collapsible-body">
				<span>
					<p class="body" data-i18n="faq5A">
                        We'll have bounty and referral programs after Pre-ICO stage. Actually we can pay referral fee if you have good channels or direct investors.
                    </p>
				</span>
            </div>
        </li>
    </ul>
</div>