<div class="section scrollspy" id="features">
	<div class="title">FEATURES</div>
	<ul class="collapsible" data-collapsible="expandable">
		<li>
			<div class="collapsible-header active singleline pic large">
				<div class="image f1">
					<img src="img/details/star.svg" class="star left top">
					<img src="img/details/star.svg" class="star left bottom">
					<img src="img/details/star.svg" class="star right top">
					<img src="img/details/star.svg" class="star right bottom">
					<img src="img/details/quadr.svg" class="quadr left top">
					<img src="img/details/quadr.svg" class="quadr left bottom">
					<img src="img/details/quadr.svg" class="quadr right top">
					<img src="img/details/quadr.svg" class="quadr right bottom">
				</div>
				<p class="firstline">System of Goods</p>
				<img src="img/icon/ic_more.svg" class="more right bottom" title="more">
			</div>
			<div class="collapsible-body">
				<span>
					<p class="body">
						<img src="img/illustration/3.svg" class="illustration i3">
						Along with the system of tokens, Elementh has a system of goods, which can also be used in a large number of applications, such as tracking the movement of a particular item from its creation to the current owner, tracking original goods and detecting counterfeit goods. Unlike the system of tokens, the system of goods also provides for the ability to "issue" a particular product at a particular address, indicating all possible item's data (such as name, manufacturer, bar code, etc.). And if identical goods are already present in the blockchain, the issuer will receive a message about it, and he will have the opportunity to indicate how many items of goods he wants to "issue".
						If an item has a serial number, it is possible to specify it when the transfer operation is being performed. To provide protection against data forging, only the hash of the serial number is fixed in the system, therefore only the person who knows the initial number has the ability to make a valid transaction. In the absence of a serial number at the moment of "issuing" goods, the system generates it randomly and the holder is able to use it to identify a particular item of goods by printing out the QR code on the package, writing it in an RFID tag or in any other convenient way.
					</p>
				</span>
			</div>
		</li>
		<li>
			<div class="collapsible-header singleline pic large">
				<div class="image f1">
					<img src="img/details/star.svg" class="star left top">
					<img src="img/details/star.svg" class="star left bottom">
					<img src="img/details/star.svg" class="star right top">
					<img src="img/details/star.svg" class="star right bottom">
					<img src="img/details/quadr.svg" class="quadr left top">
					<img src="img/details/quadr.svg" class="quadr left bottom">
					<img src="img/details/quadr.svg" class="quadr right top">
					<img src="img/details/quadr.svg" class="quadr right bottom">
				</div>
				<p class="firstline">Unified Nomenclature of Goods</p>
				<img src="img/icon/ic_more.svg" class="more right bottom" title="more">
			</div>
			<div class="collapsible-body">
				<span>
					<p class="body">
						One of the key features of Elementh is the availability of a unified nomenclature. To ensure that the merchandise cards are as complete and accurate as possible, and to reduce the likelihood of creating duplicate cards, the cost of creating and using the card will be different. To create a merchandise card a participant will have to pay, for example, 1 EEE (the price will be set by voting of delegates). At the moment when the owner adds the item to the system, he is offered to use an existing card or create a new one. The use of an existing card costs 100 times less than the creation of a new one (for example, 0,01 EEE). The cardholder receives a reward for each owner of goods that uses his card, as well as for making a transaction using this card. Any participant in the system can supplement information in existing cards, and the cardholder can accept or reject the proposed changes.
					</p>
				</span>
			</div>
		</li>
		<li>
			<div class="collapsible-header singleline pic large">
				<div class="image f1">
					<img src="img/details/star.svg" class="star left top">
					<img src="img/details/star.svg" class="star left bottom">
					<img src="img/details/star.svg" class="star right top">
					<img src="img/details/star.svg" class="star right bottom">
					<img src="img/details/quadr.svg" class="quadr left top">
					<img src="img/details/quadr.svg" class="quadr left bottom">
					<img src="img/details/quadr.svg" class="quadr right top">
					<img src="img/details/quadr.svg" class="quadr right bottom">
				</div>
				<p class="firstline">The originality of Goods</p>
				<img src="img/icon/ic_more.svg" class="more right bottom" title="more">
			</div>
			<div class="collapsible-body">
				<span>
					<p class="body">
						Goods in the system exist in a single copy and if an item with the same serial number is added to the system, any dApp can notify the buyer that the origin of the goods is unknown. If the chain of ownership comes from the manufacturer, the confirmation of the originality of the goods will be throughout the entire network.
					</p>
				</span>
			</div>
		</li>
	</ul>
</div>
