<header>
	<a href="#" class="logo icon" title="up"></a>
	<a href="#" class="logo-text icon" title="up"></a>
	<a href="#menu" class="menu icon" title="menu"></a>
	<img src="img/details/a_small.svg" class="angle left top">
	<img src="img/details/a_small.svg" class="angle right bottom">
	<div class="dots_bg"></div>
</header>

<nav id="menu">
	<a href="#" class="icon close" title="Close"></a>
	<ul class="grid">
		<li>
			<a href="https://github.com/ElementhFoundation/Documentation/blob/master/ElementhWhitepaperEN.md" target="_blank">
				<img src="img/details/a_small.svg" class="angle left top">
				<p>Whitepaper</p>
				<img src="img/details/a_small.svg" class="angle right bottom">
			</a>
		</li>
		<li class="liner"></li>
		<li>
			<a href="#features">
				<img src="img/details/a_small.svg" class="angle left top">
				<p>Features</p>
				<img src="img/details/a_small.svg" class="angle right bottom">
			</a>
		</li>
		<li>
			<a href="#cases">
				<img src="img/details/a_small.svg" class="angle left top">
				<p>Cases</p>
				<img src="img/details/a_small.svg" class="angle right bottom">
			</a>
		</li>
		<li>
			<a href="#dapps">
				<img src="img/details/a_small.svg" class="angle left top">
				<p>Dapps</p>
				<img src="img/details/a_small.svg" class="angle right bottom">
			</a>
		</li>
		<li>
			<a href="#mission">
				<img src="img/details/a_small.svg" class="angle left top">
				<p>Mission</p>
				<img src="img/details/a_small.svg" class="angle right bottom">
			</a>
		</li>
		<li>
			<a href="#team">
				<img src="img/details/a_small.svg" class="angle left top">
				<p>Team</p>
				<img src="img/details/a_small.svg" class="angle right bottom">
			</a>
		</li>
		<li>
			<a href="#advisors">
				<img src="img/details/a_small.svg" class="angle left top">
				<p>Advisors</p>
				<img src="img/details/a_small.svg" class="angle right bottom">
			</a>
		</li>
		<li class="down">
			<a href="#contact">
				<img src="img/details/a_small.svg" class="angle left top">
				<p>Contacts</p>
				<img src="img/details/a_small.svg" class="angle right bottom">
			</a>
		</li>
	</ul>
	<div class="display_bg"><div class="lines"></div></div>
</nav>