<header>
	<a href="#" class="logo icon" title="up"></a>
	<a href="#" class="logo-text icon" title="up"></a>
	<a href="#menu" class="menu icon" title="menu"></a>
	<img src="img/details/a_small.svg" class="angle left top">
	<img src="img/details/a_small.svg" class="angle right bottom">
	<div class="dots_bg"></div>
</header>

<nav id="menu">
	<a href="#" class="icon close" title="Close"></a>
	<ul id="table" class="grid table-of-contents">
		<li>
			<a href="https://github.com/ElementhFoundation/Documentation/blob/master/ElementhWhitepaperEN.md" target="_blank">
				<img src="img/details/a_small.svg" class="angle left top">
				<p data-i18n="Whitepaper">Whitepaper</p>
				<img src="img/details/a_small.svg" class="angle right bottom">
			</a>
		</li>
		<li class="liner"></li>
		<li>
			<a href="#features">
				<img src="img/details/a_small.svg" class="angle left top">
				<p data-i18n="Features">Features</p>
				<img src="img/details/a_small.svg" class="angle right bottom">
			</a>
		</li>
		<li>
			<a href="#cases">
				<img src="img/details/a_small.svg" class="angle left top">
				<p data-i18n="Cases">Cases</p>
				<img src="img/details/a_small.svg" class="angle right bottom">
			</a>
		</li>
		<li>
			<a href="#dapps">
				<img src="img/details/a_small.svg" class="angle left top">
				<p data-i18n="Dapps">Dapps</p>
				<img src="img/details/a_small.svg" class="angle right bottom">
			</a>
		</li>
		<li>
			<a href="#mission">
				<img src="img/details/a_small.svg" class="angle left top">
				<p data-i18n="Mission">Mission</p>
				<img src="img/details/a_small.svg" class="angle right bottom">
			</a>
		</li>
        <li>
            <a href="#market">
                <img src="img/details/a_small.svg" class="angle left top">
                <p data-i18n="Market">Market</p>
                <img src="img/details/a_small.svg" class="angle right bottom">
            </a>
        </li>
		<li>
			<a href="#roadmap">
				<img src="img/details/a_small.svg" class="angle left top">
				<p data-i18n="Roadmap">Roadmap</p>
				<img src="img/details/a_small.svg" class="angle right bottom">
			</a>
		</li>
		<li>
			<a href="#rating">
				<img src="img/details/a_small.svg" class="angle left top">
				<p data-i18n="Rating">Rating</p>
				<img src="img/details/a_small.svg" class="angle right bottom">
			</a>
		</li>
		<li>
			<a href="#product">
				<img src="img/details/a_small.svg" class="angle left top">
				<p data-i18n="Product">Product</p>
				<img src="img/details/a_small.svg" class="angle right bottom">
			</a>
		</li>
		<li>
			<a href="#rewards">
				<img src="img/details/a_small.svg" class="angle left top">
				<p data-i18n="Miiix Rewards">Miiix Rewards</p>
				<img src="img/details/a_small.svg" class="angle right bottom">
			</a>
		</li>
		<li>
			<a href="#partner">
				<img src="img/details/a_small.svg" class="angle left top">
				<p data-i18n="Partners">Partners</p>
				<img src="img/details/a_small.svg" class="angle right bottom">
			</a>
		</li>
		<li>
			<a href="#team">
				<img src="img/details/a_small.svg" class="angle left top">
				<p data-i18n="Team">Team</p>
				<img src="img/details/a_small.svg" class="angle right bottom">
			</a>
		</li>
		<li>
			<a href="#advisors">
				<img src="img/details/a_small.svg" class="angle left top">
				<p data-i18n="Advisors">Advisors</p>
				<img src="img/details/a_small.svg" class="angle right bottom">
			</a>
		</li>
		<li>
			<a href="#competitors">
				<img src="img/details/a_small.svg" class="angle left top">
				<p data-i18n="Competitors">Competitors</p>
				<img src="img/details/a_small.svg" class="angle right bottom">
			</a>
		</li>
		<li>
			<a href="#meetup">
				<img src="img/details/a_small.svg" class="angle left top">
				<p data-i18n="Meet Us At">Meet Us At</p>
				<img src="img/details/a_small.svg" class="angle right bottom">
			</a>
		</li>
		<li>
			<a href="#reviews">
				<img src="img/details/a_small.svg" class="angle left top">
				<p data-i18n="Reviews">Reviews</p>
				<img src="img/details/a_small.svg" class="angle right bottom">
			</a>
		</li>
		<li>
			<a href="#faq">
				<img src="img/details/a_small.svg" class="angle left top">
				<p data-i18n="FAQ">FAQ</p>
				<img src="img/details/a_small.svg" class="angle right bottom">
			</a>
		</li>
		<li class="down">
			<a href="#contact">
				<img src="img/details/a_small.svg" class="angle left top">
				<p data-i18n="Contacts">Contacts</p>
				<img src="img/details/a_small.svg" class="angle right bottom">
			</a>
		</li>
	</ul>
	<div class="display_bg"><div class="lines"></div></div>
</nav>