<div class="section" id="hero">
  <img src="img/text_logo.svg" id="text_logo" title="elementh">
  <div class="description">
    <img src="img/details/a_big.svg" class="angle left top"><img src="img/details/a_big.svg" class="angle right top"><img src="img/details/a_big.svg" class="angle left bottom"><img src="img/details/a_big.svg" class="angle right bottom">
    Elementh is a blockchain designed for the e-commerce sector. It represents a register of "ownership of goods", which has the ability to write specialized smart contracts and use the nomenclature standard to quickly create various decentralized and centralized applications.
    <br>
    <table class="info">
      <tbody>
        <tr>
          <td></td>
          <td class="text_right padd">Pre-Sale & Pre-ICO</td>
          <td>ICO</td>
        </tr>
        <tr>
          <td class="text_left">Date:</td>
          <td class="text_right padd">15.01-14.02</td>
          <td class="text_right">01.03-31.03</td>
        </tr>
        <tr>
          <td class="text_left">Supply:</td>
          <td class="text_right padd">22,5M EEE</td>
          <td class="text_right">195M EEE</td>
        </tr>
        <tr>
          <td class="text_left">HardCap:</td>
          <td class="text_right padd">1,500 ETH</td>
          <td class="text_right">30,000 ETH</td>
        </tr>
      </tbody>
    </table>
    <span id="timerTitle"></span>
    <br>
    <span id="timer"></span>
    <br>
    <div id="preico" class="progressbar">
      <div id="percent_number" class="percent_number"></div>
      <div class="progressdata">
        <div class="balance">
          <p class="description">Balance:</p>
          <p id="balance_data" class="title"></p>
        </div>
        <div class="progressline">
          <div id="percent_line" style="width: 57%;"></div>
          <div id="softcap_line" title="SoftCap" style="width: 20%;"></div>
        </div>
        <div class="softcap">
          <p class="description">SoftCap:</p>
          <p class="title">
                        <span><svg fill="#0088cc" height="24" viewBox="0 -3 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/>
                            <path d="M0 0h24v24H0z" fill="none"/>
                        </svg></span>
            300.00 ETH</p>
        </div>
        <div class="hardcap">
          <p class="description">HardCap:</p>
          <p id="hardcap_data" class="title"></p>
        </div>
      </div>
    </div>
  </div>
   <a id="presaleLink" href="/profile" class="button">
    <img src="img/details/a_medium.svg" class="angle left top">
     Join Token Sale
    <img src="img/details/a_medium.svg" class="angle right bottom">
  </a>
  <div style="height: 32px;">
    <div class="fb-share-button" data-href="https://elementh.io" data-layout="button_count" data-size="large"></div>
    <a class="twitter-share-button"
       style="vertical-align: bottom;"
       href="https://twitter.com/share"
       data-size="large"
       data-text="Elementh Foundation ICO"
       data-url="https://elementh.io"
       data-hashtags="ico,blockchain,cryptocurrency,elementh"
       data-related="twitterapi,twitter">
      Tweet
    </a>
  </div>
  {% include iconpack.html %}
  <div style="height: 49px;">
    <a href="#features" class="scroll icon"></a>
  </div>
</div>
