<div class="section" id="hero">
  <img src="img/text_logo.svg" id="text_logo" title="elementh">
  <p class="description">
    <img src="img/details/a_big.svg" class="angle left top"><img src="img/details/a_big.svg" class="angle right top"><img src="img/details/a_big.svg" class="angle left bottom"><img src="img/details/a_big.svg" class="angle right bottom">
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget.
  </p>
  <a href="#" class="button">
    <img src="img/details/a_medium.svg" class="angle left top">
    SUBSCRIBE
    <img src="img/details/a_medium.svg" class="angle right bottom">
  </a>
  <div style="height: 49px;">
    <a href="#features" class="scroll icon"></a>
  </div>
</div>