<div class="section" id="hero">
  <img src="img/text_logo.svg" id="text_logo" title="elementh">
  <div class="description">
    <img src="img/details/a_big.svg" class="angle left top"><img src="img/details/a_big.svg" class="angle right top"><img src="img/details/a_big.svg" class="angle left bottom"><img src="img/details/a_big.svg" class="angle right bottom">
    Elementh is a blockchain for e-commerce, which is a register of ownership of goods with the ability to write specialized smart contracts and use of the nomenclature standard to quickly create various decentralized and centralized applications for e-commerce.
    <br>
    <span id="timerTitle"></span>
    <br>
    <span id="timer"></span>
  </div>
  {% include iconpack.html %}
  <a id="contactLink" href="#contact" class="button">
    <img src="img/details/a_medium.svg" class="angle left top">
    SUBSCRIBE
    <img src="img/details/a_medium.svg" class="angle right bottom">
  </a>
   <a id="presaleLink" href="/presale.html" class="button" style="display: none">
    <img src="img/details/a_medium.svg" class="angle left top">
    PRE-SALE
    <img src="img/details/a_medium.svg" class="angle right bottom">
  </a>
  <div style="height: 49px;">
    <a href="#features" class="scroll icon"></a>
  </div>
</div>