	<div class="iconpack">
		<a href="https://t.me/elementh_community" target="_blank" title="telegram" class="telegram icon button link" style="background-color: #0088cc;">
			<img src="img/details/a_small.svg" class="angle left top">
			<img src="img/details/a_small.svg" class="angle left bottom">
			<img src="img/details/a_small.svg" class="angle right top">
			<img src="img/details/a_small.svg" class="angle right bottom">
		</a>
		<a href="https://www.facebook.com/Elementh-1371154296341075/" target="_blank" title="facebook" class="facebook icon button link">
			<img src="img/details/a_small.svg" class="angle left top">
			<img src="img/details/a_small.svg" class="angle left bottom">
			<img src="img/details/a_small.svg" class="angle right top">
			<img src="img/details/a_small.svg" class="angle right bottom">
		</a>
		<a href="https://twitter.com/Ahooleeman" target="_blank" title="twitter" class="twitter icon button link">
			<img src="img/details/a_small.svg" class="angle left top">
			<img src="img/details/a_small.svg" class="angle left bottom">
			<img src="img/details/a_small.svg" class="angle right top">
			<img src="img/details/a_small.svg" class="angle right bottom">
		</a>
		<a href="https://bitcointalk.org/index.php?topic=2590603.new#new" target="_blank" title="reddit" class="bitcointalk icon button link">
			<img src="img/details/a_small.svg" class="angle left top">
			<img src="img/details/a_small.svg" class="angle left bottom">
			<img src="img/details/a_small.svg" class="angle right top">
			<img src="img/details/a_small.svg" class="angle right bottom">
		</a>
		<a href="https://www.reddit.com/r/Elementh/" target="_blank" title="reddit" class="reddit icon button link">
			<img src="img/details/a_small.svg" class="angle left top">
			<img src="img/details/a_small.svg" class="angle left bottom">
			<img src="img/details/a_small.svg" class="angle right top">
			<img src="img/details/a_small.svg" class="angle right bottom">
		</a>
		<a href="https://steemit.com/@ahooleeman" target="_blank" title="steemit" class="steemit icon button link">
			<img src="img/details/a_small.svg" class="angle left top">
			<img src="img/details/a_small.svg" class="angle left bottom">
			<img src="img/details/a_small.svg" class="angle right top">
			<img src="img/details/a_small.svg" class="angle right bottom">
		</a>
		<a href="https://medium.com/@sergeyryabov_676" target="_blank" title="medium" class="medium icon button link">
			<img src="img/details/a_small.svg" class="angle left top">
			<img src="img/details/a_small.svg" class="angle left bottom">
			<img src="img/details/a_small.svg" class="angle right top">
			<img src="img/details/a_small.svg" class="angle right bottom">
		</a>
		<a href="https://github.com/ElementhFoundation" target="_blank" title="github" class="github icon button link">
			<img src="img/details/a_small.svg" class="angle left top">
			<img src="img/details/a_small.svg" class="angle left bottom">
			<img src="img/details/a_small.svg" class="angle right top">
			<img src="img/details/a_small.svg" class="angle right bottom">
		</a>
	</div>