<div class="section scrollspy" id="market">
    <div class="title" data-i18n="Market">MARKET</div>
    <p class="body-angle">
        <img src="img/details/a_big.svg" class="angle left top">
        <img src="img/details/a_big.svg" class="angle left bottom">
        <img src="img/details/a_big.svg" class="angle right top">
        <img src="img/details/a_big.svg" class="angle right bottom">
        <img src="img/illustration/worldwide_retail_e_commerce_sales.png" class="illustration i4">
        from <a href="https://www.statista.com/statistics/379046/worldwide-retail-e-commerce-sales/" target="_blank">statista.com</a><br>
        <span data-i18n="market1T">In 2016, the global retail e-commerce sales amounted to $1.915 trillion. They are expected to increase to $ 4.058 trillion.</span>
        <br>
        <br>
        <img src="img/illustration/amazons_consolidated_net_revenue_by_segment.png" class="illustration i4">
        from <a href="https://www.statista.com/statistics/672747/amazons-consolidated-net-revenue-by-segment/" target="_blank">statista.com</a><br>
        <span data-i18n="market2T">The largest marketplace in the world is Amazon. Its revenue exceeded $125 billion in 2016.</span>
        <br>
        <br>
        <img src="img/illustration/net_revenue_of_alibaba.png" class="illustration i4 plus1">
        from <a href="https://www.statista.com/statistics/225614/net-revenue-of-alibaba/" target="_blank">statista.com</a><br>
        <span data-i18n="market3T">The largest holding company in China is Alibaba Group.</span>
        <br>
        <br>
        <span data-i18n="market4T">Elementh Blockchain can be used by any marketplace and online store in the world for nomenclature standard and their system of goods. Ecommerce is a growing market in all countries and the popularity of decentralized marketplaces is a benefit for Elementh Foundation. If we'll partner with all new marketplaces, our blockchain can become a standard in ecommerce market.</span>
    </p>
</div>