<div class="section scrollspy" id="media">
	<div class="title">MEDIA</div>
	<ul>
		<li>
			<a href="/" target="_blank">
				<div class="collapsible-header twoline pic">
					<div class="image me1"></div>
					<img src="img/details/a_medium.svg" class="angle left top">
					<img src="img/details/a_medium.svg" class="angle left bottom">
					<img src="img/details/a_medium.svg" class="angle right top">
					<img src="img/details/a_medium.svg" class="angle right bottom">
					<p class="firstline">Elementh it's future</p>
					<p class="secondline">Foxico's report</p>
				</div>
			</a>
		</li>
		<li>
			<a href="/" target="_blank">
				<div class="collapsible-header twoline pic">
					<div class="image me2"></div>
					<img src="img/details/a_medium.svg" class="angle left top">
					<img src="img/details/a_medium.svg" class="angle left bottom">
					<img src="img/details/a_medium.svg" class="angle right top">
					<img src="img/details/a_medium.svg" class="angle right bottom">
					<p class="firstline">Future is coming</p>
					<p class="secondline">Foxico's report</p>
				</div>
			</a>
		</li>
		<li>
			<a href="/" target="_blank">
				<div class="collapsible-header twoline pic">
					<div class="image me3"></div>
					<img src="img/details/a_medium.svg" class="angle left top">
					<img src="img/details/a_medium.svg" class="angle left bottom">
					<img src="img/details/a_medium.svg" class="angle right top">
					<img src="img/details/a_medium.svg" class="angle right bottom">
					<p class="firstline">Ahoolee2: reborn</p>
					<p class="secondline">Foxico's report</p>
				</div>
			</a>
		</li>
		<li>
			<a href="/" target="_blank">
				<div class="collapsible-header twoline pic">
					<div class="image me4"></div>
					<img src="img/details/a_medium.svg" class="angle left top">
					<img src="img/details/a_medium.svg" class="angle left bottom">
					<img src="img/details/a_medium.svg" class="angle right top">
					<img src="img/details/a_medium.svg" class="angle right bottom">
					<p class="firstline">How i buy car</p>
					<p class="secondline">Foxico's report</p>
				</div>
			</a>
		</li>
	</ul>
</div>