<div class="section scrollspy" id="meetup">
	<div class="title">MEET UP AS</div>
	<ul>
		<li>
			<a href="https://www.hybris.com/" target="_blank">
				<div class="collapsible-header threeline pic large">
					<div class="image m1"></div>
					<img src="img/details/a_medium.svg" class="angle left top">
					<img src="img/details/a_medium.svg" class="angle left bottom">
					<img src="img/details/a_medium.svg" class="angle right top">
					<img src="img/details/a_medium.svg" class="angle right bottom">
					<p class="firstline">BLOCKCHAIN ECONOMIC FORUM</p>
					<p class="secondline">SINGAPORE</p>
					<p class="thirdline">Feb 4-6, 2018</p>
				</div>
			</a>
		</li>
		<li>
			<a href="https://www.sberbank-ast.ru/" target="_blank">
				<div class="collapsible-header threeline pic large">
					<div class="image m2"></div>
					<img src="img/details/a_medium.svg" class="angle left top">
					<img src="img/details/a_medium.svg" class="angle left bottom">
					<img src="img/details/a_medium.svg" class="angle right top">
					<img src="img/details/a_medium.svg" class="angle right bottom">
					<p class="firstline">#cryptoconference 2018</p>
					<p class="secondline">Almaty, Kazakhstan</p>
					<p class="thirdline">Feb 16, 2018</p>
				</div>
			</a>
		</li>
	</ul>
</div>