<div class="section scrollspy" id="meetup">
	<div class="title" data-i18n="Meet Us At">MEET US AT</div>
	<ul>
		<li>
			<a href="http://bef.latoken.com/" target="_blank">
				<div class="collapsible-header threeline pic large">
					<div class="image m1"></div>
					<img src="img/details/a_medium.svg" class="angle left top">
					<img src="img/details/a_medium.svg" class="angle left bottom">
					<img src="img/details/a_medium.svg" class="angle right top">
					<img src="img/details/a_medium.svg" class="angle right bottom">
					<p class="firstline">BLOCKCHAIN ECONOMIC FORUM</p>
					<p class="secondline">SINGAPORE</p>
					<p class="thirdline">Feb 4-6, 2018</p>
				</div>
			</a>
		</li>
		<li>
			<a href="https://cryptoconf.su/almaty" target="_blank">
				<div class="collapsible-header threeline pic large">
					<div class="image m2"></div>
					<img src="img/details/a_medium.svg" class="angle left top">
					<img src="img/details/a_medium.svg" class="angle left bottom">
					<img src="img/details/a_medium.svg" class="angle right top">
					<img src="img/details/a_medium.svg" class="angle right bottom">
					<p class="firstline">#cryptoconference 2018</p>
					<p class="secondline">Almaty, Kazakhstan</p>
					<p class="thirdline">Feb 16, 2018</p>
				</div>
			</a>
		</li>
	</ul>
</div>