<div class="section scrollspy" id="mission">
	<div class="title">MISSION</div>
	<p class="body-angle">
		<img src="img/details/a_big.svg" class="angle left top">
		<img src="img/details/a_big.svg" class="angle left bottom">
		<img src="img/details/a_big.svg" class="angle right top">
		<img src="img/details/a_big.svg" class="angle right bottom">
		<img src="img/illustration/1.svg" class="illustration i1">
		Elementh's goal is to create an alternative protocol for the development of decentralized applications used by e-commerce, providing a standard quality nomenclature, guaranteeing ownership of a particular product and the ability to create specialized smart contracts for e-commerce. Elementh will achieve this by creating a blockchain with a built-in Turing-complete programming language, allowing everyone to write smart contracts and decentralized applications, enabling the use of unified product cards, e-commerce transactions and the transfer of ownership.
	</p>
</div>