<div class="section" id="partner">
	<div class="title">PARTNERS</div>
	<ul>
		<li>
			<a href="https://www.hybris.com/" target="_blank">
				<div class="collapsible-header twoline pic">
					<div class="image p1"></div>
					<img src="img/details/a_medium.svg" class="angle left top">
					<img src="img/details/a_medium.svg" class="angle left bottom">
					<img src="img/details/a_medium.svg" class="angle right top">
					<img src="img/details/a_medium.svg" class="angle right bottom">
					<p class="firstline">SAP Hybris</p>
					<p class="secondline">Engage, simplify and innovate</p>
				</div>
			</a>
		</li>
		<li>
			<a href="https://www.sberbank-ast.ru/" target="_blank">
				<div class="collapsible-header twoline pic">
					<div class="image p2"></div>
					<img src="img/details/a_medium.svg" class="angle left top">
					<img src="img/details/a_medium.svg" class="angle left bottom">
					<img src="img/details/a_medium.svg" class="angle right top">
					<img src="img/details/a_medium.svg" class="angle right bottom">
					<p class="firstline">Sberbank-AST</p>
					<p class="secondline">Electronic trading platform</p>
				</div>
			</a>
		</li>
		<li>
			<a href="https://foxico.io/" target="_blank">
				<div class="collapsible-header twoline pic">
					<div class="image p3"></div>
					<img src="img/details/a_medium.svg" class="angle left top">
					<img src="img/details/a_medium.svg" class="angle left bottom">
					<img src="img/details/a_medium.svg" class="angle right top">
					<img src="img/details/a_medium.svg" class="angle right bottom">
					<p class="firstline">Foxico</p>
					<p class="secondline">Elementh's rating 8.5/10</p>
				</div>
			</a>
		</li>
		<li>
			<a href="https://bitrewards.network/" target="_blank">
				<div class="collapsible-header twoline pic">
					<div class="image p4"></div>
					<img src="img/details/a_medium.svg" class="angle left top">
					<img src="img/details/a_medium.svg" class="angle left bottom">
					<img src="img/details/a_medium.svg" class="angle right top">
					<img src="img/details/a_medium.svg" class="angle right bottom">
					<p class="firstline">BitRewards</p>
					<p class="secondline">Blockchain rewards and loyalty platform</p>
				</div>
			</a>
		</li>
	</ul>
</div>