<div class="collapsible-header active twoline pic large">

<div class="image t9">
	<img src="img/details/star.svg" class="star left top">
	<img src="img/details/star.svg" class="star right top">
	<img src="img/details/star.svg" class="star left bottom">
	<img src="img/details/star.svg" class="star right bottom">
	<img src="img/details/quadr.svg" class="quadr left top">
	<img src="img/details/quadr.svg" class="quadr right top">
	<img src="img/details/quadr.svg" class="quadr left bottom">
	<img src="img/details/quadr.svg" class="quadr right bottom">
	<div class="alldots_bg"></div>
</div>

<p class="firstline">Peter Gashitsky</p>
<p class="secondline">UX/UI Designer</p>

<img src="img/icon/ic_more.svg" class="more right bottom" title="more">

</div>

<div class="collapsible-body">
<span class="singleline link">

<a href="https://www.linkedin.com/in/peter-gashitsky-b08553157/" target="_blank" class="linkedin icon button">
	<img src="img/details/a_small.svg" class="angle left top">
	<img src="img/details/a_small.svg" class="angle right top">
	<img src="img/details/a_small.svg" class="angle right bottom">
	<img src="img/details/a_small.svg" class="angle left bottom">
</a>

<p class="firstline link">Linkedin</p>

<p class="body" data-i18n="person9T">
	Experienced web and graphic designer and illustrator. His statement is «clean projects, clean design». Talks a lot and draws a lot. Prefers coffee.
</p>

</span>
</div>
