<div class="collapsible-header active twoline pic large">

<div class="image t8">
	<img src="img/details/star.svg" class="star left top">
	<img src="img/details/star.svg" class="star right top">
	<img src="img/details/star.svg" class="star left bottom">
	<img src="img/details/star.svg" class="star right bottom">
	<img src="img/details/quadr.svg" class="quadr left top">
	<img src="img/details/quadr.svg" class="quadr right top">
	<img src="img/details/quadr.svg" class="quadr left bottom">
	<img src="img/details/quadr.svg" class="quadr right bottom">
	<div class="alldots_bg"></div>
</div>

<p class="firstline">Sergey Miheev</p>
<p class="secondline">System Administrator</p>

<img src="img/icon/ic_more.svg" class="more right bottom" title="more">

</div>

<div class="collapsible-body">
<span class="singleline link">

<a href="https://www.linkedin.com/in/sergey-mikheev-54168a62/" target="_blank" class="linkedin icon button">
	<img src="img/details/a_small.svg" class="angle left top">
	<img src="img/details/a_small.svg" class="angle right top">
	<img src="img/details/a_small.svg" class="angle right bottom">
	<img src="img/details/a_small.svg" class="angle left bottom">
</a>

<p class="firstline link">Linkedin</p>

<p class="body">
	Started working with crypto-currencies and blockchain in 2016. Prior to that, Sergey worked as a technical expert on the implementation and support of ERP and databases on large production sites.
</p>

</span>
</div>