<div class="collapsible-header twoline pic large">

<div class="image t2">
	<img src="img/details/star.svg" class="star left top">
	<img src="img/details/star.svg" class="star right top">
	<img src="img/details/star.svg" class="star left bottom">
	<img src="img/details/star.svg" class="star right bottom">
	<img src="img/details/quadr.svg" class="quadr left top">
	<img src="img/details/quadr.svg" class="quadr right top">
	<img src="img/details/quadr.svg" class="quadr left bottom">
	<img src="img/details/quadr.svg" class="quadr right bottom">
	<div class="alldots_bg"></div>
</div>

<p class="firstline">Dmitriy Bereznitskiy</p>
<p class="secondline">CTO</p>

<img src="img/icon/ic_more.svg" class="more right bottom" title="more">

</div>

<div class="collapsible-body">
<span class="singleline link">

<a href="https://www.linkedin.com/in/bdmitry" target="_blank" class="linkedin icon button">
	<img src="img/details/a_small.svg" class="angle left top">
	<img src="img/details/a_small.svg" class="angle right top">
	<img src="img/details/a_small.svg" class="angle right bottom">
	<img src="img/details/a_small.svg" class="angle left bottom">
</a>

<p class="firstline link">Linkedin</p>

<p class="body">
	Technical director and partner in projects Miiix and Smallhorse. Since 2006, he has been developing a system of affiliated stores to attract traffic to major marketplaces such as Amazon. Experience in commercial web development for more than 15 years, experience in e-commerce for more than 10 years. Managing development teams for more than 7 years. Evangelist of Agile methodology, Lean Startup and Theory of Constraints.
</p>

</span>
</div>