<div id="personmodal">

	<div class="personmodal" id="person1">
		<div class="card grid">{% include person1.html %}</div>
		<a href="#team" class="icon close" title="Close"></a>
		<div class="display_bg"><div class="lines"></div></div>
	</div>

	<div class="personmodal" id="person2">
		<div class="card grid">{% include person2.html %}</div>
		<a href="#team" class="icon close" title="Close"></a>
		<div class="display_bg"><div class="lines"></div></div>
	</div>

	<div class="personmodal" id="person3">
		<div class="card grid">{% include person3.html %}</div>
		<a href="#team" class="icon close" title="Close"></a>
		<div class="display_bg"><div class="lines"></div></div>
	</div>

	<div class="personmodal" id="person4">
		<div class="card grid">{% include person4.html %}</div>
		<a href="#team" class="icon close" title="Close"></a>
		<div class="display_bg"><div class="lines"></div></div>
	</div>

	<div class="personmodal" id="person5">
		<div class="card grid">{% include person5.html %}</div>
		<a href="#team" class="icon close" title="Close"></a>
		<div class="display_bg"><div class="lines"></div></div>
	</div>

	<div class="personmodal" id="person6">
		<div class="card grid">{% include person6.html %}</div>
		<a href="#team" class="icon close" title="Close"></a>
		<div class="display_bg"><div class="lines"></div></div>
	</div>

	<div class="personmodal" id="person7">
		<div class="card grid">{% include person7.html %}</div>
		<a href="#team" class="icon close" title="Close"></a>
		<div class="display_bg"><div class="lines"></div></div>
	</div>

	<div class="personmodal" id="person8">
		<div class="card grid">{% include person8.html %}</div>
		<a href="#team" class="icon close" title="Close"></a>
		<div class="display_bg"><div class="lines"></div></div>
	</div>

	<div class="personmodal" id="person9">
		<div class="card grid">{% include person9.html %}</div>
		<a href="#team" class="icon close" title="Close"></a>
		<div class="display_bg"><div class="lines"></div></div>
	</div>

	<div class="personmodal" id="person10">
		<div class="card grid">{% include person10.html %}</div>
		<a href="#team" class="icon close" title="Close"></a>
		<div class="display_bg"><div class="lines"></div></div>
	</div>

</div>