<div class="collapsible-header twoline pic large">

<div class="image t6">
	<img src="img/details/star.svg" class="star left top">
	<img src="img/details/star.svg" class="star right top">
	<img src="img/details/star.svg" class="star left bottom">
	<img src="img/details/star.svg" class="star right bottom">
	<img src="img/details/quadr.svg" class="quadr left top">
	<img src="img/details/quadr.svg" class="quadr right top">
	<img src="img/details/quadr.svg" class="quadr left bottom">
	<img src="img/details/quadr.svg" class="quadr right bottom">
	<div class="alldots_bg"></div>
</div>

<p class="firstline">Eugene Prigornitskiy</p>
<p class="secondline">Backend Developer</p>

<img src="img/icon/ic_more.svg" class="more right bottom" title="more">

</div>

<div class="collapsible-body">
<span class="singleline link">

<a href="https://www.facebook.com/evgeniy.prigornitskiy" target="_blank" class="facebook icon button">
	<img src="img/details/a_small.svg" class="angle left top">
	<img src="img/details/a_small.svg" class="angle right top">
	<img src="img/details/a_small.svg" class="angle right bottom">
	<img src="img/details/a_small.svg" class="angle left bottom">
</a>

<p class="firstline link">Facebook</p>

<p class="body">
	10 years of commercial development. Participated in the development of payment systems, ERP, mobile applications (iOS, Android, Windows Phone). Experience in building highly loaded real-time systems. Has extensive experience in database development.
</p>

</span>
</div>