<div class="image t7">
	<img src="img/details/star.svg" class="star left top">
	<img src="img/details/star.svg" class="star right top">
	<img src="img/details/star.svg" class="star left bottom">
	<img src="img/details/star.svg" class="star right bottom">
	<img src="img/details/quadr.svg" class="quadr left top">
	<img src="img/details/quadr.svg" class="quadr right top">
	<img src="img/details/quadr.svg" class="quadr left bottom">
	<img src="img/details/quadr.svg" class="quadr right bottom">
	<div class="alldots_bg"></div>
	<div class="dots_bg"></div>
</div>

<p class="firstline">Roman Travnikov</p>
<p class="secondline">Frontend Developer</p>

<img src="img/icon/ic_more.svg" class="more right bottom" title="more">

<a href="https://www.linkedin.com/in/travnikovrn/" target="_blank" class="linkedin icon button">
	<img src="img/details/a_small.svg" class="angle left top">
	<img src="img/details/a_small.svg" class="angle right top">
	<img src="img/details/a_small.svg" class="angle right bottom">
	<img src="img/details/a_small.svg" class="angle left bottom">
</a>

<div class="liner"></div>

<p class="body">
	More than 6 years of commercial development. A rich list of implemented projects: from corporate sites, to portals of state corporations, ministries and large banks. The last year and a half has been working on projects Miiix and SmallHorse. Uses advanced technologies in development for maximum performance of services.
</p>