<div class="collapsible-header active twoline pic large">

<div class="image t3">
	<img src="img/details/star.svg" class="star left top">
	<img src="img/details/star.svg" class="star right top">
	<img src="img/details/star.svg" class="star left bottom">
	<img src="img/details/star.svg" class="star right bottom">
	<img src="img/details/quadr.svg" class="quadr left top">
	<img src="img/details/quadr.svg" class="quadr right top">
	<img src="img/details/quadr.svg" class="quadr left bottom">
	<img src="img/details/quadr.svg" class="quadr right bottom">
	<div class="alldots_bg"></div>
</div>

<p class="firstline">Vitaliy Mengeshev</p>
<p class="secondline">CCO</p>

<img src="img/icon/ic_more.svg" class="more right bottom" title="more">

</div>

<div class="collapsible-body">
<span class="singleline link">

<a href="https://www.linkedin.com/in/vitalii-mengeshev-aba47a14b" target="_blank" class="linkedin icon button">
	<img src="img/details/a_small.svg" class="angle left top">
	<img src="img/details/a_small.svg" class="angle right top">
	<img src="img/details/a_small.svg" class="angle right bottom">
	<img src="img/details/a_small.svg" class="angle left bottom">
</a>

<p class="firstline link">Linkedin</p>

<p class="body">
	Executive Director and Partner in Miiix and Smallhorse projects. One of the lecturers in IdealMachine and Skolkovo startup acceleration programs. From 2002 to 2012, he created and was actively developing his own clothing brand. Starting in 2013, he joined the Miiix team and took over operational management and business development.
</p>

</span>
</div>