<div class="collapsible-header active twoline pic large">

<div class="image t1">
	<img src="img/details/star.svg" class="star left top">
	<img src="img/details/star.svg" class="star right top">
	<img src="img/details/star.svg" class="star left bottom">
	<img src="img/details/star.svg" class="star right bottom">
	<img src="img/details/quadr.svg" class="quadr left top">
	<img src="img/details/quadr.svg" class="quadr right top">
	<img src="img/details/quadr.svg" class="quadr left bottom">
	<img src="img/details/quadr.svg" class="quadr right bottom">
	<div class="alldots_bg"></div>
</div>

<p class="firstline">Sergey Ryabov</p>
<p class="secondline">CEO</p>

<img src="img/icon/ic_more.svg" class="more right bottom" title="more">

</div>

<div class="collapsible-body">
<span class="singleline link">

<a href="https://www.linkedin.com/in/sergey-ryabov-20108765/" target="_blank" class="linkedin icon button">
	<img src="img/details/a_small.svg" class="angle left top">
	<img src="img/details/a_small.svg" class="angle right top">
	<img src="img/details/a_small.svg" class="angle right bottom">
	<img src="img/details/a_small.svg" class="angle left bottom">
</a>

<p class="firstline link">Linkedin</p>

<p class="body">
	Since 2001, he has been creating online projects. Created and launched a number of online projects, among them the context advertising system, domain registrar, recommendation start-up and web-studio. All these products have been successfully sold to partners and other larger companies. After that, several online stores, prestigewheels.ru and sportmanya.ru were launched, where the founders faced the problem of actuality of surplus and solved it by creating the project service miiix.org. He sold his stores and focused on the Miiix project. The project received the Startup Award of the Year 2013 in Russia and still exists. In 2017, the project is integrated with SAP Hybris to use the algorithms for product matching in major global marketplaces and retailers. In 2016, together with Dmitry Kostygin, the main shareholder of Ulmart, he created a platform for selling non-liquid surplus of retailers - smallhorse.ru.
</p>

</span>
</div>