<div class="image t5">
	<img src="img/details/star.svg" class="star left top">
	<img src="img/details/star.svg" class="star right top">
	<img src="img/details/star.svg" class="star left bottom">
	<img src="img/details/star.svg" class="star right bottom">
	<img src="img/details/quadr.svg" class="quadr left top">
	<img src="img/details/quadr.svg" class="quadr right top">
	<img src="img/details/quadr.svg" class="quadr left bottom">
	<img src="img/details/quadr.svg" class="quadr right bottom">
	<div class="alldots_bg"></div>
	<div class="dots_bg"></div>
</div>

<p class="firstline">Sergey Morozov</p>
<p class="secondline">Backend Developer</p>

<img src="img/icon/ic_more.svg" class="more right bottom" title="more">

<a href="https://www.linkedin.com/in/sergey-morozov-aba83b80/" target="_blank" class="linkedin icon button">
	<img src="img/details/a_small.svg" class="angle left top">
	<img src="img/details/a_small.svg" class="angle right top">
	<img src="img/details/a_small.svg" class="angle right bottom">
	<img src="img/details/a_small.svg" class="angle left bottom">
</a>

<div class="liner"></div>

<p class="body">
	Sergey has more than 7 years of experience in development. System architect and database administrator of various types. Experience in building highly loaded systems. Participated in the development of SAAS service for 800k + users. He was engaged in the development of a large number of systems for data processing: from systems for the work of copywriters to financial accounting systems. A longtime fan of blockchain technology.
</p>