<div class="section scrollspy" id="product">
    <div class="title" data-i18n="Product">PRODUCT</div>
    <p class="body-angle">
        <img src="img/details/a_big.svg" class="angle left top">
        <img src="img/details/a_big.svg" class="angle left bottom">
        <img src="img/details/a_big.svg" class="angle right top">
        <img src="img/details/a_big.svg" class="angle right bottom">
        <span  data-i18n="product1T">The Elementh project has grown from</span> <a href="http://miiix.org/">miiix.org</a>
        <span  data-i18n="product2T">product which is being developed since 2012. As we found out Miiix is fully working business in Russia which have investments from RSV Venture Partners and business angels and solid partnerships, for example, with Sberbank AST and SAP Hybris and 200+ small and medium online stores and marketplaces.</span>
    </p>
</div>