<div class="section scrollspy" id="rating">
    <div class="title" data-i18n="Rating">RATING</div>
    <ul>
        <li>
            <a href="https://foxico.io/project/elementh" target="_blank">
                <div class="collapsible-header twoline pic">
                    <div class="image foxico"></div>
                    <img src="img/details/a_medium.svg" class="angle left top">
                    <img src="img/details/a_medium.svg" class="angle left bottom">
                    <img src="img/details/a_medium.svg" class="angle right top">
                    <img src="img/details/a_medium.svg" class="angle right bottom">
                    <p class="firstline">Foxico</p>
                    <p class="secondline">Elementh's rating 8.5/10<br>Read report</p>
                </div>
            </a>
        </li>
        <li>
            <a href="https://icomarks.com/ico/elementh" target="_blank">
                <div class="collapsible-header twoline pic">
                    <div class="image icomarks"></div>
                    <img src="img/details/a_medium.svg" class="angle left top">
                    <img src="img/details/a_medium.svg" class="angle left bottom">
                    <img src="img/details/a_medium.svg" class="angle right top">
                    <img src="img/details/a_medium.svg" class="angle right bottom">
                    <p class="firstline">IcoMarks</p>
                    <p class="secondline">Elementh's rating 8.4/10</p>
                </div>
            </a>
        </li>
        <li>
            <a href="https://www.trackico.io/ico/elementh/" target="_blank">
                <div class="collapsible-header twoline pic">
                    <div class="image trackico"></div>
                    <img src="img/details/a_medium.svg" class="angle left top">
                    <img src="img/details/a_medium.svg" class="angle left bottom">
                    <img src="img/details/a_medium.svg" class="angle right top">
                    <img src="img/details/a_medium.svg" class="angle right bottom">
                    <p class="firstline">TrackICO</p>
                    <p class="secondline">Elementh's rating 5/5</p>
                </div>
            </a>
        </li>
        <li>
            <a href="https://foundico.com/ico/elementh.html" target="_blank">
                <div class="collapsible-header twoline pic">
                    <div class="image foundico"></div>
                    <img src="img/details/a_medium.svg" class="angle left top">
                    <img src="img/details/a_medium.svg" class="angle left bottom">
                    <img src="img/details/a_medium.svg" class="angle right top">
                    <img src="img/details/a_medium.svg" class="angle right bottom">
                    <p class="firstline">FoundIco</p>
                    <p class="secondline">Elementh's rating 8.4/10</p>
                </div>
            </a>
        </li>
    </ul>
</div>
