<div id="resetpass_modal" class="sign">
    <div class="wlmodal">
        <div class="description" data-i18n="ResetPassword">
            RESET PASSWORD
        </div>
        <form id="resetpass_form" class="sign_form">
            <p class="body text_left"><span data-i18n="YourEmail">Your Email</span>:</p>
            <div class="inputtext">
                <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg" class="angle right bottom">
                <input id="email" type="email" form="resetpass_form" name="email" maxlength="100" placeholder="johndoe@site.com" required>
            </div>
            <div class="error disnone"></div>
            <div class="allok disnone">Check your email and follow the instructions</div>
            <button type="submit" form="resetpass_form" class="button bttn">
                <img src="img/details/a_medium.svg" class="angle left top">
                <span data-i18n="ResetPassword">Reset Password</span>
                <img src="img/details/a_medium.svg" class="angle right bottom">
            </button>
            <p class="body text_left"><span data-i18n="RememberedIt">Remembered it</span>? <a href="signin" class="underline pointer" data-i18n="Sign in">Sign in</a></p>
        </form>
    </div>

    <div class="display_bg"><div class="lines"></div></div>
</div>