<div class="section scrollspy" id="reviews">
    <div class="title">REVIEWS</div>
    <ul class="collapsible" data-collapsible="expandable">
        <li>
            <div class="collapsible-header active twoline pic large">
                <div class="image yannam">
                    <img src="img/details/star.svg" class="star left top">
                    <img src="img/details/star.svg" class="star left bottom">
                    <img src="img/details/star.svg" class="star right top">
                    <img src="img/details/star.svg" class="star right bottom">
                    <img src="img/details/quadr.svg" class="quadr left top">
                    <img src="img/details/quadr.svg" class="quadr left bottom">
                    <img src="img/details/quadr.svg" class="quadr right top">
                    <img src="img/details/quadr.svg" class="quadr right bottom">
                    <div class="alldots_bg"></div>
                </div>
                <p class="firstline">Naveen Yannam</p>
                <p class="secondline">Netherlands</p>
                <img src="img/icon/ic_more.svg" class="more right bottom" title="more">
            </div>
            <div class="collapsible-body">
				<span class="singleline link">
					<a href="https://www.linkedin.com/in/naveen-yannam-1553a91" target="_blank" class="linkedin icon button">
						<img src="img/details/a_small.svg" class="angle left top">
						<img src="img/details/a_small.svg" class="angle right top">
						<img src="img/details/a_small.svg" class="angle right bottom">
						<img src="img/details/a_small.svg" class="angle left bottom">
					</a>
					<p class="firstline link">Linkedin</p>
					<p class="body">
                        I work in ecommerce from last 5 years. I am a SAP Hybris commerce Tech Lead, i understand the business of e-commerce. Your product has lot of potential, one of the best in ecommerce area so far. I believe in your product from the core. I see Elementh as a future goto ecommerce platform.I would appreciate the chance to contribute to this great product early in its phase.
                    </p>
                </span>
            </div>
        </li>
        <li>
            <div class="collapsible-header active twoline pic large">
                <div class="image zan">
                    <img src="img/details/star.svg" class="star left top">
                    <img src="img/details/star.svg" class="star left bottom">
                    <img src="img/details/star.svg" class="star right top">
                    <img src="img/details/star.svg" class="star right bottom">
                    <img src="img/details/quadr.svg" class="quadr left top">
                    <img src="img/details/quadr.svg" class="quadr left bottom">
                    <img src="img/details/quadr.svg" class="quadr right top">
                    <img src="img/details/quadr.svg" class="quadr right bottom">
                    <div class="alldots_bg"></div>
                </div>
                <p class="firstline">Žan Bartelj</p>
                <p class="secondline">Slovenia</p>
                <img src="img/icon/ic_more.svg" class="more right bottom" title="more">
            </div>
            <div class="collapsible-body">
				<span class="singleline link">
					<a href="https://www.facebook.com/zan.bartelj" target="_blank" class="facebook icon button">
						<img src="img/details/a_small.svg" class="angle left top">
						<img src="img/details/a_small.svg" class="angle right top">
						<img src="img/details/a_small.svg" class="angle right bottom">
						<img src="img/details/a_small.svg" class="angle left bottom">
					</a>
					<p class="firstline link">Facebook</p>
					<p class="body">
                        Im very interested, because i read that your making a new blockchain and afterwards your already planing to use it on different project - tracing goods is a one of my favourite ideas.
                    </p>
				</span>
            </div>
        </li>
        <li>
            <div class="collapsible-header active twoline pic large">
                <div class="image jeremy">
                    <img src="img/details/star.svg" class="star left top">
                    <img src="img/details/star.svg" class="star left bottom">
                    <img src="img/details/star.svg" class="star right top">
                    <img src="img/details/star.svg" class="star right bottom">
                    <img src="img/details/quadr.svg" class="quadr left top">
                    <img src="img/details/quadr.svg" class="quadr left bottom">
                    <img src="img/details/quadr.svg" class="quadr right top">
                    <img src="img/details/quadr.svg" class="quadr right bottom">
                    <div class="alldots_bg"></div>
                </div>
                <p class="firstline">Jeremy Artero</p>
                <p class="secondline">France</p>
                <img src="img/icon/ic_more.svg" class="more right bottom" title="more">
            </div>
            <div class="collapsible-body">
				<span class="singleline link">
					<a href="https://www.linkedin.com/in/jeremyartero" target="_blank" class="linkedin icon button">
						<img src="img/details/a_small.svg" class="angle left top">
						<img src="img/details/a_small.svg" class="angle right top">
						<img src="img/details/a_small.svg" class="angle right bottom">
						<img src="img/details/a_small.svg" class="angle left bottom">
					</a>
					<p class="firstline link">Linkedin</p>
					<p class="body">
                        Hi guys, I'm fond of e-commerce and worked on big french websites (c discount, galeries lafayette...) and your technology look awesome. I'd like to be part of ICO and use your project in concrete use cases! Wish you the best!
                    </p>
				</span>
            </div>
        </li>
    </ul>
</div>
