<div class="section" id="rewards">
	<div class="title">MIIIX REWARDS</div>
	<ul>
		<li>
			<a href="https://www.hse.ru/en/" target="_blank">
				<div class="collapsible-header nolink singleline pic">
					<div class="image winner"></div>
					<img src="img/details/a_medium.svg" class="angle left top">
					<img src="img/details/a_medium.svg" class="angle left bottom">
					<img src="img/details/a_medium.svg" class="angle right top">
					<img src="img/details/a_medium.svg" class="angle right bottom">
					<p class="firstline">Startup of the year 2013  from  Higher School of Economics</p>
				</div>
			</a>
		</li>
		<li class="nolink">
			<!-- <a href="/" target="_blank"> -->
				<div class="collapsible-header nolink twoline pic">
					<div class="image winner"></div>
					<img src="img/details/a_medium.svg" class="angle left top">
					<img src="img/details/a_medium.svg" class="angle left bottom">
					<img src="img/details/a_medium.svg" class="angle right top">
					<img src="img/details/a_medium.svg" class="angle right bottom">
					<p class="firstline">IT-Startup Eurasia</p>
					<p class="secondline">WINNER</p>
				</div>
			<!-- </a> -->
		</li>
		<li class="nolink">
			<!-- <a href="/" target="_blank"> -->
				<div class="collapsible-header nolink twoline pic">
					<div class="image winner"></div>
					<img src="img/details/a_medium.svg" class="angle left top">
					<img src="img/details/a_medium.svg" class="angle left bottom">
					<img src="img/details/a_medium.svg" class="angle right top">
					<img src="img/details/a_medium.svg" class="angle right bottom">
					<p class="firstline">CloudsNN</p>
					<p class="secondline">WINNER</p>
				</div>
			<!-- </a> -->
		</li>
		<li class="nolink">
			<!-- <a href="/" target="_blank"> -->
				<div class="collapsible-header nolink twoline pic">
					<div class="image winner"></div>
					<img src="img/details/a_medium.svg" class="angle left top">
					<img src="img/details/a_medium.svg" class="angle left bottom">
					<img src="img/details/a_medium.svg" class="angle right top">
					<img src="img/details/a_medium.svg" class="angle right bottom">
					<p class="firstline">StartupCup 2 place</p>
					<p class="secondline">WINNER</p>
				</div>
			<!-- </a> -->
		</li>
		<li class="nolink">
			<!-- <a href="/" target="_blank"> -->
				<div class="collapsible-header nolink singleline pic">
					<div class="image finalist"></div>
					<img src="img/details/a_medium.svg" class="angle left top">
					<img src="img/details/a_medium.svg" class="angle left bottom">
					<img src="img/details/a_medium.svg" class="angle right top">
					<img src="img/details/a_medium.svg" class="angle right bottom">
					<p class="firstline">Bootcamp Ventures Innovation Xchange (iX) Tel Aviv</p>
				</div>
			<!-- </a> -->
		</li>
		<li class="nolink">
			<!-- <a href="/" target="_blank"> -->
				<div class="collapsible-header nolink twoline pic">
					<div class="image finalist"></div>
					<img src="img/details/a_medium.svg" class="angle left top">
					<img src="img/details/a_medium.svg" class="angle left bottom">
					<img src="img/details/a_medium.svg" class="angle right top">
					<img src="img/details/a_medium.svg" class="angle right bottom">
					<p class="firstline">WebReady</p>
					<p class="secondline">FINALIST</p>
				</div>
			<!-- </a> -->
		</li>
		<li class="nolink">
			<!-- <a href="/" target="_blank"> -->
				<div class="collapsible-header nolink twoline pic">
					<div class="image finalist"></div>
					<img src="img/details/a_medium.svg" class="angle left top">
					<img src="img/details/a_medium.svg" class="angle left bottom">
					<img src="img/details/a_medium.svg" class="angle right top">
					<img src="img/details/a_medium.svg" class="angle right bottom">
					<p class="firstline">MABA</p>
					<p class="secondline">FINALIST</p>
				</div>
			<!-- </a> -->
		</li>
		<li class="nolink">
			<!-- <a href="/" target="_blank"> -->
				<div class="collapsible-header nolink twoline pic">
					<div class="image finalist"></div>
					<img src="img/details/a_medium.svg" class="angle left top">
					<img src="img/details/a_medium.svg" class="angle left bottom">
					<img src="img/details/a_medium.svg" class="angle right top">
					<img src="img/details/a_medium.svg" class="angle right bottom">
					<p class="firstline">VC Day Ingria</p>
					<p class="secondline">FINALIST</p>
				</div>
			<!-- </a> -->
		</li>
		<li class="nolink">
			<!-- <a href="/" target="_blank"> -->
				<div class="collapsible-header nolink twoline pic">
					<div class="image finalist"></div>
					<img src="img/details/a_medium.svg" class="angle left top">
					<img src="img/details/a_medium.svg" class="angle left bottom">
					<img src="img/details/a_medium.svg" class="angle right top">
					<img src="img/details/a_medium.svg" class="angle right bottom">
					<p class="firstline">Zvorykin Prize</p>
					<p class="secondline">FINALIST</p>
				</div>
			<!-- </a> -->
		</li>
		<li class="nolink">
			<!-- <a href="/" target="_blank"> -->
				<div class="collapsible-header nolink twoline pic">
					<div class="image semifinalist"></div>
					<img src="img/details/a_medium.svg" class="angle left top">
					<img src="img/details/a_medium.svg" class="angle left bottom">
					<img src="img/details/a_medium.svg" class="angle right top">
					<img src="img/details/a_medium.svg" class="angle right bottom">
					<p class="firstline">Startup World Barcelona</p>
					<p class="secondline">SEMIFINALIST</p>
				</div>
			<!-- </a> -->
		</li>
		<li class="nolink">
			<!-- <a href="/" target="_blank"> -->
				<div class="collapsible-header nolink twoline pic">
					<div class="image semifinalist"></div>
					<img src="img/details/a_medium.svg" class="angle left top">
					<img src="img/details/a_medium.svg" class="angle left bottom">
					<img src="img/details/a_medium.svg" class="angle right top">
					<img src="img/details/a_medium.svg" class="angle right bottom">
					<p class="firstline">Mind the Bridge Trento, Italy</p>
					<p class="secondline">SEMIFINALIST</p>
				</div>
			<!-- </a> -->
		</li>
	</ul>
</div>
