<div class="section scrollspy" id="roadmap">
	<div class="title">ROADMAP</div>
	<div class="singleline year">
		<p class="year">
			<img src="img/details/a_medium.svg" class="angle left top">
			<img src="img/details/a_medium.svg" class="angle right bottom">
			2012
		</p>
		<p class="secondline">MIIIX company establishment</p>
		<div class="liner"></div>
	</div>
	<div class="singleline year">
		<p class="year">
			<img src="img/details/a_medium.svg" class="angle left top">
			<img src="img/details/a_medium.svg" class="angle right bottom">
			2012
		</p>
		<p class="secondline">Investments from RSV Venture Partners and business angels</p>
		<div class="liner"></div>
	</div>
	<div class="singleline year">
		<p class="year">
			<img src="img/details/a_medium.svg" class="angle left top">
			<img src="img/details/a_medium.svg" class="angle right bottom">
			2014
		</p>
		<p class="secondline">Number of product categories is 1000</p>
		<div class="liner"></div>
	</div>
	<div class="singleline year">
		<p class="year">
			<img src="img/details/a_medium.svg" class="angle left top">
			<img src="img/details/a_medium.svg" class="angle right bottom">
			2016
		</p>
		<p class="secondline">In the MIIIX database there are 70 mln SKU in 30,000 product categories, 1000 shops from different industries, clients from small shops to the most largest portals in the field of e-commerce (Sberbank AST)</p>
		<div class="liner"></div>
	</div>
	<div class="singleline year">
		<p class="year">
			<img src="img/details/a_medium.svg" class="angle left top">
			<img src="img/details/a_medium.svg" class="angle right bottom">
			2017
		</p>
		<p class="secondline">The transition to the blockchain technology with introduction of opensource project Elementh</p>
	</div>
	<div class="singleline year ico">
		<p class="year">
			<img src="img/details/a_medium.svg" class="angle left top">
			<img src="img/details/a_medium.svg" class="angle right bottom">
			01/2018
		</p>
		<p class="secondline">Private Pre-SALE (15.01 - 31.01)<br><i>Only whitelist; min. 10ETH or 1BTC; max. 100 investors; 1EEE = 0,0001ETH; Whitelist BONUS: 50%</i></p>
		<div class="liner"></div>
	</div>
	<div class="singleline year ico">
		<p class="year">
			<img src="img/details/a_medium.svg" class="angle left top">
			<img src="img/details/a_medium.svg" class="angle right bottom">
			02/2018
		</p>
		<p class="secondline">Pre-ICO (01.02 - 14.02)<br><i>min. 1ETH or 0.1BTC; max. 1000 investors; 1EEE = 0,0001ETH; Whitelist BONUS: First day: 30%, Second day: 15%</i></p>
		<div class="liner"></div>
	</div>
	<div class="singleline year ico last">
		<p class="year">
			<img src="img/details/a_medium.svg" class="angle left top">
			<img src="img/details/a_medium.svg" class="angle right bottom">
			03/2018
		</p>
		<p class="secondline">ICO (01.03 - 31.03)<br><i>1EEE = 0,0002ETH; Whitelist BONUS: First day: 30%, Second day: 15%</i></p>
	</div>
	<div class="singleline year">
		<p class="year">
			<img src="img/details/a_medium.svg" class="angle left top">
			<img src="img/details/a_medium.svg" class="angle right bottom">
			06/2018
		</p>
		<p class="secondline">Alpha</p>
		<div class="liner"></div>
	</div>
	<div class="singleline year">
		<p class="year">
			<img src="img/details/a_medium.svg" class="angle left top">
			<img src="img/details/a_medium.svg" class="angle right bottom">
			09/2018
		</p>
		<p class="secondline">TestNet</p>
		<div class="liner"></div>
	</div>
	<div class="singleline year">
		<p class="year">
			<img src="img/details/a_medium.svg" class="angle left top">
			<img src="img/details/a_medium.svg" class="angle right bottom">
			12/2018
		</p>
		<p class="secondline">Launch of DAPPS: Store designer, Tracking the movement of goods, Search for goods by geolocation, Fakes search</p>
	</div>
	<div class="singleline year">
		<p class="year">
			<img src="img/details/a_medium.svg" class="angle left top">
			<img src="img/details/a_medium.svg" class="angle right bottom">
			03/2019
		</p>
		<p class="secondline">First DAPP</p>
		<div class="liner"></div>
	</div>
</div>
