<div id="signin_modal" class="sign disnone">
    <div class="wlmodal">
        <div class="description">
            <div id="signin_modal_close" class="icon close pointer" title="Close"></div>
            SIGN IN
        </div>
        <form id="signin_form" class="sign_form">
            <div class="inputtext">
                <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg" class="angle right bottom">
                <input type="email" form="signin_form" name="email" maxlength="100" placeholder="Your Email" required>
            </div>
            <div class="inputtext">
                <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg" class="angle right bottom">
                <input type="password" form="signin_form" name="password" maxlength="100" placeholder="Password" required>
            </div>
            <p class="body">or</p>
            <div class="continue_fb"></div>
            <button type="submit" form="signin_form" class="button bttn">
                <img src="img/details/a_medium.svg" class="angle left top">
                SIGN IN
                <img src="img/details/a_medium.svg" class="angle right bottom">
            </button>
            <p class="body text_left">Not a member yet? <span id="singin_to_signup" class="underline pointer">Sign up</span></p>
            <p class="body text_left">Forgotten your password? <span id="signin_to_resetpass" class="underline pointer">Reset password</span></p>
        </form>
    </div>

    <div class="display_bg"><div class="lines"></div></div>
</div>