<div id="signup_modal" class="sign disnone">
    <div class="wlmodal">
        <div class="description">
            <div id="signup_modal_close" class="icon close pointer" title="Close"></div>
            SIGN UP
        </div>
        <form id="signup_form" class="sign_form">
            <div class="inputtext">
                <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg" class="angle right bottom">
                <input type="text" form="signup_form" name="username" maxlength="100" placeholder="Your Name" required>
            </div>
            <div class="inputtext">
                <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg" class="angle right bottom">
                <input type="email" form="signup_form" name="email" maxlength="100" placeholder="Your Email" required>
            </div>
            <div class="inputtext">
                <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg" class="angle right bottom">
                <input type="password" form="signup_form" name="password" maxlength="100" placeholder="Password" required>
            </div>
            <div class="inputtext">
                <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg" class="angle right bottom">
                <input type="password" form="signup_form" name="password" maxlength="100" placeholder="Confirm your Password" required>
            </div>
            <p class="body">or</p>
            <div class="continue_fb"></div>
            <button type="submit" form="signup_form" class="button bttn">
                <img src="img/details/a_medium.svg" class="angle left top">
                SIGN UP
                <img src="img/details/a_medium.svg" class="angle right bottom">
            </button>
            <p class="body text_left">Already registered? <span id="singup_to_signin" class="underline pointer">Sign in</span></p>
        </form>
    </div>

    <div class="display_bg"><div class="lines"></div></div>
</div>