<div id="signup_modal" class="sign" xmlns="http://www.w3.org/1999/html">
    <div class="wlmodal">
        <div class="description" data-i18n="Sign up">
            SIGN UP
        </div>
        <form id="signup_form" class="sign_form">
            <p class="body text_left"><span data-i18n="YourName">Your name</span><span class="red">*</span>:</p>
            <div class="inputtext">
                <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg" class="angle right bottom">
                <input type="text" form="signup_form" name="username" maxlength="100" placeholder="John Doe" required>
            </div>
            <p class="body text_left"><span data-i18n="YourEmail">Your Email</span><span class="red">*</span>:</p>
            <div class="inputtext">
                <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg" class="angle right bottom">
                <input type="email" form="signup_form" name="email" maxlength="100" placeholder="johndoe@site.com" required>
            </div>
            <p class="body text_left red" data-i18n="yahooDescription">We have troubles to send emails to @yahoo.com, please use another email!</p>
            <p class="body text_left"><span data-i18n="Password">Password</span><span class="red">*</span>:</p>
            <div class="inputtext">
                <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg" class="angle right bottom">
                <input type="password" form="signup_form" name="password" maxlength="100" placeholder="minimum 8 symbols" required>
            </div>
            <p class="body text_left"><span data-i18n="ConfirmYourPassword">Confirm your Password</span><span class="red">*</span>:</p>
            <div class="inputtext">
                <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg" class="angle right bottom">
                <input type="password" form="signup_form" name="confirm_password" maxlength="100" placeholder="" required>
            </div>
            <p class="body text_left"><span data-i18n="YourETHAddress">Your ETH address</span><span class="red">*</span>:</p>
            <div class="inputtext">
                <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg" class="angle right bottom">
                <input type="text" form="signup_form" name="ETH_wallet" maxlength="100" placeholder="0x0000000000000000000000000000000000000000" required>
            </div>
            <p class="body text_left"><span data-i18n="YourCountry">Your country</span><span class="red">*</span>:</p>
            <div class="inputtext">
                <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg" class="angle right bottom">
                <input type="text" form="signup_form" name="country" maxlength="100" placeholder="" required>
            </div>
            <p class="body text_left"><span data-i18n="YourTelegramAccount">Your Telegram account</span>:</p>
            <div class="inputtext">
                <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg" class="angle right bottom">
                <input type="text" form="signup_form" name="telegram_username" maxlength="100" placeholder="@johndoe">
            </div>
            <p class="body" data-i18n="or">or</p>
            <div class="fb-login-button" onlogin="checkLoginState();" scope="public_profile,email" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>
            <div class="error disnone"></div>
            <button type="submit" form="signup_form" class="button bttn">
                <img src="img/details/a_medium.svg" class="angle left top" data-i18n="Sign up">
                <span data-i18n="Sign up">SIGN UP</span>
                <img src="img/details/a_medium.svg" class="angle right bottom">
            </button>
            <p class="body text_left"><span data-i18n="AlreadyRegistered">Already registered</span>? <a href="signin" class="underline pointer" data-i18n="Sign in">Sign in</a></p>
        </form>
    </div>

    <div class="display_bg"><div class="lines"></div></div>
</div>