<div id="signup_modal" class="sign">
    <div class="wlmodal">
        <div class="description">
            SIGN UP
        </div>
        <form id="signup_form" class="sign_form">
            <p class="body text_left">Your name:</p>
            <div class="inputtext">
                <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg" class="angle right bottom">
                <input type="text" form="signup_form" name="username" maxlength="100" placeholder="John Doe" required>
            </div>
            <p class="body text_left">Your Email:</p>
            <div class="inputtext">
                <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg" class="angle right bottom">
                <input type="email" form="signup_form" name="email" maxlength="100" placeholder="johndoe@site.com" required>
            </div>
            <p class="body text_left">Password:</p>
            <div class="inputtext">
                <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg" class="angle right bottom">
                <input type="password" form="signup_form" name="password" maxlength="100" placeholder="" required>
            </div>
            <p class="body text_left">Confirm your Password:</p>
            <div class="inputtext">
                <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg" class="angle right bottom">
                <input type="password" form="signup_form" name="confirm_password" maxlength="100" placeholder="" required>
            </div>
            <p class="body text_left">Your Telegram account:</p>
            <div class="inputtext">
                <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg" class="angle right bottom">
                <input type="text" form="signup_form" name="telegram" maxlength="100" placeholder="@johndoe" required>
            </div>
            <p class="body text_left">Your ETH address:</p>
            <div class="inputtext">
                <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg" class="angle right bottom">
                <input type="text" form="signup_form" name="eth-address" maxlength="100" placeholder="0x0000000000000000000000000000000000000000" required>
            </div>
            <p class="body text_left">Your country:</p>
            <div class="inputtext">
                <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg" class="angle right bottom">
                <input type="text" form="signup_form" name="country" maxlength="100" placeholder="" required>
            </div>
            <p class="body">or</p>
            <div class="fb-login-button" onlogin="checkLoginState();" scope="public_profile,email" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>
            <div class="error disnone"></div>
            <button type="submit" form="signup_form" class="button bttn">
                <img src="img/details/a_medium.svg" class="angle left top">
                SIGN UP
                <img src="img/details/a_medium.svg" class="angle right bottom">
            </button>
            <p class="body text_left">Already registered? <a href="signin.html" class="underline pointer">Sign in</a></p>
        </form>
    </div>

    <div class="display_bg"><div class="lines"></div></div>
</div>