<div id="tabs_container_bounty" class="tabs_container">
    <p class="title">BOUNTY</p>
    <p class="description">Welcome to Elementh Bounty Campaign!</p>
    <p class="body">Learn all information about Elementh Bounty Campaign here - <a href="https://bitcointalk.org/index.php?topic=2899838.0" target="_blank" class="underline">https://bitcointalk.org/index.php?topic=2899838.0</a></p>
    <p class="description mbottom">To participate in Elementh Bounty Campaign you need to:</p>
    <a id="bounty_join_telegram" href="/" target="_blank" class="big_button">
        <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg" class="angle right top"><img src="img/details/a_medium.svg" class="angle right bottom"><img src="img/details/a_medium.svg" class="angle left bottom">
        Join Elementh Community on Telegram
    </a>
    <a id="bounty_join_bounty_telegram" href="/" target="_blank" class="big_button">
        <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg" class="angle right top"><img src="img/details/a_medium.svg" class="angle right bottom"><img src="img/details/a_medium.svg" class="angle left bottom">
        Join Elementh Bounty Campaign Telegram
    </a>
</div>