<div id="tabs_container_referral" class="tabs_container">
    <p class="title">REFERRAL</p>
    <p class="description">Welcome to Elementh Referral Program!</p>
    <p class="body">You can earn ETH/BTC by attracting more contributors using your unique referral link.<br>
        You'll receive 5% of your referrals purchase amount in ETH/BTC after the end of token sale.
    </p>
    <p class="description">Here is your referral link:</p>
    <div class="data data_last">
        <div class="data_user readonly">
            <form id="unique_referral_link_copy_form">
                <div class="inputtext copy">
                    <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg" class="angle right bottom">
                    <input id="unique_referral_link_input" name="unique_referral_link" type="text" value="https://elementh.io/8e23f9c79aeb433933f9c13d1e79bf617d47f9be" readonly>
                </div>
                <span id="unique_referral_link_copy" class="data_btn" data-clipboard-target="#unique_referral_link_input">COPY</span>
                <span id="unique_referral_link_copied" class="data_btn copied">COPIED</span>
            </form>
        </div>
    </div>
    <p class="description">STATS:</p>
    <div class="data data_last">
        <div class="data_name">Total referrals:</div>
        <div class="data_user">
            <span id="user_referral_count">None</span>
        </div>
    </div>
    <div class="data data_last">
        <div class="data_name">After ICO stage you will receive:</div>
        <div class="data_user">
            <span id="user_referral_balance">None</span>
        </div>
    </div>
</div>