<div id="tabs_container_airdrop" class="tabs_container">
    <p class="title">AIRDROP</p>
    <p class="description">Welcome to Elementh Airdrop!</p>
    <p class="body">You can participate in Elementh Airdrop until the end of Elementh ICO.<br>To participate Elementh Airdrop you need to join our Telegram Community.</p>
    <a id="airdrop_join_telegram" href="/" target="_blank" class="big_button">
        <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg" class="angle right top"><img src="img/details/a_medium.svg" class="angle right bottom"><img src="img/details/a_medium.svg" class="angle left bottom">
        Join Elementh Community on Telegram
    </a>
    <p class="body">In order to participate in Elementh Airdrop you need to fill out the form below.</p>
</div>