<div id="tabs_container_contribute" class="tabs_container">
    <p class="title">CONTRIBUTE</p>
    <div id="kyc" class="disnone"></div>
    <form id="kyc_form" class="disnone">
        <div class="description">
            Verify your identity to participate in the Elementh token sale<br>
            Please, prepare the following documents for KYC, you have only 30 mins to end your KYC after you click the
            button:<br>
            <br>
            Proof of Identity:<br>
            You can send us these type of documents scanned or photographed from both sides:<br>
            – International Passport,<br>
            – Driver license,<br>
            – ID card.<br>
            <br>
            Selfie:<br>
            It is necessary to upload a selfie, a photo of you holding your ID document.<br>
            <br>
            Proof of address:<br>
            Proof of residence. It may be one of these documents: Utility Bill, Bank statement, Credit card statement,
            Tax invoices, Other government issued residential statements/certificates. The document should contain the
            full user name and address.
        </div>
        <button type="submit" form="kyc_form" class="button bttn">
            <img src="img/details/a_medium.svg" class="angle left top">
            START KYC
            <img src="img/details/a_medium.svg" class="angle right bottom">
        </button>
    </form>
    <div id="forAdopters" class="disnone">
        <div class="caption">Token balance:</div>
        <div id="user_token" class="data_text">loading...</div>
        <div style="height: 64px;">
            <div class="caption">&nbsp;</div>
            <div id="howToWatchEEE" class="data_text disnone"><a
                    href="https://drive.google.com/file/d/1bBSg8Id0cQesx1LuaAKiq7Usnzh4KQK7/view" target="_blank"
                    style="text-decoration: underline;">How to watch EEE in your wallet</a></div>
        </div>
        <div style="height: 64px;">
            <div class="caption">&nbsp;</div>
            <div id="investors_chat" class="data_text disnone"><a href="https://t.me/joinchat/Ct0cV1DIq-cCBwsspTIyPQ"
                                                                  target="_blank" style="text-decoration: underline;">Join
                Elementh Early Adopters Secret Chat</a></div>
        </div>
        <div class="button_block">
            <div id="contribute_prefund" class="big_button">
                <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg"
                                                                                class="angle right top"><img
                    src="img/details/a_medium.svg" class="angle right bottom"><img src="img/details/a_medium.svg"
                                                                                   class="angle left bottom">
                Join whales pool!
            </div>
        </div>
        <div id="prefund_block" class="disnone">
            <p class="description">
                Elementh ICO starts at April 01, however you can join right now to the pool, that will send funds to Elementh ICO as soon as it start.<br>
                <br>
                Why do you need it?<br>
                1. You'll not be late to Elementh ICO because pool will send funds automatically at 00:00 UTC as soon as ICO will be started.<br>
                2. You'll get 30% early bird bonus for sure, because pool will be the first participant in Elementh ICO.<br>
                3. Pool's smart contract is 100% refundable, so you don't risk at all. You can send your ETH to the pool's smart contract and get them back by refund at any moment till the start of Elementh ICO at April 01 00:00 UTC.<br>
                <br>
                So the pool helps to avoid the moment when you involve in gas wars and can be too late to participate in ICO, because hard cap is already reached. So be sure, that you will not late to Elementhb ICO and send funds to pool's smart contract right now:<br>
                <br>
                smart contract address:</p>
            <div class="data data_last">
                <div class="data_user readonly">
                    <form id="prefund_link_copy_form">
                        <div class="inputtext copy">
                            <img src="img/details/a_medium.svg" class="angle left top"><img
                                src="img/details/a_medium.svg"
                                class="angle right bottom">
                            <input id="prefund_link_input" name="prefund_link" type="text"
                                   value="" readonly>
                        </div>
                        <span id="prefund_link_copy" class="data_btn"
                              data-clipboard-target="#prefund_link_input">COPY</span>
                        <span id="prefund_link_copied" class="data_btn copied">COPIED</span>
                    </form>
                </div>
            </div>
        </div>
        <div>
            Information about Elementh ICO<br>
            Dates: 01.04-30.04<br>
            ICO Supply: 195M EEE<br>
            SoftCap: 10,000 ETH<br>
            HardCap: 30,000 ETH
        </div>
    </div>
    <div id="questionnaire" class="data disnone">
        <p class="description">SURVEY:</p>
        <div class="data_user readonly">
            <form id="questionnaire_form" class="survey">
                <div class="purchase">
                    <span style="margin-right: 16px">I would like to purchase tokens equal to</span>
                    <span class="inputtext">
                        <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg"
                                                                                        class="angle right bottom">
                        <input form="questionnaire_form" name="info8" maxlength="1000" placeholder="amount" required>
                    </span>
                    <span class="inputtext select">
                        <select form="questionnaire_form" name="info9" required>
                            <option value="ETH">ETH</option>
                            <option value="BTC">BTC</option>
                        </select>
                    </span>
                    <img src="img/icon/ic_dropdown.svg" class="select_dropdown dropdown">
                </div>
                <div class="inputtextarea">
                    <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg"
                                                                                    class="angle right bottom">
                    <textarea form="questionnaire_form" name="info1" maxlength="1000"
                              placeholder="What is your business?" required></textarea>
                </div>
                <div class="inputtextarea">
                    <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg"
                                                                                    class="angle right bottom">
                    <textarea form="questionnaire_form" name="info2" maxlength="1000"
                              placeholder="Why do you like Elementh ICO?" required></textarea>
                </div>
                <div class="inputtextarea">
                    <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg"
                                                                                    class="angle right bottom">
                    <textarea form="questionnaire_form" name="info3" maxlength="1000"
                              placeholder="How can you help our project?" required></textarea>
                </div>
                <div class="inputtextarea">
                    <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg"
                                                                                    class="angle right bottom">
                    <textarea form="questionnaire_form" name="info4" maxlength="1000"
                              placeholder="How can Elementh help you?" required></textarea>
                </div>
                <div class="inputtextarea">
                    <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg"
                                                                                    class="angle right bottom">
                    <textarea form="questionnaire_form" name="info5" maxlength="1000"
                              placeholder="Your Telegram / Kakaotalk / QQ / WeChat / Whatsup?" required></textarea>
                </div>
                <div class="inputtextarea">
                    <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg"
                                                                                    class="angle right bottom">
                    <textarea form="questionnaire_form" name="info6" maxlength="1000"
                              placeholder="Where did you know about Elementh?" required></textarea>
                </div>
                <div class="inputtextarea">
                    <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg"
                                                                                    class="angle right bottom">
                    <textarea form="questionnaire_form" name="info7" maxlength="1000"
                              placeholder="Do you know any local chats / websites / boards / channels etc. in your country, that we can use to attract investors? Please send links here"
                              required></textarea>
                </div>
                <div class="error disnone"></div>
                <button type="submit" form="questionnaire_form" class="button bttn">
                    <img src="img/details/a_medium.svg" class="angle left top">
                    SAVE
                    <img src="img/details/a_medium.svg" class="angle right bottom">
                </button>
            </form>
        </div>
    </div>
    <div class="button_block">
        <div id="contribute_get_eth" class="big_button disabled">
            <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg"
                                                                            class="angle right top"><img
                src="img/details/a_medium.svg" class="angle right bottom"><img src="img/details/a_medium.svg"
                                                                               class="angle left bottom">
            Send ETH
        </div>
        <div id="contribute_get_btc" class="big_button disabled right">
            <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg"
                                                                            class="angle right top"><img
                src="img/details/a_medium.svg" class="angle right bottom"><img src="img/details/a_medium.svg"
                                                                               class="angle left bottom">
            Send BTC
        </div>
    </div>
</div>