<div id="tabs_container_profile" class="tabs_container disblock">
    <p class="title">PROFILE</p>
    <div class="data">
        <div class="data_name">First Name:</div>
        <div class="data_user">
            <span id="user_first_name">Peter</span>
            <form id="user_first_name_edit_form" class="disnone">
                <div class="inputtext">
                    <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg" class="angle right bottom">
                    <input id="user_first_name_input" name="user_first_name" type="text" value="">
                </div>
                <span class="line_icon done_cancel">
                    <img class="done" src="img/icon/ic_done.svg"><img class="cancel" src="img/icon/ic_cancel.svg">
                </span>
            </form>
            <span class="data_btn">EDIT</span>
        </div>
    </div>
    <div class="data">
        <div class="data_name">Last Name:</div>
        <div class="data_user">
            <span id="user_last_name">Gashitsky</span>
            <form id="user_last_name_edit_form" class="disnone">
                <div class="inputtext">
                    <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg" class="angle right bottom">
                    <input id="user_last_name_input" name="user_first_name" type="text" value="">
                </div>
                <span class="line_icon done_cancel">
                    <img class="done" src="img/icon/ic_done.svg"><img class="cancel" src="img/icon/ic_cancel.svg">
                </span>
            </form>
            <span class="data_btn">EDIT</span>
        </div>
    </div>
    <div class="data">
        <div class="data_name">Email:</div>
        <div class="data_user">
            <span id="user_email">gashitsky@gmail.com</span>
            <form id="user_email_edit_form" class="disnone">
                <div class="inputtext">
                    <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg" class="angle right bottom">
                    <input id="user_email_input" name="user_email" type="text" value="">
                </div>
                <span class="line_icon done_cancel">
                    <img class="done" src="img/icon/ic_done.svg"><img class="cancel" src="img/icon/ic_cancel.svg">
                </span>
            </form>
            <span id="user_email_edit" class="data_btn">EDIT</span><span id="verify_email" class="data_btn verify">VERIFY</span><span id="confirmed_email" class="data_btn confirmed">CONFIRMED</span>
        </div>
    </div>
    <div class="data">
        <div class="data_name">Password:</div>
        <div class="data_user">
            <span id="user_password">none</span>
            <form id="user_password_edit_form" class="disnone">
                <div class="inputtext">
                    <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg" class="angle right bottom">
                    <input id="user_password_input" name="user_password" type="password" value="">
                </div>
                <span class="line_icon done_cancel">
                    <img class="done" src="img/icon/ic_done.svg"><img class="cancel" src="img/icon/ic_cancel.svg">
                </span>
            </form>
            <span class="data_btn">EDIT</span>
        </div>
    </div>
    <div class="data">
        <div class="data_name">Telegram account:</div>
        <div class="data_user">
            <span id="user_telegram">@gashitsky</span>
            <form id="user_telegram_edit_form" class="disnone">
                <div class="inputtext">
                    <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg" class="angle right bottom">
                    <input id="user_telegram_input" name="user_telegram" type="text" value="">
                </div>
                <span class="line_icon done_cancel">
                    <img class="done" src="img/icon/ic_done.svg"><img class="cancel" src="img/icon/ic_cancel.svg">
                </span>
            </form>
            <span id="user_telegram_edit" class="data_btn">EDIT</span><span id="verify_telegram" class="data_btn verify">VERIFY</span><span id="confirmed_telegram" class="data_btn confirmed">CONFIRMED</span>
        </div>
    </div>
    <div class="data">
        <div class="data_name">ETH address:</div>
        <div class="data_user">
            <span id="user_wallet_eth" class="wallet_address">123456789012345678901234567890123456789012</span>
            <form id="wallet_eth_edit_form" class="disnone">
                <div class="inputtext">
                    <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg" class="angle right bottom">
                    <input id="user_wallet_eth_input" name="user_wallet_eth" type="text" value="">
                </div>
                <span class="line_icon done_cancel">
                    <img class="done" src="img/icon/ic_done.svg"><img class="cancel" src="img/icon/ic_cancel.svg">
                </span>
            </form>
            <span class="data_btn">EDIT</span>
        </div>
    </div>
    <div class="data data_last">
        <div class="data_name">Country:</div>
        <div class="data_user">
            <span id="user_country">Russia</span>
            <form id="wallet_country_form" class="disnone">
                <div class="inputtext">
                    <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg" class="angle right bottom">
                    <input id="user_country_input" name="user_country" type="text" value="">
                </div>
                <span class="line_icon done_cancel">
                    <img class="done" src="img/icon/ic_done.svg"><img class="cancel" src="img/icon/ic_cancel.svg">
                </span>
            </form>
            <span class="data_btn">EDIT</span>
        </div>
    </div>
</div>