<div id="tabs_container_contribute" class="tabs_container">
    <p class="title">CONTRIBUTE</p>
    <div class="button_block">
        <div id="contribute_get_eth" class="big_button disabled">
            <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg" class="angle right top"><img src="img/details/a_medium.svg" class="angle right bottom"><img src="img/details/a_medium.svg" class="angle left bottom">
            Send ETH
        </div>
        <div id="contribute_get_btc" class="big_button disabled right">
            <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg" class="angle right top"><img src="img/details/a_medium.svg" class="angle right bottom"><img src="img/details/a_medium.svg" class="angle left bottom">
            Send BTC
        </div>
    </div>
    <div id="contribute_join_whitelist" class="big_button">
        <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg" class="angle right top"><img src="img/details/a_medium.svg" class="angle right bottom"><img src="img/details/a_medium.svg" class="angle left bottom">
        Join Whitelist to get BONUS
    </div>
    <div id="kyc" class="disnone"></div>
    <form id="kyc_form" class="disnone">
        <div class="description">
            <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg" class="angle right bottom">
            Verify your identity to participate in the Elementh token sale
        </div>
        <button type="submit" form="kyc_form" class="button bttn">
            <img src="img/details/a_medium.svg" class="angle left top">
            START KYC
            <img src="img/details/a_medium.svg" class="angle right bottom">
        </button>
    </form>
</div>