<div id="tabs_container_airdrop" class="tabs_container">
    <p class="title">AIRDROP</p>
    <p class="description">Welcome to Elementh Airdrop!</p>
    <p class="body">You can participate in Elementh Airdrop until the end of Elementh ICO.<br>To participate Elementh Airdrop you need to join our Telegram Community.</p>
    <a id="airdrop_join_telegram" href="/" target="_blank" class="big_button">
        <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg" class="angle right top"><img src="img/details/a_medium.svg" class="angle right bottom"><img src="img/details/a_medium.svg" class="angle left bottom">
        Join Elementh Community on Telegram
    </a>
    <p class="body">In order to participate in Elementh Airdrop you need to fill out the form below.</p>
    <div class="data">
        <div class="data_name">Email:</div>
        <div class="data_user">
            <span id="airdrop_user_email">gashitsky@gmail.com</span>
            <form id="airdrop_user_email_edit_form" class="disnone">
                <div class="inputtext">
                    <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg" class="angle right bottom">
                    <input id="airdrop_user_email_input" name="user_email" type="text" value="">
                </div>
                <span class="line_icon done_cancel">
                    <img class="done" src="img/icon/ic_done.svg"><img class="cancel" src="img/icon/ic_cancel.svg">
                </span>
            </form>
            <span id="airdrop_user_email_edit" class="data_btn">EDIT</span><span id="airdrop_verify_email" class="data_btn verify">VERIFY</span><span id="airdrop_confirmed_email" class="data_btn confirmed">CONFIRMED</span>
        </div>
    </div>
    <div class="data">
        <div class="data_name">Telegram account:</div>
        <div class="data_user">
            <span id="airdrop_user_telegram">@gashitsky</span>
            <form id="airdrop_user_telegram_edit_form" class="disnone">
                <div class="inputtext">
                    <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg" class="angle right bottom">
                    <input id="airdrop_user_telegram_input" name="user_telegram" type="text" value="">
                </div>
                <span class="line_icon done_cancel">
                    <img class="done" src="img/icon/ic_done.svg"><img class="cancel" src="img/icon/ic_cancel.svg">
                </span>
            </form>
            <span id="airdrop_user_telegram_edit" class="data_btn">EDIT</span><span id="airdrop_verify_telegram" class="data_btn verify">VERIFY</span><span id="airdrop_confirmed_telegram" class="data_btn confirmed">CONFIRMED</span>
        </div>
    </div>
    <p class="description">Copy your unique link below to share:</p>
    <div class="data data_last">
        <div class="data_user readonly">
            <form id="unique_airdrop_link_copy_form">
                <div class="inputtext copy">
                    <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg" class="angle right bottom">
                    <input id="unique_airdrop_link_input" name="unique_airdrop_link" type="text" value="https://elementh.io/8e23f9c79aeb433933f9c13d1e79bf617d47f9be" readonly>
                </div>
                <span id="unique_airdrop_link_copy" class="data_btn">COPY</span>
                <span id="unique_airdrop_link_copied" class="data_btn copied">COPIED</span>
            </form>
        </div>
    </div>
</div>