<div id="tabs_container_contribute" class="tabs_container">
    <p class="title">CONTRIBUTE</p>
    <div id="kyc" class="disnone"></div>
    <form id="kyc_form" class="disnone">
        <div class="description">
            Verify your identity to participate in the Elementh token sale
        </div>
        <button type="submit" form="kyc_form" class="button bttn">
            <img src="img/details/a_medium.svg" class="angle left top">
            START KYC
            <img src="img/details/a_medium.svg" class="angle right bottom">
        </button>
    </form>
    <div id="questionnaire" class="disnone">
        <div class="title">SURVEY</div>
        <form id="questionnaire_form">
            <div class="inputtextarea">
                <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg" class="angle right bottom">
                <textarea form="questionnaire_form" name="info1" maxlength="1000" placeholder="What is your business?" required></textarea>
            </div>
            <div class="inputtextarea">
                <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg" class="angle right bottom">
                <textarea form="questionnaire_form" name="info2" maxlength="1000" placeholder="Why do you like Elementh ICO?" required></textarea>
            </div>
            <div class="inputtextarea">
                <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg" class="angle right bottom">
                <textarea form="questionnaire_form" name="info3" maxlength="1000" placeholder="How can you help our project?" required></textarea>
            </div>
            <div class="inputtextarea">
                <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg" class="angle right bottom">
                <textarea form="questionnaire_form" name="info4" maxlength="1000" placeholder="How can Elementh help you?" required></textarea>
            </div>
            <div class="inputtextarea">
                <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg" class="angle right bottom">
                <textarea form="questionnaire_form" name="info5" maxlength="1000" placeholder="Your Telegram/Kakaotalk/QQ/WeChat/Whatsup?" required></textarea>
            </div>
            <div class="inputtextarea">
                <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg" class="angle right bottom">
                <textarea form="questionnaire_form" name="info6" maxlength="1000" placeholder="Where did you know about Elementh?" required></textarea>
            </div>
            <div class="inputtextarea">
                <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg" class="angle right bottom">
                <textarea form="questionnaire_form" name="info7" maxlength="1000" placeholder="Do you know any local chats/websites/boards/channels etc. in your country, that we can use to attract investors? Please send links here" required></textarea>
            </div>
            <div class="error disnone"></div>
            <button type="submit" form="questionnaire_form" class="button bttn">
                <img src="img/details/a_medium.svg" class="angle left top">
                SAVE
                <img src="img/details/a_medium.svg" class="angle right bottom">
            </button>
        </form>
    </div>
    <div class="button_block">
        <div id="contribute_get_eth" class="big_button disabled">
            <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg" class="angle right top"><img src="img/details/a_medium.svg" class="angle right bottom"><img src="img/details/a_medium.svg" class="angle left bottom">
            Send ETH
        </div>
        <div id="contribute_get_btc" class="big_button disabled right">
            <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg" class="angle right top"><img src="img/details/a_medium.svg" class="angle right bottom"><img src="img/details/a_medium.svg" class="angle left bottom">
            Send BTC
        </div>
    </div>
</div>