<div id="tabs_container_airdrop" class="tabs_container">
    <p class="title">AIRDROP</p>
    <div id="how_to_airdrop">
        <p class="description">Welcome to Elementh Airdrop!</p>
        <p class="body">To join Elementh Airdrop you need to:<br>
            1. Click "Join Elementh Airdrop on Telegram" button (this will open the bot conversation on your Telegram
            application/web version).<br>
            2. You need to click "Start" button in the Telegram application/web version itself (this will show you
            Elementh Telegram Community link).<br>
            3. Click Elementh Telegram Community link in the Telegram application/web version and join us on Telegram.
        </p>
        <a id="airdrop_join_telegram" href="/" target="_blank" class="big_button">
            <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg"
                                                                            class="angle right top"><img
                src="img/details/a_medium.svg" class="angle right bottom"><img src="img/details/a_medium.svg"
                                                                               class="angle left bottom">
            Join Elementh Airdrop on Telegram
        </a>
        <p class="body">You can participate in Elementh Airdrop until the end of Elementh ICO.</p>
        <div id="airdrop_check" class="big_button">
            <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg"
                                                                            class="angle right top"><img
                src="img/details/a_medium.svg" class="angle right bottom"><img src="img/details/a_medium.svg"
                                                                               class="angle left bottom">
            Check your Airdrop status
        </div>
    </div>
    <div id="airdrop_yes" class="disnone">
        <p class="body">
        <div class="allok">Congratulations! Now you are a participant of Elementh Airdrop Campaign!</div>
        Earn 1 extra stake for each of your referrals!<br>
        You can increase your the number of your tokens by total of 20x by adding 19 more referrals. They have to
        join
        Elementh Airdrop and participate untill the end of Airdrop.<br>
        Fake users and fraud attempts is strictly prohibited. Posting your referral link in our Telegram Community
        is
        not allowed. You may lose your entire airdrop tokens if you are found to have engaged in any fraudulent
        behaviour.<br>
        Here is your unique referral link, you can use it or use the social buttons to share:
        </p>
        <p class="description">Copy your unique link below to share:</p>
        <div class="data data_last">
            <div class="data_user readonly">
                <form id="unique_airdrop_link_copy_form">
                    <div class="inputtext copy">
                        <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg"
                                                                                        class="angle right bottom">
                        <input id="unique_airdrop_link_input" name="unique_airdrop_link" type="text"
                               value="https://elementh.io/8e23f9c79aeb433933f9c13d1e79bf617d47f9be" readonly>
                    </div>
                    <span id="unique_airdrop_link_copy" class="data_btn"
                          data-clipboard-target="#unique_airdrop_link_input">COPY</span>
                    <span id="unique_airdrop_link_copied" class="data_btn copied">COPIED</span>
                </form>
            </div>
        </div>
        <p class="description">STATS:</p>
        <div class="data data_last">
            <div class="data_name"></div>
            <div class="data_user">
                Now you have <span id="user_referral_airdrop_count"></span> stake(s) including yourself. You can still
                make more referrals!<br>
            </div>
        </div>
    </div>
    <div id="airdrop_no" class="disnone red">
        Currently, you are not a participant of Elementh Airdrop, to participate you need to:<br>
        Join Elementh Community by clicking "Join Elementh Airdrop on Telegram"<br>
        Verify your Telegram ID<br>
        Fill your Ethereum wallet address
    </div>
</div>