<div class="section" id="team">
	<div class="title">TEAM</div>
	<div class="main-carousel">
		<div class="carousel-cell team first">
			<a href="#person1" class="person-link"></a>
			<div class="person">
				{% include person1.html %}
			</div>
		</div>
		<div class="carousel-cell team">
			<a href="#person2" class="person-link"></a>
			<div class="person">
				{% include person1.html %}
			</div>
		</div>
		<div class="carousel-cell team last">
			<a href="#person2" class="person-link"></a>
			<div class="person">
				{% include person1.html %}
			</div>
		</div>
	</div>
</div>