<div class="section" id="team">
	<div class="title">TEAM</div>
	<ul class="collapsible" data-collapsible="expandable">
		<li>{% include person1.html %}</li>
		<li>{% include person2.html %}</li>
		<li>{% include person3.html %}</li>
		<li>{% include person4.html %}</li>
		<li>{% include person5.html %}</li>
		<li>{% include person6.html %}</li>
		<li>{% include person7.html %}</li>
		<li>{% include person8.html %}</li>
		<li>{% include person9.html %}</li>
		<li>{% include person10.html %}</li>
	</ul>
</div>