<div class="section" id="team">
	<div class="title">TEAM</div>
	<div class="main-carousel">
		<div class="carousel-cell team first">
			<a href="#person1" class="person-link"></a>
			<div class="person">
				{% include person1.html %}
			</div>
		</div>
		<div class="carousel-cell team">
			<a href="#person2" class="person-link"></a>
			<div class="person">
				{% include person2.html %}
			</div>
		</div>
		<div class="carousel-cell team">
			<a href="#person3" class="person-link"></a>
			<div class="person">
				{% include person3.html %}
			</div>
		</div>
		<div class="carousel-cell team">
			<a href="#person4" class="person-link"></a>
			<div class="person">
				{% include person4.html %}
			</div>
		</div>
		<div class="carousel-cell team">
			<a href="#person5" class="person-link"></a>
			<div class="person">
				{% include person5.html %}
			</div>
		</div>
		<div class="carousel-cell team">
			<a href="#person6" class="person-link"></a>
			<div class="person">
				{% include person6.html %}
			</div>
		</div>
		<div class="carousel-cell team">
			<a href="#person7" class="person-link"></a>
			<div class="person">
				{% include person7.html %}
			</div>
		</div>
		<div class="carousel-cell team">
			<a href="#person8" class="person-link"></a>
			<div class="person">
				{% include person8.html %}
			</div>
		</div>
		<div class="carousel-cell team">
			<a href="#person9" class="person-link"></a>
			<div class="person">
				{% include person9.html %}
			</div>
		</div>
		<div class="carousel-cell team last">
			<a href="#person10" class="person-link"></a>
			<div class="person">
				{% include person10.html %}
			</div>
		</div>
	</div>
</div>