<p id="userblock" class="body">
    <select>
        <option value="EN">English</option>
        <option value="RU">Русский</option>
    </select>
    <img src="img/icon/ic_dropdown.svg" class="select_dropdown dropdown">
    <span id="userblockU" class="disnone">
        <a href="/signin" class="underline pointer" data-i18n="Sign in">Sign in</a>
        <a href="/signup" class="underline pointer" data-i18n="Sign up">Sign up</a>
    </span>
    <span id="userblockR" class="disnone">
        <a href="/profile" class="underline pointer" data-i18n="Profile">Profile</a>
        <span id="logout_link" class="underline pointer" data-i18n="Log out">Log out</span>
    </span>
</p>