@charset "utf-8";

html, body {
	height: 100%;
	font-family: 'Play', Helvetica, sans-serif;
	letter-spacing: .2px;
	background-color: #FFF;
	color: rgba(255,255,255,.8);
	margin: 0px !important;
	padding: 0px !important;
	border: 0px !important;
	outline: 0px !important;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
input, textarea, button {
	margin: 0px;
	padding: 0px;
	border: 0px;
	outline: 0px;
	list-style-type: none;
}

a:link, a:active, a:visited { 
	border: none;
	color: inherit;
	text-decoration: none;
}

/*-------------- BG --------------*/

.display_bg, .lines, .dots_bg, .bigdots_bg, .alldots_bg {
	width: 100%;
	height: 100%;
}

.display_bg, .lines, .dots_bg {
	position: fixed;
	top: 0px;
	left: 0px;
}

.display_bg {
	background: {
		image: url(../img/bg/bg_mobile.jpg);
		size: cover;
		position: 50% 50%;
	}
	z-index: 0;
}

.lines {
	background: transparent url(../img/bg/lines.svg) repeat top left;
	opacity: .2;
}

.dots_bg {
	position: absolute;
	background: transparent url(../img/bg/dots.svg) repeat top left;
	opacity: .3;
}

.bigdots_bg {
	background: transparent url(../img/bg/bigdots.svg) repeat top left;
}

.alldots_bg {
	background: transparent url(../img/bg/alldots.svg) repeat top left;
}

.grid {
	background: transparent url(../img/bg/grid.svg) repeat top left;
}

/*------------ DETAILS ------------*/

.angle, .more, .star, .quadr {
	position: absolute;
	opacity: .4;
}

.top { top: 0px; }

.right { right: 0px; }

.bottom { bottom: 0px; }

.left { left: 0px; }

.star {
	&.top { top: 12px; }
	&.right { right: 12px; }
	&.bottom { bottom: 12px; }
	&.left { left: 12px; }
}

.quadr {
	&.top { top: -2px; }
	&.right { right: -2px; }
	&.bottom { bottom: -2px; }
	&.left { left: -2px; }
}

.angle {
	&.right.top {
		-webkit-transform: rotate(90deg);
		   -moz-transform: rotate(90deg);
			-ms-transform: rotate(90deg);
			 -o-transform: rotate(90deg);
				transform: rotate(90deg);
	}
	&.left.bottom {
	-webkit-transform: rotate(-90deg);
	   -moz-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		 -o-transform: rotate(-90deg);
			transform: rotate(-90deg);
	}
	&.right.bottom {
	-webkit-transform: rotate(180deg);
	   -moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		 -o-transform: rotate(180deg);
			transform: rotate(180deg);
	}
}

.liner {
	width: 100%;
	height: 0px;
	position: absolute;
	top: 8px;
	opacity: 0.3;
	border-top: dotted 1px #ffffff;
}

#menu ul li.liner {
	width: 100%;
	height: 0px;
	position: relative;
	top: 0px;
	margin: 31px 0 31px 0;
}

/*------------- ICON -------------*/

.icon {
	margin: 12px;
	opacity: .7;
}

.icon:hover,.icon.button:hover,.button:hover, li:active, .item:active, #menu ul li:hover {
	background-color: rgba(255,255,255,.25);
}

.logo {
	width: 33px;
	height: 33px;
	position: absolute;
	margin: 8px;
	background: url(../img/icon/ic_logo.svg)  center center no-repeat;
	z-index: 2;
}

.icon.logo:hover, .icon.menu:hover, .icon.close:hover {
	width: 49px;
	height: 49px;
	margin: 0;
}

.more {
	width: 25px;
	height: 25px;
}

.icon.button {
	width: 49px;
	height: 49px;
	margin: 15px 15px 4px 16px;
	padding-top: 0;
	background-color: rgba(255,255,255,.1);
}

.icon.button.link {
	margin: 16px 15px 15px 16px;
	float: left;
}

.menu, .close {
	width: 25px;
	height: 25px;
	position: fixed;
	top: 16px;
	right: 15px;
}

.menu {
	background: url(../img/icon/ic_menu.svg)  center center no-repeat;
}

.close {
	background: url(../img/icon/ic_close.svg)  center center no-repeat;
	z-index: 2;
}

.linkedin {
	background: url(../img/icon/ic_linkedin.svg)  center center no-repeat;
}

.facebook {
	background: url(../img/icon/ic_facebook.svg)  center center no-repeat;
}

.telegram {
	background: url(../img/icon/ic_telegram.svg)  center center no-repeat;
}

.twitter {
	background: url(../img/icon/ic_twitter.svg)  center center no-repeat;
}

.email {
	background: url(../img/icon/ic_email.svg)  center center no-repeat;
}

.iconpack {
	height: 80px;
}

/*------------ BLOCKS ------------*/

.description, .button {
	position: relative;
	margin: 16px 15px 15px 16px;
	line-height: 32px;
	text-align: center;
}

.description {
	padding: 16px 15px 17px 16px;
	font-size: 18px;
}

.button {
	display: inline-block;
	width: 193px;
	height: 49px;
	padding-top: 16px;
	font-size: 24px;
}

.collapsible li {
	margin: 0px 15px 15px 16px;
}

li {
	margin: 0px 15px 31px 16px;
}

.button, .collapsible-header, .collapsible-body, .person, .image {
	position: relative;
	background-color: rgba(255,255,255,.1);
}

.collapsible-body {
	background-color: rgba(255,255,255,.05);
}

.image {
	width: 129px;
	background-size: cover;
	opacity: .75;
}

.pic, .image {
	height: 129px;
	background-position: center center;
}

.line, .line.pic, .line.pic .image {
	height: 81px;
}

.line.pic .image {
	width: 81px;
}

.title {
	position: absolute;
	top: 50%;
	font-size: 18px;
	line-height: 24px;
	margin-right: 8px;
	-webkit-transform: translate(0,-50%);
	   -moz-transform: translate(0,-50%);
		-ms-transform: translate(0,-50%);
		 -o-transform: translate(0,-50%);
			transform: translate(0,-50%);
}

.titleblock {
	position: relative;
	margin-bottom: 16px;
}

.title.block {
	position: relative;
	top: 0;
	line-height: 16px;
	-webkit-transform: none;
	   -moz-transform: none;
		-ms-transform: none;
		 -o-transform: none;
			transform: none;
	text-align: center;
}

.title.twoline {
	top: 30%;
}

.pic .title, .pic .subhead {
	margin-left: 144px;
}

.line .title {
	margin-left: 16px;
}

.pic.line .title, .pic.line .subhead {
	margin-left: 96px;
}

.title.link {
	top: 40px;
	margin-left: 80px;
}

.line.number .number {
	width: 17px;
	padding-top: 32px;
	padding-left: 16px;
	text-align: center;
}

.line.number .title {
	margin-left: 48px;
}

.subhead {
	position: absolute;
	top: 50%;
	font-size: 16px;
	line-height: 24px;
	opacity: .75;
	margin-right: 8px;
	-webkit-transform: translate(0,-50%);
	   -moz-transform: translate(0,-50%);
		-ms-transform: translate(0,-50%);
		 -o-transform: translate(0,-50%);
			transform: translate(0,-50%);
}

.subhead.twoline {
	top: 70%;
}

.subhead.threeline {
	top: 60%;
}

.subhead.data.threeline {
	top: 80%;
}

.collapsible-body {
	display: none;
	padding-bottom: 16px;
}

.body {
	font-size: 14px;
	line-height: 24px;
	padding: 16px 15px 0px 16px;
}

#mission .body {
	position: relative;
	margin: 0px 15px 15px 16px;
	padding: 32px 31px 33px 32px;
	text-align: left;
}

form {
	position: relative;
	height: 49px;
	margin: 32px 15px 31px 16px;
	background-color: rgba(255,255,255,.1);
}

form div {
}

.inputdiv {
	margin-right: 49px;
	padding-left: 16px;
}

input {
	width: 100%;
	height: 49px;
	font: inherit;
	color: rgba(255,255,255,.9);
	background-color: rgba(255,255,255,0);
}

input::placeholder {
	color: rgba(255,255,255,.7)
}

button {
	position: absolute;
	background-color: rgba(255,255,255,0);
	height: 49px;
}

/*------------ HEADER ------------*/

header {
	width: 49px;
	height: 49px;
	position: fixed;
	margin: 16px 15px 16px 16px;
	z-index: 3;
}

#menu {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	overflow: auto;
	z-index: 10;

}

#menu ul {
	padding: 96px 15px 0px 16px;
	background: transparent url(../img/bg/grid.svg) repeat top left;
}

#menu .display_bg {
	z-index: -1;
}

#menu ul li {
	margin: 0px;
	margin-bottom: 15px;
}

#menu ul li a {
	display: inline-block;
	position: relative;
	width: 100%;
	height: 17px;
	padding: 16px 0;
	background-color: rgba(255,255,255,.1);
}

#menu ul li a p {
	margin-left: 16px;
}

#menu:target, #menu:target a.icon.close {
	display: block;

}

#menu:target + #content {
	display: none;
}

/*------------ FOOTER ------------*/

footer {
	position: relative;
	width: 100%;
	height: 65px;
	margin-top: 16px;
	border-top: dotted 1px;
	border-color: rgba(255,255,255,.3);
	z-index: 2;
}

footer .subhead {
	margin-left: 16px;
}

/*------------ CONTENT ------------*/

#content {
	width: 100%;
	position: absolute;
	z-index: 2;
}

.section {
	margin-top: 31px;
}

.anchor {
	height: 52px;
	padding: 22px 88px;
	font-size: 32px;
	color: #fff;
}

/*----- HERO -----*/

#hero{
	text-align: center;
	margin-top: 112px;
}

#text_logo {
	width: 216px;
	margin-bottom: 8px;
}

.scroll {
	display: inline-block;
	width: 33px;
	height: 25px;
	margin-top: 11px;
	margin-bottom: 8px;
	background: url(../img/icon/ic_scroll.svg)  center center no-repeat;
}

/*--- PROBLEMS ---*/

#problems {
}

/*--- FEATURES ---*/

#features {
	margin-top: 32px;
}

.image.f1 {
	background-image: url(../img/features/f_1.svg);
}

.image.f2 {
	background-image: url(../img/features/f_1.svg);
}

.image.f3 {
	background-image: url(../img/features/f_1.svg);
}

/*---- CASES ----*/

#cases {
}

/*---- DAPPS ----*/

#dapps {
}

/*--- MISSION ---*/

#mission {
}

/*----- TEAM -----*/

#team {
}

.image.t1 {
	background-image: url(../img/advisors/a_1.png);
}

#person1:target a .t1 {
	background-image: url(../img/team/t_1c.jpg);
}

.image.t2 {
	background-image: url(../img/advisors/a_1.png);
}

.image.t3 {
	background-image: url(../img/advisors/a_1.png);
}

.image.t4 {
	background-image: url(../img/advisors/a_1.png);
}

.personmodal {
	position: absolute;
}

.person, .person .image, .personmodal {
	width: 193px;
	height: 337px;
}

.person .image {
	height: 257px;
}

.name, .role {
	font-size: 18px;
	line-height: 24px;
	margin: 10px 8px;
}

.role {
	font-size: 16px;
	opacity: .75;
}

.person a.icon.button, .person .liner, .person .body, .close, .person .image .dots_bg {
	display: none;
}

#person1:target {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	background-image: url(../img/bg/bg_mobile.jpg);
	background-size: cover;
	background-position: 50% 50%;
	overflow: auto;
	z-index: 100;

	.close {
		display: block;
	}

	.personmodal {
		width: 100%;

		.image {
			width: 100%;
			height: 100%;
			opacity: 1;

			.quadr, .alldots_bg {
				display: none;
			}

			.dots_bg {
				display: block;
				opacity: 0.2;
			}
		}

		.more {
			display: none;
		}

		.name {
	margin: 10px 8px;
		}

	}

	
}

/*--- ADVISORS ---*/

#advisors {
}

.image.a1 {
	background-image: url(../img/advisors/a_1.png);
}

.image.a2 {
	background-image: url(../img/advisors/a_1.png);
}

.image.a3 {
	background-image: url(../img/advisors/a_1.png);
}

.image.a4 {
	background-image: url(../img/advisors/a_1.png);
}

/*---- MEETUP ----*/

#meetup {
}

.image.m1 {
	background-image: url(../img/meetup/m_1.jpeg);
}

.image.m2 {
	background-image: url(../img/meetup/m_1.jpeg);
}

.image.m3 {
	background-image: url(../img/meetup/m_1.jpeg);
}

.image.m4 {
	background-image: url(../img/meetup/m_1.jpeg);
}

/*---- MEDIA ----*/

#media {
}

.image.me1 {
	background-image: url(../img/media/me_1.svg);
}

.image.me2 {
	background-image: url(../img/media/me_1.svg);
}

.image.me3 {
	background-image: url(../img/media/me_1.svg);
}

.image.me4 {
	background-image: url(../img/media/me_1.svg);
}

/*--- CONTACTS ---*/

#contact {
}