@charset "utf-8";

html, body {
	height: 100%;
	font-family: 'Play', Helvetica, sans-serif;
	line-height: 24px;
	letter-spacing: .2px;
	background-color: #0d1329 ;
	color: rgba(255,255,255,.8);
	margin: 0 !important;
	padding: 0 !important;
	border: 0 !important;
	outline: 0 !important;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
input, textarea, button {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	list-style-type: none;
}

input:disabled,input:read-only, button:disabled{
	opacity: 0.5;
}

a:link, a:active, a:visited { 
	border: none;
	color: inherit;
	text-decoration: none;
}

.red{
  color: red;
}
/*-------------- BG --------------*/

.display_bg, .lines, .dots_bg, .bigdots_bg, .alldots_bg {
	width: 100%;
	height: 100%;
}

.display_bg, .lines, .dots_bg {
	position: fixed;
	top: 0;
	left: 0;
}

.display_bg {
	background: {
		image: url(../img/bg/bg_mobile.jpg);
		size: cover;
		position: 50% 50%;
	}
	z-index: 0;
}

.lines {
	background: transparent url(../img/bg/lines.svg) repeat top left;
	opacity: .2;
}

.dots_bg {
	position: absolute;
	background: transparent url(../img/bg/dots.svg) repeat top left;
	opacity: .3;
}

.bigdots_bg {
	background: transparent url(../img/bg/bigdots.svg) repeat top left;
}

.alldots_bg {
	background: transparent url(../img/bg/alldots.svg) repeat top left;
}

.grid {
	background: transparent url(../img/bg/grid.svg) repeat top left;
}

/*------------ DETAILS ------------*/

.angle, .more, .star, .quadr {
	position: absolute;
	opacity: .4;
}

.top { top: 0; }

.right { right: 0; }

.bottom { bottom: 0; }

.left { left: 0; }

.text_left 	{text-align: left;}
.text_right {text-align: right;}

.underline {text-decoration: underline !important;}

.pointer {cursor: pointer;}

.star {
	&.top { top: 12px; }
	&.right { right: 12px; }
	&.bottom { bottom: 12px; }
	&.left { left: 12px; }
}

.quadr {
	&.top { top: -2px; }
	&.right { right: -2px; }
	&.bottom { bottom: -2px; }
	&.left { left: -2px; }
}

.angle {
	&.right.top {
		-webkit-transform: rotate(90deg);
		   -moz-transform: rotate(90deg);
			-ms-transform: rotate(90deg);
			 -o-transform: rotate(90deg);
				transform: rotate(90deg);
	}
	&.left.bottom {
		-webkit-transform: rotate(-90deg);
		   -moz-transform: rotate(-90deg);
			-ms-transform: rotate(-90deg);
			 -o-transform: rotate(-90deg);
				transform: rotate(-90deg);
	}
	&.right.bottom {
		-webkit-transform: rotate(180deg);
		   -moz-transform: rotate(180deg);
			-ms-transform: rotate(180deg);
			 -o-transform: rotate(180deg);
				transform: rotate(180deg);
	}
}

.liner {
	width: 100%;
	height: 0;
	position: absolute;
	top: 8px;
	opacity: 0.3;
	border-top: dotted 1px #ffffff;
}

.info {
	width: 272px;
	font-size: 14px;
	margin: 0 -7px 0 -8px;
	tbody {
		tr {
		.padd {padding-right: 8px;}
		}
	}
}

#timer{
	font-size: 40px;
	line-height: 64px;
}

#timerTitle {
	font-size: 24px;
	line-height: 34px;
}

.headline {
	width: 100%;
	position: relative;
	margin-bottom: 16px;
	.headliner {
		position: relative;
		line-height: 16px;
		text-align: center;
	}
	.liner { width: calc(50% - 48px); }

}

#menu ul li.liner {
	position: relative;
	top: 0;
	margin: 31px 0 31px 0;
}

/*------------- ICON -------------*/

.icon {
	margin: 12px;
	opacity: .7;
}

.logo, .logo-text {
	width: 33px;
	height: 33px;
	position: absolute;
	margin: 8px;
	background: url(../img/icon/ic_logo.svg)  center center no-repeat;
	z-index: 2;
	&-text {
		display: none;
		width: 225px;
		height: 65px;
		margin: 0;
		background: url(../img/text_logo.svg)  center center no-repeat;
	}
}

.more, .menu, .close, .submit {
	width: 25px;
	height: 25px;
}

.icon.button {
	width: 49px;
	height: 49px;
	margin: 15px 15px 9px 16px;
	padding-top: 0;
	&.link {
		margin: 16px 13px 8px 14px;
	}
}

.menu, .close {
	position: fixed;
	top: 16px;
	right: 15px;
}

.scroll {
	display: inline-block;
	width: 33px;
	height: 25px;
	margin: {
		right: 16px;
		left: 16px;
	}
}

#menu ul li, .icon, .link.button, .button {
	&:hover { background-color: rgba(255,255,255,.20); }
	&:active { background-color: rgba(255,255,255,.30); }
}

:hover {
	&.logo, &.menu, &.close, &.scroll, &.submit {
		width: 49px;
		height: 49px;
		margin: 0;
	}
	&.scroll {
		width: 65px;
		height: 49px;
	}
}

li:active { background-color: rgba(255,255,255,.20); }

li.nolink:active { background-color: rgba(255,255,255,.0); }


.iconpack	{
	overflow: hidden;
	text-align: center;
	.icon { display: inline-block; }
}

.line_icon {
	position: relative;
	top: 8px;
	height: 24px;
	width: 24px;
	opacity: .9;
	img {
		margin: {
			right: 8px;
			left: 8px;
		}
	}
}

.rotate {
	transform: rotate(90deg);
	margin-top: 16px !important;
	margin-left: 16px !important;
}

.home {z-index: 100;}

.close { z-index: 2; }

.close		{ background: url(../img/icon/ic_close.svg)  center center no-repeat; }

.cancel		{ background: url(../img/icon/ic_cancel.svg)  center center no-repeat; }

.done		{ background: url(../img/icon/ic_done.svg)  center center no-repeat; }

.menu		{ background: url(../img/icon/ic_menu.svg)  center center no-repeat; }

.scroll, .home{ background: url(../img/icon/ic_scroll.svg)  center center no-repeat; }

.linkedin	{ background: url(../img/icon/ic_linkedin.svg)  center center no-repeat; }

.facebook	{ background: url(../img/icon/ic_facebook.svg)  center center no-repeat; }

.telegram	{ background: url(../img/icon/ic_telegram.svg)  center center no-repeat; }

.twitter	{ background: url(../img/icon/ic_twitter.svg)  center center no-repeat; }

.bitcointalk{ background: url(../img/icon/ic_bitcointalk.svg)  center center no-repeat; }

.bounty		{ background: url(../img/icon/ic_bounty.svg)  center center no-repeat; }

.reddit		{ background: url(../img/icon/ic_reddit.svg)  center center no-repeat; }

.github		{ background: url(../img/icon/ic_github.svg)  center center no-repeat; }

.youtube	{ background: url(../img/icon/ic_youtube.svg)  center center no-repeat; }

.instagram	{ background: url(../img/icon/ic_instagram.svg)  center center no-repeat; }

.medium		{ background: url(../img/icon/ic_medium.svg)  center center no-repeat; }

.ic_foxico	{ background: url(../img/icon/ic_foxico.svg)  center center no-repeat; }

.steemit	{ background: url(../img/icon/ic_steemit.svg)  center center no-repeat; }

.behance	{ background: url(../img/icon/ic_behance.svg)  center center no-repeat; }

.email		{ background: url(../img/icon/ic_email.svg)  center center no-repeat; }

.submit		{ background: url(../img/icon/ic_submit.svg)  center center no-repeat; }

.add_person { background: url(../img/icon/ic_person_add.svg)  center center no-repeat; }

/*------------ BLOCKS ------------*/

.title, .button { font-size: 24px; }

.description, .headliner, .firstline { font-size: 18px; }

.secondline, .thirdline { font-size: 16px; opacity: .75; }

.body, .body-angle { font-size: 14px; line-height: 32px; }

.title {
	height: 38px;
	padding: 29px 80px;
	#rewards & { padding: 29px 15px 30px 80px; }
}

.description.contact { margin-top: 127px; }

.description, .button {
	position: relative;
	margin: 16px 15px 15px 16px;
	line-height: 32px;
	text-align: center;
}

.description { padding: 16px 15px 17px 16px; }

.button, #sbmt, #wallet, input, button { height: 49px; }

form { text-align: center; }

.button {
	display: inline-block;
	width: 193px;
	padding-top: 16px;
	&.bttn {
		height: 65px;
		font-family: 'Play', Helvetica, sans-serif;
		color: rgba(255,255,255,.8);
		margin: {
			top: 31px;
			left: 14px;
		}
		padding-top: 0;
		border-radius: 0;
	}
}

.body {
	padding: 16px 15px 0 16px;
	&-angle {
		position: relative;
		margin: 0 15px 15px 16px;
		padding: 16px 15px 17px 16px;
		text-align: left;
	}
}

.illustration {
	display: block;
	margin: auto;
	&.i1 {
		width: 258px;
		height: 258px;
		margin-bottom: 14px;
	}
	&.i2 {
		width: 250px;
		height: 350px;
		margin-bottom: 18px;
	}
	&.i3 {
		width: 258px;
		height: 225px;
		margin-bottom: 15px;
	}
	&.i4 {
		opacity: .9;
		width: 255px;
		margin-bottom: 12px;
	}
}

.firstline, .secondline, .thirdline {
	position: absolute;
	margin-left: 16px;
	margin-right: 8px;
	-webkit-transform: translate(0,-50%);
	   -moz-transform: translate(0,-50%);
		-ms-transform: translate(0,-50%);
		 -o-transform: translate(0,-50%);
			transform: translate(0,-50%);
}

footer .secondline { top: 48px; }

.image {
	height: inherit;
	opacity: .75;
	background: {
		position: center center;
		size: cover;
	}
}

.singleline, .twoline { height: 81px; }

.singleline {
	.firstline	{ top: 50%; }
	&.link {
		.firstline.link {
			top: 40px;
			margin-left: 80px;
		}
	}
	&.year {
		height: 100%;
		position: relative;
		margin: 0 15px 0 16px;
		overflow: hidden;
		.year {
			width: 81px;
			height: 26px;
			padding: 25px 0 30px;
			float: left;
			text-align: center;
		}
		.secondline {
			position: relative;
			margin: 25px 0 55px 97px;
			-webkit-transform: none;
			   -moz-transform: none;
				-ms-transform: none;
				 -o-transform: none;
					transform: none;
			opacity: 1;
			line-height: 32px;
		}
		.liner {
			width: 0;
			height: 100%;
			top: 81px;
			bottom: 0;
			left: 40px;
			border-top: none;
			border-right: dotted 1px #ffffff;
		}
	}
}

.twoline {
	.firstline	{ top: 30%; }
	.secondline { top: 70%; }
}

.threeline {
	.firstline	{ top: 30%; }
	.secondline	{ top: 60%; }
	.thirdline	{ top: 80%; }
}

.number {
	.number {
		width: 17px;
		padding-top: 30px;
		padding-left: 16px;
		text-align: center;
	}
	.firstline, .secondline { margin-left: 48px; }
}

.pic {
	.image { width: 81px; }
	.firstline, .secondline, .thirdline { margin-left: 96px; }
	&.large {
		height: 129px;
		.image { width: 129px; }
		.firstline, .secondline, .thirdline { margin-left: 144px; }
	}
}

li { margin: 0 15px 15px 16px; }

.button, .ico, .collapsible-header, .collapsible-body, .image, #sbmt, #wallet, #menu ul li, .singleline.year .year {
	position: relative;
	background-color: rgba(255,255,255,.1);
}

.ico.last {
	margin-bottom: 31px;
	.secondline {margin-bottom: 24px;}
}

.collapsible-header:hover {
	background-color: rgba(255,255,255,.2);
	cursor: pointer;
	&.nolink {
		background-color: rgba(255,255,255,.1);
		cursor: default;
	}
	& .image .alldots_bg { display: none; }
}

.collapsible-body {
	display: none;
	padding-bottom: 16px;
	background-color: rgba(255,255,255,.05);
}

#sbmt, #wallet {
	margin: 32px 15px 31px 16px;
	div .inputdiv {
		margin-right: 49px;
		padding-left: 16px;
		input {
			width: 100%;
			font: inherit;
			color: rgba(255,255,255,.9);
			background-color: rgba(255,255,255,0);
			&::placeholder { color: rgba(255,255,255,.3); }
		}
	}
}

button {
	cursor: pointer;
	position: absolute;
	background-color: rgba(255,255,255,0);
	border-radius: 0;
}

.yellow {
	background-color: rgba(255,193,7,.8);
	&:hover {background-color: rgba(255,193,7,.9);}
	&:active {background-color: rgba(255,193,7,1);}
}

#calltoaction {
	width: 100%;
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 9;
	.button {
		width: 100%;
		height: 48px;
		margin: 0;
		background-color: rgba(255,193,7,.95);
		.angle { display: none; }
	}
}

#page{
	text-align: center;
	margin-top: 12px;
	margin-bottom: 33px;
	form {
		max-width: 513px;
		margin: {
			top: 31px;
			bottom: 239px;
		}
		div {
			button.go, p {
				margin: 31px 15px 0 16px;
			}
			p {
				margin-top: 8px;
				width: 31px;
			}
			button#join_wl {margin-top: 15px;}
		}
	}
}

#userblock {
	position: absolute;
	top: 22px;
	right: 50px;
	text-align: right;
	padding-top: 0;
	span {margin-left: 16px;}
	a {margin-left: 16px;}
}

#join_wl {
	cursor: pointer;
	line-height: 32px;
}

#preico {}

.progressbar {
	width: 100%;
	height: 192px;
	margin-top: 16px;
	overflow: hidden;
	.percent_number {
		width: 65px;
		height: 89px;
		float: left;
		padding-top: 56px;
		margin-right: 15px;
		background-color: rgba(255,255,255,.1);
	}
	.progressdata {
		width: calc(100% - 81px);
		height: 145px;
		float: left;
		.balance, .hardcap, .softcap {
			height: 70px;
			.description, .title {
				margin: 0;
				padding: 0;
				text-align: left;
				line-height: 32px;
			}
		}
		.hardcap {
			position: relative;
			top: -28px;
		}
		.softcap {
			width: calc(100% + 80px);
			height: 32px;
			position: relative;
			top: 85px;
			left: -80px;
			.description {float: left;}
			.title {float: right;}
		}
		.progressline {
			width: 100%;
			height: 5px;
			background-color: rgba(255,255,255,.2);
			div {
				position: relative;
				height: 5px;
				background-color: rgba(255,255,255,1);
			}
			#softcap_line {
				top: -5px;
				border-right: 2px solid #0088cc;
				&:hover {background-color: #0088cc;}
			}
		}
	}
}

/*------------ MODAL -------------*/

.disnone { display: none; }

.disblock { display: block; }

#wl_ps, #wlmodal, .sign {z-index: 2;}

.wlmoda, #content.profile {
	width: 100%;
	overflow: inherit;
	&l .description {
		max-width: 961px;
		margin: auto;
		padding-top: 64px;
	}
	&l #wl_ps_form, #profile #profile_data, #questionnaire, &l .sign_form, &l #whitelist {
		max-width: 961px;
		margin: 15px 15px 95px 16px;
		.inputtext, .inputtextarea {
			height: 49px;
			position: relative;
			margin-bottom: 15px;
			padding-left: 16px;
			background-color: rgba(255,255,255,.1);
			input, textarea {
				height: 49px;
				width: 100%;
				font: inherit;
				color: rgba(255,255,255,.9);
				background-color: rgba(255,255,255,0);
				&::placeholder { color: rgba(255,255,255,.3); }
			}
		}
		.radioblock{
			height: 48px;
			margin-bottom: 16px;
			&.round {
				height: 100%;
				overflow: hidden;
			}
			.inputradio {
				width: 96px;
				height: 48px;
				text-align: left;
				float: left;
				&.round {
					width: 100%;
					height: 100%;
					max-width: 235px;
				}
				input {
					width: 16px;
					height: 16px;
					margin: 17px 15px 15px 17px;
					float: left;
				}
				p {
					padding-top: 13px;
					float: left;
					&.caption {
						margin-left: 48px;
						padding-top: 40px;
						font-size: 14px;
						line-height: 20px;
						opacity: .7;
						float: none;
					}
				}
			}
		}
		.inputtextarea {
			height: 84px;
			padding-top: 12px;
			textarea { height: 84px; }
		}
		button { margin-top: 31px; }
	}
}

.sign {
	.wlmodal {
		max-width: 480px;
		margin: 0 auto;
		.description {
			padding-top: 16px;
			.icon.close {
				position: absolute;
				top: 8px;
				right: 16px;
			}
		}
		form {
			margin: 0 16px;
			.continue_fb {
				width: 264px;
				height: 40px;
				margin: 16px auto 0;
				border-radius: 4px;
				background-color: rgba(255,255,255,.1);
			}
			.body {
				font-size: 16px;
				padding-top: 0px;
			}
		}
	}
}

.small_modal {
	width: 320px;
	position: absolute;
	left: 50%;
	font: inherit;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	text-align: center;
	.description {
		margin: 16px 15px 15px 16px;
		padding: 16px 15px 17px 16px;
	}
	.easy_toast {
		color: #0f9d58;
		line-height: 32px;
		text-align: center;
		visibility: hidden;
		&.visible {visibility: visible;}
	}
	& form {
		margin: 0;
		button.bttn {
			cursor: pointer;
			width: 193px;
			margin: 16px 15px 15px 16px;
		}
	}
	.button {
		cursor: pointer;
		float: left;
		margin: 16px 15px 15px 16px;
		&.floatnone {float: none;}
		&#wallet_eth_ok_close, &#wallet_btc_ok_close {width: 65px;}
	}
}

.data_text, .data_user {
	form {
		height: 49px;
		margin-top: 8px;
		margin-bottom: 8px;
		text-align: left;
		.radioblock {
			width: calc(100% - 86px);
			height: 49px;
			.inputradio {
				width: 33%;
				height: 49px;
				float: left;
				input {float: left;}
				p {
					float: left;
					line-height: 16px;
					margin-left: 8px;
					width: calc(100% - 32px);
					position: relative;
					top: 50%;
					transform: translateY(-50%);
				}
			}
		}
		.inputtext, .inputtextarea {
			width: calc(100% - 118px);
			height: 49px;
			position: relative;
			margin-bottom: 15px;
			padding-left: 16px;
			padding-right: 15px;
			background-color: rgba(255,255,255,.1);
			input, textarea {
				height: 49px;
				width: 100%;
				font: inherit;
				color: rgba(255,255,255,.9);
				background-color: rgba(255,255,255,0);
				&::placeholder { color: rgba(255,255,255,.3); }
			}
		}
		.line_icon.done_cancel {
			display: block;
			width: 80px;
			float: right;
			top: -52px;
			&.round {top: -36px;}
		}
	}
}

#address_eth_div, #address_btc_div {font-size: 10px;}

#toast-container, #error, #wallet_eth_ok, #wallet_btc_ok, #wallet_error, #wl_ps_ok, #wl_ps_error, #loading, #emailVerified {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	background-color: rgba(0,0,0,.95);
	overflow-y: scroll;
	.toast {
		position: absolute;
		left: 50%;
		font: inherit;
		padding-top: 20%;
		-webkit-transform: translate(-50%,0);
		   -moz-transform: translate(-50%,0);
			-ms-transform: translate(-50%,0);
			 -o-transform: translate(-50%,0);
				transform: translate(-50%,0);
		.button:hover { background-color: rgba(255,255,255,.1); }
	}
}

#loading {
	background-color: rgba(0,0,0,.5);
	z-index: 9999;
}

/*------------ HEADER ------------*/

header {
	width: 49px;
	height: 49px;
	position: fixed;
	margin: 16px 15px 15px 16px;
	z-index: 3;
}

#menu { display: none; }

#menu, #wl_ps, #wlmodal, .sign {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: auto;
	z-index: 10;

	.display_bg { z-index: -1; }

	ul {
		padding: 96px 15px 16px 16px;
		li {
			margin: 0 0 15px 0;
			a {
				display: inline-block;
				width: 100%;
				height: 17px;
				padding: 13px 0 19px 0;
				:hover { background-color: rgba(0,0,0,.0); }
				p { margin-left: 16px; }
			}
		}
	}
}

.table-of-contents li .active { background-color: rgba(255,255,255,.1); }

:target {
	&#menu, &#menu .close { display: block; }
	&#menu + #content { display: none; }
}




/*------------ FOOTER ------------*/

footer {
	position: relative;
	width: 100%;
	height: 192px;
	margin-top: 16px;
	border-top: dotted 1px;
	border-color: rgba(255,255,255,.3);
	z-index: 2;
	#userblock {
		position: relative;
		top: 86px;
		text-align: left;
		padding-left: 0;
	}
}

/*------------ CONTENT ------------*/

#content {
	width: 100%;
	position: absolute;
	z-index: 2;
}

.section { margin-top: 31px; }

/*---- PROFILE ---*/
#verification.description {
	max-width: 480px;
	line-height: 32px;
	padding: 24px 16px 9px;
	margin: auto;
	text-align: center;
	background-color: rgba(255,0,0,.5);
}

#profile {
	margin-top: -1px;
	.title {
		line-height: 32px;
		height: 32px;
		padding: 0 15px 0 16px;
	}
	#profile_data {
		.description {
			margin-bottom: 20px;
		}
	}
	#wallet_data, #profile_data {
		overflow: hidden;
		margin: 0 15px 0 16px;
		.description {
			padding: 0;
			text-align: left;
			margin: {
				right: 0;
				left: 0;
			}
		}
		.caption {
			font-size: 14px;
			opacity: .7;
		}
		.data_text {
			font-size: 11px;
		}
		#get_eee_btc {
			margin: {
				right: 0;
				left: 0;
			}
			background-color: rgba(255,193,7,0.95);
		}
		#get_eee_eth {
			margin: {
				right: 0;
				left: 0;
			}
			background-color: rgba(255,193,7,0.95);
		}
		.inputtextarea, .inputtextarea textarea {height: 85px !important;}

	}
}

/*----- TABS -----*/

.tabs {
	position: relative;
	margin: -1px 15px 32px 16px;
	.tabs_container {
		display: none;
		&.disblock {display: block;}
		.title {
			height: 20px;
			padding: 0;
			margin-top: 32px;
			margin-bottom: 32px;
			font-size: 20px;
			line-height: 20px;
		}
		.description {
			margin: 0 0 8px 0;
			padding: 0;
			text-align: left;
			&.mbottom {margin-bottom: 16px;}
		}
		.body {
			margin: 0 0 8px 0;
			padding: 0;
		}
	}
}
.big_button {
	display: block;
	position: relative;
	padding: 16px 16px 17px;
	margin: 0 0 15px 0;
	text-align: center;
    cursor: pointer;
	background-color: rgba(0,136,204,.2);
	&:hover {background-color: rgba(0,136,204,.3)}
	&:active {background-color: rgba(0,136,204,.4)}
    &.disabled {
        background-color: rgba(255,255,255,0.05);
        color: rgba(255,255,255,0.2);
        cursor: auto;
        &:hover {background-color: rgba(255,255,255,0.05)}
        &:active {background-color: rgba(255,255,255,0.05)}
        .angle {opacity: .1;}
    }
}
.button_block {
    width: 100%;
    height: 57px;
    margin-bottom: 31px;
    .big_button {
        width: calc(50% - 40px);
        float: left;
        &.right {float: right;}
    }
}
.data {
	padding-bottom: 16px;
	border-bottom: 1px solid rgba(255,255,255,0.1);
	margin-bottom: 15px;
	&.data_last {
		padding-bottom: 0;
		border-bottom: none;
		margin-bottom: 16px;
		&.add_email_div {
			max-width: 480px;
			margin: {
				left: auto;
				right: auto;
			}
			.data_user {
				width: 100%;
				margin: {
					left: 0;
					right: 0;
				}
				form .inputtext {width: calc(100% - 31px);}
				form button {
					display: block;
					margin: {
						left: auto;
						right: auto;
					}
				}
			}
		}
	}
	.data_name {
		height: 16px;
		font-size: 14px;
		line-height: 16px;
		opacity: .7;
	}
	&#questionnaire {
		.data_name {
			opacity: 1;
		}
		.data_user {height: 100% !important;}
	}
	.data_user {
		margin-top: 16px;
		font-size: 14px;
		line-height: 16px;
		.wallet_address {
			font-size: 9px;
			line-height: 12px;
		}
		.data_btn {
			float: right;
			opacity: .7;
			cursor: pointer;
			margin-left: 16px;
			&:hover {
				opacity: 1;
			}
			&.copied {
				display: none;
				color: #0f9d58;
				&.disblock {display: block;}
			}
		}
		.verify {
			color: #ff0000;
		}
		.confirmed {
			display: none;
			color: #0f9d58;
			&.disblock {display: block;}
		}
		&.readonly {
			margin-bottom: 23px;
			form {
				.inputtext {
					&.copy {
						width: calc(100% - 95px);
					}
				}
				.data_btn {
					margin-top: -48px;
					float: right;
					opacity: .7;
					cursor: pointer;
					&:hover {
						opacity: 1;
					}
				}
				&.survey {
					height: 100%;
					.inputtextarea, .inputtext {
						width: calc(100% - 31px);
						height: 100%;
						padding: 16px 16px 16px 15px;
						textarea {
							height: 65px;
							line-height: 24px;
						}
					}
					.purchase {
						padding: 0 0 16px 0;
						.inputtext {
							display: inline-block;
							width: 104px;
							height: 49px;
							margin-right: 16px;
							padding: 0 16px;
							position: relative;
							input {
								height: 49px;
							}
							select {
								color: rgba(255,255,255,.8);
								background-color: rgba(255,255,255,0);
								border: none;
								font-size: 16px;
							}
							&.select {
								width: 72px;
								z-index: 2;
								padding: 8px 0;
								margin-right: 0;
								background-color: rgba(255,255,255,0);
							}
						}
						.select_dropdown {
							position: relative;
							top: 18px;
							left: -32px;
						}
					}
				}
				button {
					display: block;
					margin: {
						left: auto;
						right: auto;
					}
				}
			}
		}
	}
}
.dropdown_line {
	display: none;
	position: absolute;
	width: 100%;
	height: 49px;
	background-color: rgba(255,255,255,.1);
	&:hover {background-color: rgba(255,255,255,.15);}
	&:active {background-color: rgba(255,255,255,.2);}
	.dropdown {
		position: absolute;
		top: 12px;
		right: 12px;
		opacity: .7;
	}
}
.tabs_list {
	width: 100%;
	background-color: rgba(255,255,255,.1);
	z-index: 1;
	li {
		margin: 0 !important;
		padding: 12px 15px 12px 16px;
		color: rgba(255,255,255,.8);
		z-index: 2;
		&:hover {background-color: rgba(255,255,255,.05);}
		&:active {background-color: rgba(255,255,255,.1);}
		&.active {background-color: rgba(255,255,255,.1);}
	}
}

/*----- HERO -----*/

#hero{
	text-align: center;
	margin-top: 109px;
}

#text_logo {
	width: 216px;
	margin-bottom: 8px;
}

/*--- PROBLEMS ---*/

#problems {}

/*--- FEATURES ---*/

#features {}

.f1 { background-image: url(../img/features/f_1.svg); }

.f2 { background-image: url(../img/features/f_1.svg); }

.f3 { background-image: url(../img/features/f_1.svg); }

/*---- CASES ----*/

#cases {}

/*---- DAPPS ----*/

#dapps {}

/*--- MISSION ---*/

#mission {}

/*--- REWARDS ---*/

#rewards {}

.winner { background-image: url(../img/rewards/winner.svg); }

.finalist { background-image: url(../img/rewards/finalist.svg); }

.semifinalist { background-image: url(../img/rewards/semifinalist.svg); }

/*---- PARTNER ----*/

#partner {}

.hybris { background-image: url(../img/partner/hybris.svg); }

.sberbank { background-image: url(../img/partner/sberbank.svg); }

.foxico { background-image: url(../img/partner/foxico.svg); }

.bitrewards { background-image: url(../img/partner/bitrewards.svg); }

.foundico { background-image: url(../img/partner/foundico.svg); }

.icobench { background-image: url(../img/partner/icobench.svg); }

.trackico { background-image: url(../img/partner/trackico.svg); }

.icomarks { background-image: url(../img/partner/icomarks.svg); }

/*----- TEAM -----*/

#team {}

.t1 { background-image: url(../img/team/t_1c.jpg); }

.t2 { background-image: url(../img/team/t_2c.jpg); }

.t3 { background-image: url(../img/team/t_3c.jpg); }

.t4 { background-image: url(../img/team/t_4c.jpg); }

.t5 { background-image: url(../img/team/t_5c.jpg); }

.t6 { background-image: url(../img/team/t_6c.jpg); }

.t7 { background-image: url(../img/team/t_7c.jpg); }

.t8 { background-image: url(../img/team/t_8c.jpg); }

.t9 { background-image: url(../img/team/t_9c.jpg); }

.t10 { background-image: url(../img/team/t_10c.jpg); }

.icon_person { background-image: url(../img/icon/ic_person.svg); }

/*--- ADVISORS ---*/

#advisors { margin-top: 3px; }

.yannam	{ background-image: url(../img/advisors/naveen_yannam.png); }

.aurel	{ background-image: url(../img/advisors/aurel.png); }

.zan	{ background-image: url(../img/advisors/zan.jpg); }

.jeremy	{ background-image: url(../img/advisors/jeremy.jpg); }

.bhaskar	{ background-image: url(../img/advisors/bhaskar.jpg); }

.a1 { background-image: url(../img/advisors/a_1.png); }

.a2 { background-image: url(../img/advisors/a_2.png); }

/*---- MEETUP ----*/

#meetup {}

.m1 { background-image: url(../img/meetup/m_1.svg); }

.m2 { background-image: url(../img/meetup/m_2.png); }

/*---- MEDIA ----*/

#media { }

.me1 { background-image: url(../img/media/me_1.svg); }

.me2 { background-image: url(../img/media/me_1.svg); }

.me3 { background-image: url(../img/media/me_1.svg); }

.me4 { background-image: url(../img/media/me_1.svg); }

/*--- CONTACTS ---*/

#contact {
	text-align: center;
}

.fb_iframe_widget span
{
	vertical-align: baseline !important;
}

.error{
	margin-top: 31px;
	color: red;
}

.allok{
	margin-top: 31px;
	color: green;
}

.green{
	color: green;
}

.qrcode img{
	margin: 0 auto;
	border: white solid 1px;
}

@import 'media';
