@charset "utf-8";

html, body {
	height: 100%;
	font-family: 'Play', Helvetica, sans-serif;
	line-height: 24px;
	letter-spacing: .2px;
	background-color: #FFF;
	color: rgba(255,255,255,.8);
	margin: 0 !important;
	padding: 0 !important;
	border: 0 !important;
	outline: 0 !important;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
input, textarea, button {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	list-style-type: none;
}

a:link, a:active, a:visited { 
	border: none;
	color: inherit;
	text-decoration: none;
}

/*-------------- BG --------------*/

.display_bg, .lines, .dots_bg, .bigdots_bg, .alldots_bg {
	width: 100%;
	height: 100%;
}

.display_bg, .lines, .dots_bg {
	position: fixed;
	top: 0;
	left: 0;
}

.display_bg {
	background: {
		image: url(../img/bg/bg_mobile.jpg);
		size: cover;
		position: 50% 50%;
	}
	z-index: 0;
}

.lines {
	background: transparent url(../img/bg/lines.svg) repeat top left;
	opacity: .2;
}

.dots_bg {
	position: absolute;
	background: transparent url(../img/bg/dots.svg) repeat top left;
	opacity: .3;
}

.bigdots_bg {
	background: transparent url(../img/bg/bigdots.svg) repeat top left;
}

.alldots_bg {
	background: transparent url(../img/bg/alldots.svg) repeat top left;
}

.grid {
	background: transparent url(../img/bg/grid.svg) repeat top left;
}

/*------------ DETAILS ------------*/

.angle, .more, .star, .quadr {
	position: absolute;
	opacity: .4;
}

.top { top: 0; }

.right { right: 0; }

.bottom { bottom: 0; }

.left { left: 0; }

.star {
	&.top { top: 12px; }
	&.right { right: 12px; }
	&.bottom { bottom: 12px; }
	&.left { left: 12px; }
}

.quadr {
	&.top { top: -2px; }
	&.right { right: -2px; }
	&.bottom { bottom: -2px; }
	&.left { left: -2px; }
}

.angle {
	&.right.top {
		-webkit-transform: rotate(90deg);
		   -moz-transform: rotate(90deg);
			-ms-transform: rotate(90deg);
			 -o-transform: rotate(90deg);
				transform: rotate(90deg);
	}
	&.left.bottom {
		-webkit-transform: rotate(-90deg);
		   -moz-transform: rotate(-90deg);
			-ms-transform: rotate(-90deg);
			 -o-transform: rotate(-90deg);
				transform: rotate(-90deg);
	}
	&.right.bottom {
		-webkit-transform: rotate(180deg);
		   -moz-transform: rotate(180deg);
			-ms-transform: rotate(180deg);
			 -o-transform: rotate(180deg);
				transform: rotate(180deg);
	}
}

.liner {
	width: 100%;
	height: 0;
	position: absolute;
	top: 8px;
	opacity: 0.3;
	border-top: dotted 1px #ffffff;
}

#timer{
	font-size: 40px;
	line-height: 64px;
}

#timerTitle {
	font-size: 24px;
	line-height: 32px;
}

.headline {
	width: 100%;
	position: relative;
	margin-bottom: 16px;
	.headliner {
		position: relative;
		line-height: 16px;
		text-align: center;
	}
	.liner { width: calc(50% - 48px); }

}

#menu ul li.liner {
	position: relative;
	top: 0;
	margin: 31px 0 31px 0;
}

/*------------- ICON -------------*/

.icon {
	margin: 12px;
	opacity: .7;
}

.logo, .logo-text {
	width: 33px;
	height: 33px;
	position: absolute;
	margin: 8px;
	background: url(../img/icon/ic_logo.svg)  center center no-repeat;
	z-index: 2;
	&-text {
		display: none;
		width: 225px;
		height: 65px;
		margin: 0;
		background: url(../img/text_logo.svg)  center center no-repeat;
	}
}

.more, .menu, .close, .submit {
	width: 25px;
	height: 25px;
}

.icon.button {
	width: 49px;
	height: 49px;
	margin: 15px 15px 9px 16px;
	padding-top: 0;
	&.link {
		margin: 16px 13px 8px 14px;
	}
}

.menu, .close {
	position: fixed;
	top: 16px;
	right: 15px;
}

.scroll {
	display: inline-block;
	width: 33px;
	height: 25px;
	margin: {
		right: 16px;
		left: 16px;
	}
}

#menu ul li, .icon, .link.button, .button {
	&:hover { background-color: rgba(255,255,255,.20); }
	&:active { background-color: rgba(255,255,255,.30); }
}

:hover {
	&.logo, &.menu, &.close, &.scroll, &.submit {
		width: 49px;
		height: 49px;
		margin: 0;
	}
	&.scroll {
		width: 65px;
		height: 49px;
	}
}

li:active { background-color: rgba(255,255,255,.20); }

li.nolink:active { background-color: rgba(255,255,255,.0); }


.iconpack	{
	overflow: hidden;
	text-align: center;
	.icon { display: inline-block; }
}

.rotate {
	transform: rotate(90deg);
	margin-top: 16px !important;
	margin-left: 16px !important;
}

.close { z-index: 2; }

.close		{ background: url(../img/icon/ic_close.svg)  center center no-repeat; }

.menu		{ background: url(../img/icon/ic_menu.svg)  center center no-repeat; }

.scroll, .home{ background: url(../img/icon/ic_scroll.svg)  center center no-repeat; }

.linkedin	{ background: url(../img/icon/ic_linkedin.svg)  center center no-repeat; }

.facebook	{ background: url(../img/icon/ic_facebook.svg)  center center no-repeat; }

.telegram	{ background: url(../img/icon/ic_telegram.svg)  center center no-repeat; }

.twitter	{ background: url(../img/icon/ic_twitter.svg)  center center no-repeat; }

.bitcointalk{ background: url(../img/icon/ic_bitcointalk.svg)  center center no-repeat; }

.reddit		{ background: url(../img/icon/ic_reddit.svg)  center center no-repeat; }

.medium		{ background: url(../img/icon/ic_medium.svg)  center center no-repeat; }

.ic_foxico		{ background: url(../img/icon/ic_foxico.svg)  center center no-repeat; }

.steemit	{ background: url(../img/icon/ic_steemit.svg)  center center no-repeat; }

.behance	{ background: url(../img/icon/ic_behance.svg)  center center no-repeat; }

.email		{ background: url(../img/icon/ic_email.svg)  center center no-repeat; }

.submit		{ background: url(../img/icon/ic_submit.svg)  center center no-repeat; }

/*------------ BLOCKS ------------*/

.title, .button { font-size: 24px; }

.description, .headliner, .firstline { font-size: 18px; }

.secondline, .thirdline { font-size: 16px; opacity: .75; }

.body, .body-angle { font-size: 14px; line-height: 32px; }

.title {
	height: 38px;
	padding: 29px 80px;
	#rewards & { padding: 29px 15px 30px 80px; }
}

.description.contact { margin-top: 127px; }

.description, .button {
	position: relative;
	margin: 16px 15px 15px 16px;
	line-height: 32px;
	text-align: center;
}

.description { padding: 16px 15px 17px 16px; }

.button, #sbmt, #wallet, input, button { height: 49px; }

form { text-align: center; }

.button {
	display: inline-block;
	width: 193px;
	padding-top: 16px;
	&.bttn {
		height: 65px;
		font-family: 'Play', Helvetica, sans-serif;
		color: rgba(255,255,255,.8);
		margin: {
			top: 31px;
			left: 14px;
		}
		padding-top: 0;
		border-radius: 0;
	}
}

.body {
	padding: 16px 15px 0 16px;
	&-angle {
		position: relative;
		margin: 0 15px 15px 16px;
		padding: 16px 15px 17px 16px;
		text-align: left;
	}
}

.illustration {
	display: block;
	margin: auto;
	&.i1 {
		width: 258px;
		height: 258px;
		margin-bottom: 14px;
	}
	&.i2 {
		width: 250px;
		height: 350px;
		margin-bottom: 18px;
	}
	&.i3 {
		width: 258px;
		height: 225px;
		margin-bottom: 15px;
	}
}

.firstline, .secondline, .thirdline {
	position: absolute;
	margin-left: 16px;
	margin-right: 8px;
	-webkit-transform: translate(0,-50%);
	   -moz-transform: translate(0,-50%);
		-ms-transform: translate(0,-50%);
		 -o-transform: translate(0,-50%);
			transform: translate(0,-50%);
}

footer .secondline { top: 32px; }

.image {
	height: inherit;
	opacity: .75;
	background: {
		position: center center;
		size: cover;
	}
}

.singleline, .twoline { height: 81px; }

.singleline {
	.firstline	{ top: 50%; }
	&.link {
		.firstline.link {
			top: 40px;
			margin-left: 80px;
		}
	}
	&.year {
		height: 100%;
		position: relative;
		margin: 0 15px 0 16px;
		overflow: hidden;
		.year {
			width: 81px;
			height: 26px;
			padding: 25px 0 30px;
			float: left;
			text-align: center;
		}
		.secondline {
			position: relative;
			margin: 25px 0 55px 97px;
			-webkit-transform: none;
			   -moz-transform: none;
				-ms-transform: none;
				 -o-transform: none;
					transform: none;
			opacity: 1;
			line-height: 32px;
			.underline { text-decoration: underline; }
		}
		.liner {
			width: 0;
			height: 100%;
			top: 81px;
			bottom: 0;
			left: 40px;
			border-top: none;
			border-right: dotted 1px #ffffff;
		}
	}
}

.twoline {
	.firstline	{ top: 30%; }
	.secondline { top: 70%; }
}

.threeline {
	.firstline	{ top: 30%; }
	.secondline	{ top: 60%; }
	.thirdline	{ top: 80%; }
}

.number {
	.number {
		width: 17px;
		padding-top: 30px;
		padding-left: 16px;
		text-align: center;
	}
	.firstline, .secondline { margin-left: 48px; }
}

.pic {
	.image { width: 81px; }
	.firstline, .secondline, .thirdline { margin-left: 96px; }
	&.large {
		height: 129px;
		.image { width: 129px; }
		.firstline, .secondline, .thirdline { margin-left: 144px; }
	}
}

li { margin: 0 15px 15px 16px; }

.button, .ico, .collapsible-header, .collapsible-body, .image, #sbmt, #wallet, #menu ul li, .singleline.year .year {
	position: relative;
	background-color: rgba(255,255,255,.1);
}

.ico.last {
	margin-bottom: 31px;
	.secondline {margin-bottom: 24px;}
}

.collapsible-header:hover {
	background-color: rgba(255,255,255,.2);
	cursor: pointer;
	&.nolink {
		background-color: rgba(255,255,255,.1);
		cursor: default;
	}
	& .image .alldots_bg { display: none; }
}

.collapsible-body {
	display: none;
	padding-bottom: 16px;
	background-color: rgba(255,255,255,.05);
}

#sbmt, #wallet {
	margin: 32px 15px 31px 16px;
	div .inputdiv {
		margin-right: 49px;
		padding-left: 16px;
		input {
			width: 100%;
			font: inherit;
			color: rgba(255,255,255,.9);
			background-color: rgba(255,255,255,0);
			&::placeholder { color: rgba(255,255,255,.7) }
		}
	}
}

button {
	cursor: pointer;
	position: absolute;
	background-color: rgba(255,255,255,0);
	border-radius: 0;
}

#calltoaction {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 9;
	.button {
		width: 100%;
		height: 48px;
		margin: 0;
		background-color: rgba(255,193,7,.95);
		.angle { display: none; }
	}
}

#page{
	text-align: center;
	margin-top: 12px;
	margin-bottom: 33px;
	form {
		max-width: 513px;
		margin: {
			top: 31px;
			bottom: 239px;
		}
		div {
			button.go, p {
				margin: 31px 15px 0 16px;
			}
			p {
				margin-top: 8px;
				width: 31px;
			}
			button#join_wl {margin-top: 15px;}
		}
	}
}

#join_wl {
	cursor: pointer;
	line-height: 32px;
}

/*------------ MODAL -------------*/

.disnone { display: none; }

.disblock { display: block; }

#wl_ps, #wlmodal {z-index: 2;}

.wlmodal {
	width: 100%;
	overflow: inherit;
	.description {
		max-width: 961px;
		margin: auto;
		padding-top: 64px;
	}
	#wl_ps_form, #whitelist {
		max-width: 961px;
		margin: 15px 15px 95px 16px;
		.inputtext, .inputtextarea {
			height: 49px;
			position: relative;
			margin-bottom: 15px;
			padding-left: 16px;
			background-color: rgba(255,255,255,.1);
			input, textarea {
				height: 49px;
				width: 100%;
				font: inherit;
				color: rgba(255,255,255,.9);
				background-color: rgba(255,255,255,0);
				&::placeholder { color: rgba(255,255,255,.7); }
			}
		}
		.radioblock{
			height: 48px;
			margin-bottom: 16px;
			&.round {
				height: 100%;
				overflow: hidden;
			}
			.inputradio {
				width: 96px;
				height: 48px;
				text-align: left;
				float: left;
				&.round {
					width: 100%;
					height: 100%;
					max-width: 288px;
				}
				input {
					width: 16px;
					height: 16px;
					margin: 17px 15px 15px 17px;
					float: left;
				}
				p {
					padding-top: 13px;
					float: left;
					&.caption {
						margin-left: 48px;
						padding-top: 40px;
						font-size: 14px;
						line-height: 20px;
						opacity: .7;
						float: none;
					}
				}
			}
		}
		.inputtextarea {
			height: 84px;
			padding-top: 12px;
			textarea { height: 84px; }
		}
		button { margin-top: 33px; }
	}
}



.small_modal {
	width: 320px;
	position: absolute;
	left: 50%;
	font: inherit;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	text-align: center;
	.description {
		margin: 16px 15px 15px 16px;
		padding: 16px 15px 17px 16px;
	}
	.easy_toast {
		color: #0f9d58;
		line-height: 32px;
		text-align: center;
		visibility: hidden;
		&.visible {visibility: visible;}
	}
	& form {
		margin: 0;
		button.bttn {
			cursor: pointer;
			width: 193px;
			margin: 16px 15px 15px 16px;
		}
	}
	.button {
		cursor: pointer;
		float: left;
		margin: 16px 15px 15px 16px;
		&.floatnone {float: none;}
		&#wallet_eth_ok_close, &#wallet_btc_ok_close {width: 65px;}
	}
}

#address_eth_div, #address_btc_div {font-size: 10px;}

#toast-container, #wallet_eth_ok, #wallet_btc_ok, #wallet_error, #wl_ps_ok, #wl_ps_error, #loading {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	background-color: rgba(0,0,0,.95);
	.toast {
		position: absolute;
		left: 50%;
		font: inherit;
		padding-top: 20%;
		-webkit-transform: translate(-50%,0);
		   -moz-transform: translate(-50%,0);
			-ms-transform: translate(-50%,0);
			 -o-transform: translate(-50%,0);
				transform: translate(-50%,0);
		.button:hover { background-color: rgba(255,255,255,.1); }
	}
}

#loading {
	background-color: rgba(0,0,0,.5);
	z-index: 9999;
}

/*------------ HEADER ------------*/

header {
	width: 49px;
	height: 49px;
	position: fixed;
	margin: 16px 15px 15px 16px;
	z-index: 3;
}

#menu { display: none; }

#menu, #wl_ps, #wlmodal {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: auto;
	z-index: 10;

	.display_bg { z-index: -1; }

	ul {
		padding: 96px 15px 16px 16px;
		li {
			margin: 0 0 15px 0;
			a {
				display: inline-block;
				width: 100%;
				height: 17px;
				padding: 13px 0 19px 0;
				:hover { background-color: rgba(0,0,0,.0); }
				p { margin-left: 16px; }
			}
		}
	}
}

.table-of-contents li .active { background-color: rgba(255,255,255,.1); }

:target {
	&#menu, &#menu .close { display: block; }
	&#menu + #content { display: none; }
}




/*------------ FOOTER ------------*/

footer {
	position: relative;
	width: 100%;
	height: 65px;
	margin-top: 16px;
	border-top: dotted 1px;
	border-color: rgba(255,255,255,.3);
	z-index: 2;
}

/*------------ CONTENT ------------*/

#content {
	width: 100%;
	position: absolute;
	z-index: 2;
}

.section { margin-top: 31px; }

/*----- HERO -----*/

#hero{
	text-align: center;
	margin-top: 109px;
}

#text_logo {
	width: 216px;
	margin-bottom: 8px;
}

/*--- PROBLEMS ---*/

#problems {}

/*--- FEATURES ---*/

#features {}

.f1 { background-image: url(../img/features/f_1.svg); }

.f2 { background-image: url(../img/features/f_1.svg); }

.f3 { background-image: url(../img/features/f_1.svg); }

/*---- CASES ----*/

#cases {}

/*---- DAPPS ----*/

#dapps {}

/*--- MISSION ---*/

#mission {}

/*--- REWARDS ---*/

#rewards {}

.winner { background-image: url(../img/rewards/winner.svg); }

.finalist { background-image: url(../img/rewards/finalist.svg); }

.semifinalist { background-image: url(../img/rewards/semifinalist.svg); }

/*---- PARTNER ----*/

#partner {}

.hybris { background-image: url(../img/partner/hybris.svg); }

.sberbank { background-image: url(../img/partner/sberbank.svg); }

.foxico { background-image: url(../img/partner/foxico.svg); }

.bitrewards { background-image: url(../img/partner/bitrewards.svg); }

.foundico { background-image: url(../img/partner/foundico.svg); }

/*----- TEAM -----*/

#team {}

.t1 { background-image: url(../img/team/t_1c.jpg); }

.t2 { background-image: url(../img/team/t_2c.jpg); }

.t3 { background-image: url(../img/team/t_3c.jpg); }

.t4 { background-image: url(../img/team/t_4c.jpg); }

.t5 { background-image: url(../img/team/t_5c.jpg); }

.t6 { background-image: url(../img/team/t_6c.jpg); }

.t7 { background-image: url(../img/team/t_7c.jpg); }

.t8 { background-image: url(../img/team/t_8c.jpg); }

.t9 { background-image: url(../img/team/t_9c.jpg); }

.t10 { background-image: url(../img/team/t_10c.jpg); }

/*--- ADVISORS ---*/

#advisors { margin-top: 3px; }

.a1 { background-image: url(../img/advisors/a_1.png); }

.a2 { background-image: url(../img/advisors/a_2.png); }

/*---- MEETUP ----*/

#meetup {}

.m1 { background-image: url(../img/meetup/m_1.jpeg); }

.m2 { background-image: url(../img/meetup/m_1.jpeg); }

.m3 { background-image: url(../img/meetup/m_1.jpeg); }

.m4 { background-image: url(../img/meetup/m_1.jpeg); }

/*---- MEDIA ----*/

#media { }

.me1 { background-image: url(../img/media/me_1.svg); }

.me2 { background-image: url(../img/media/me_1.svg); }

.me3 { background-image: url(../img/media/me_1.svg); }

.me4 { background-image: url(../img/media/me_1.svg); }

/*--- CONTACTS ---*/

#contact {}

@import 'media';
