@media (min-width: 480px) {
	#profile {
		#wallet_data {
			.data_text, #profile_data {
				font-size: 16px;
			}
		}
	}
}

@media (min-width: 600px) {

	#profile {
		margin-top: 11px;
		.title {
			margin-bottom: 32px;
			padding: 0 31px 0 32px;
		}
		#wallet_data, #profile_data {
			.description {
				margin-bottom: 20px !important;
			}
			overflow: hidden;
			margin: 0 31px 0 32px;
			.caption {
				font-size: 14px;
				line-height: 48px;
				float: left;
			}
			.data_text {
				line-height: 48px;
				margin-left: 120px;
			}
			#get_eee {
				margin: -96px 0 0 0;
				float: right;
			}
		}
	}

	.progressbar {
		margin-top: 32px;
		.percent_number {
			width: 145px;
			margin-right: 31px;
			font-size: 48px;
		}
		.progressdata {
			width: calc(100% - 177px);
			.balance, .hardcap {
				height: 70px;
				.description {
					float: left;
				}
				.title {
					float: right;
				}
				.description, .title {
					height: 51px;
					margin: 0;
					padding: 19px 0 0 0;
				}
			}
		}
	}
	.info {
		width: 416px;
		font-size: 18px;
		margin: 0 auto;
	}
	#content.height {
		height: 100%;
		#page {
			margin: 8px auto;
			#userblock {
				position: relative;
				top: -6px;
				padding-bottom: 32px;
			}
			#text_logo {margin-bottom: 0;}
			form {
				margin:0 auto;
				div {
					button.go, p {
						float: left;
						margin: 31px 16px 0 16px;
					}
					p {margin-top: 47px;}
				}
			}
		}
	}
	.small_modal {width: 320px;}
	body { line-height: 32px; }
	#timerTitle {
		font-size: 24px;
		line-height: 54px;
	}
	.display_bg { background-image: url(../img/bg/bg_tablet.jpg); }
	.headline {
		margin-bottom: 65px;
		.liner { width: calc(50% - 48px); }
	}
	header { margin: 32px 31px 31px 32px; }
	.menu, .close {
		top: 32px;
		right: 31px;
	}
	#menu ul {
		padding: 112px 31px 32px 32px;
		li {
			margin-bottom: 31px;
			a {
				height: 33px;
				padding: 16px 0;
				p { margin-left: 32px; }
			}
		}
	}
	.wlmodal .description {
		padding-bottom: 65px;
	}
	#wl_ps_form, #profile_data, #whitelist { margin: 31px 31px 95px 32px !important; }
	.radioblock .inputradio p {
		padding-top: 9px !important;
		&.caption {padding-top: 48px !important;}
	}

	.sign {
		.wlmodal {
			.description {
				padding-top: 64px;
				.icon.close {
					top: 56px;
					right: 0px;
				}
			}
			form {
				max-width: 600px !important;
				margin: 0 auto !important;
				.body {padding: 0px;}
			}
		}
	}
	.section { margin-top: 63px; }
	#advisors { margin-top: 60px; }
	#hero { margin-top: 73px; }
	#text_logo {
		width: 432px;
		margin-bottom: 20px;
	}
	#presaleLink {margin-top: 0px;}
	.description { padding: 32px 31px 33px 32px; }
	.description, .button, form { margin: 32px 31px 31px 32px; }
	.button.bttn { margin-left: 31px; }
	form { margin-bottom: 63px; }
	.scroll { margin: 28px 32px; }
	.scroll:hover { margin: 16px; }
	.title {
		height: 62px;
		padding: 41px 112px;
	}
	.body {
		padding: 24px 31px 0 32px;
		&-angle {
			margin: 0 31px 31px 32px;
			padding: 32px 31px 33px 32px;
		}
	}
	.illustration {
		&.i1 {
			width: 600px;
			height: 600px;
			margin-bottom: 24px;
		}
		&.i2 {
			width: 500px;
			height: 700px;
			margin-bottom: 20px;
		}
		&.i3 {
			width: 642px;
			height: 552px;
			margin-bottom: 24px;
		}
		&.i4 {
			width: 640px;
			height: 450px;
			margin-bottom: 14px;
		}
	}
	li {
		margin: 0 31px 31px 32px;
		.collapsible & { margin-bottom: 31px; }
	}
	.collapsible-body { padding-bottom: 24px; }
	.iconpack {
		margin-top: 16px;
		margin-bottom: -4px;
		&.iconpack47 {margin-top: 47px;}
	}
	.firstline, .secondline, .thirdline {
		margin-left: 32px;
		margin-right: 16px;
	}
	.singleline {
		&.link {
			.icon { margin: 31px 31px -11px 32px; }
			.firstline.link {
				top: 56px;
				margin-left: 112px;
			}
		}
		&.year {
			height: 128px;
			margin: 0 31px 0 32px;
			&.ico.last {
				height: 81px;
				margin-bottom: 47px;
			}
			.secondline {
				position: absolute;
				top: 40px;
				margin: 0 0 0 113px;
				-webkit-transform: translate(0,-50%);
				   -moz-transform: translate(0,-50%);
					-ms-transform: translate(0,-50%);
					 -o-transform: translate(0,-50%);
						transform: translate(0,-50%);
			}
			.liner { height: 47px; }
		}
	}
	.number {
		.number {
			padding-top: 26px;
			padding-left: 32px;
		}
		.firstline, .secondline { margin-left: 80px; }
	}
	.pic {
		.firstline, .secondline, .thirdline { margin-left: 112px; }
		&.large {
			.firstline, .secondline, .thirdline { margin-left: 160px; }
		}
	}
	#media, #rewards, #partner, #rating {
		margin: {
			left: 16px;
			right: 16px;
		}
		.title { padding: 41px 96px 42px; }
		ul {
			overflow: hidden;
			li {
				width: calc(50% - 31px);
				margin: {
					left: 16px;
					right: 15px;
				}
				float: left;
				.pic {
					height: 129px;
					.image { width: 129px; }
					.firstline, .secondline, .thirdline { margin-left: 144px; }
				}
			}
		}
	}
	#team .title { padding-bottom: 42px; }
	#advisors .title { padding-bottom: 44px; }
	#contact .title { padding-bottom: 40px; }
	footer {
		height: 176px;
		margin-top: 48px;
		.secondline { top: 56px; }
		#userblock {
			top: 40px;
			text-align: right;
		}
	}
}

@media (min-width: 960px) {

	#profile {
		#wallet_data {
			.data_text {
				margin-left: 144px;
			}
		}
	}
	.number {
		& + .collapsible-body .body { padding-left: 80px; }
	}
	.pic {
		& + .collapsible-body span {
			.icon { margin-left: 160px; }
			.firstline.link { margin-left: 240px; }
			.body { padding-left: 160px; }
		}
	}
}

@media (min-width: 1280px) {
	#calltoaction {
		width: 225px;
		bottom: 0px;
		left: 32px;
		.button {
			width: 225px;
			height: 40px;
			padding-top: 8px;
			.angle { display: block; }
		}
	}
	.wlmodal .description { font-size: 24px; }
	#wl_ps_form, #profile_data, .sign, #whitelist { margin: auto !important; }
	.display_bg { background-image: url(../img/bg/bg_hd.jpg); }
	header {
		width: 225px;
		height: 65px;
		z-index: 4;
		.logo {
			display: none;
			&-text {
				display: block;
			}
		}
	}
	.menu { display: none; }
	.title {
		height: 46px;
		padding: 49px 112px;
	}
	#team .title { padding-bottom: 50px; }
	#advisors .title { padding-bottom: 52px; }
	#contact .title { padding-bottom: 48px; }
	#menu {
		display: block;
		width: 289px;
		overflow: hidden;
		z-index: 3;
		.close, .display_bg { display: none; }
		.grid {
			padding-top: 112px;
			padding-right: 32px;
			background: none;
			li {
				margin: 0;
				a {
					height: 32px;
					padding: 0;
					.angle { display: none; }
				}
			}
			.liner {
				width: 0;
				height: 100%;
				position: absolute;
				top: -32px;
				right: 0;
				border-left: dotted 1px #ffffff;
			}
			.down a { height: 33px; }
		}
	}
	.section {
		max-width: 1024px;
		margin-left: 288px;
	}
	#media, #rewards, #partner, #rating {
		max-width: 992px;
		margin-left: 304px;
	}
	footer {
		height: 112px;
		width: calc(100% - 288px);
		left: 288px;
	}
}

@media (min-width: 1440px) {
	.sign .wlmodal {
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%,-50%);
		-moz-transform: translate(-50%,-50%);
		-ms-transform: translate(-50%,-50%);
		-o-transform: translate(-50%,-50%);
		transform: translate(-50%,-50%);
		.description {
			padding-top: 8px;
			.icon.close {top: 0;}
		}
	}
	.section { margin-left: 352px; }
	#media, #rewards, #partner, #rating { margin-left: 368px; }
	footer .secondline { margin-left: 96px; }
}

@media (min-width: 1600px) {
	.section { margin-left: 432px; }
	#media, #rewards, #partner, #rating { margin-left: 448px; }
	footer .secondline { margin-left: 176px; }
}

@media (min-width: 1920px) {
	#content.height #page {
		margin: 168px auto;
	}
	#calltoaction {
		bottom: 46px;
		left: 48px;
		.button {
			height: 49px;
			padding-top: 16px;
		}
	}
	.display_bg { background-image: url(../img/bg/bg_full_hd.jpg); }
	header { margin: 48px 47px 47px 48px; }
	.title {
		height: 78px;
		padding: 65px 112px;
	}
	#menu {
		width: 321px;
		.grid {
          padding: 208px 48px 48px 48px;
          li {
            a {
              height: 32px;
              padding: 8px 0;
            }
          }
        }
	}
	.section { margin-left: 592px; }
	#media, #rewards, #partner, #rating { margin-left: 608px; }
	footer{
		width: calc(100% - 320px);
		left: 320px;
		.secondline { margin-left: 336px; }
	}
}

@media (min-width: 2560px) {
	.section { margin-left: 752px; }
	#media, #rewards, #partner, #rating { margin-left: 768px; }
	footer .secondline { margin-left: 464px; }
}
