---
layout: default
---

<div id="content">

  <div class="section" id="hero">
    <img src="img/text_logo.svg" id="text_logo" title="elementh">
    <p class="description">
      <img src="img/details/a_big.svg" class="angle left top"><img src="img/details/a_big.svg" class="angle right top"><img src="img/details/a_big.svg" class="angle left bottom"><img src="img/details/a_big.svg" class="angle right bottom">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget.
    </p>
    <a href="#" class="modal button">
      <img src="img/details/a_medium.svg" class="angle left top">
      SUBSCRIBE
      <img src="img/details/a_medium.svg" class="angle right bottom">
    </a>
    <div>
      <a href="#anchor" class="scroll icon"></a>
    </div>
  </div>

  <div id="anchor"></div>

  <div class="section" id="features">
    <ul class="collapsible" data-collapsible="expandable">
      <li>
        <div class="collapsible-header pic">
          <div class="image f1">
            <img src="img/details/star.svg" class="star left top">
            <img src="img/details/star.svg" class="star right top">
            <img src="img/details/star.svg" class="star left bottom">
            <img src="img/details/star.svg" class="star right bottom">
            <img src="img/details/quadr.svg" class="quadr left top">
            <img src="img/details/quadr.svg" class="quadr right top">
            <img src="img/details/quadr.svg" class="quadr left bottom">
            <img src="img/details/quadr.svg" class="quadr right bottom">
            <div class="bigdots_bg"></div>
          </div>
          <p class="title">Systematization of goods</p>
          <img src="img/icon/ic_more.svg" class="more right bottom" title="more">
        </div>
        <div class="collapsible-body">
          <span>
          <p class="body">Наряду с системой токенов, в блокчейне Elementh присутствует система
          товаров, которая также может быть использована в большом количестве
          приложений, таких как: отслеживание движения конкретного товара от его
          создания до текущего владельца, отслеживание оригинальных товаров и
          обнаружение поддельных. В отличие от системы токенов, система товаров
          предусматривает также возможность “эмитирования” конкретного товара на
          конкретном адресе, с указанием всевозможных данных по этому товару (таких
          как название, производитель, штрихкод и т.д.). Причем если абсолютно такой
          же товар уже присутствует в блокчейне, то эмитент получит сообщение об
          этом, и у него останется возможность только лишь указать какое количество
          единиц этого товара он хочет “эмитировать”.</p>

          <p class="body">При наличии серийного номера продукта есть возможность указания его при
          совершении операции трансфера. Для обеспечения защиты от подделывания
          данных в системе фиксируется только хэш от серийного номера,
          следовательно возможность совершить корректную транзакцию есть только у
          лица, знающего исходный номер.</p>

          <p class="body">При отсутствии серийного номера в момент “эмитирования” товара система
          генерирует его случайным образом и владелец получает возможность
          использовать его для идентификации конкретной единицы товара распечатав
          QR-код на упаковке, записав в RFID-метку или любым другим удобным
          способом.</p>
          </span>
        </div>
      </li>
      <li>
        <div class="collapsible-header pic">
          <div class="image f2">
            <img src="img/details/star.svg" class="star left top">
            <img src="img/details/star.svg" class="star right top">
            <img src="img/details/star.svg" class="star left bottom">
            <img src="img/details/star.svg" class="star right bottom">
            <img src="img/details/quadr.svg" class="quadr left top">
            <img src="img/details/quadr.svg" class="quadr right top">
            <img src="img/details/quadr.svg" class="quadr left bottom">
            <img src="img/details/quadr.svg" class="quadr right bottom">
            <div class="bigdots_bg"></div>
          </div>
          <p class="title">Uniqueness of each product</p>
          <img src="img/icon/ic_more.svg" class="more right bottom" title="more">
        </div>
        <div class="collapsible-body">
          <span>
          <p class="body">Каждый поставщик/дистрибьютор/продавец в мире имеет свой собственный
          формат данных по товарам, и, что более важно, свою собственную
          номенклатуру, причем их количество огромно и растет с каждым днем.</p>

          <p class="body">Очевидным решением данной проблемы является создание единой товарной
          номенклатуры, что позволит пользователям видеть предложения по
          интересующему их товару на одной товарной карточке, а магазинам выбирать
          наиболее выгодного для них поставщика.</p>
          </span>
        </div>
      </li>
      <li>
        <div class="collapsible-header pic">
          <div class="image f3">
            <img src="img/details/star.svg" class="star left top">
            <img src="img/details/star.svg" class="star right top">
            <img src="img/details/star.svg" class="star left bottom">
            <img src="img/details/star.svg" class="star right bottom">
            <img src="img/details/quadr.svg" class="quadr left top">
            <img src="img/details/quadr.svg" class="quadr right top">
            <img src="img/details/quadr.svg" class="quadr left bottom">
            <img src="img/details/quadr.svg" class="quadr right bottom">
            <div class="bigdots_bg"></div>
          </div>
          <p class="title">Blockchain technology</p>
          <img src="img/icon/ic_more.svg" class="more right bottom" title="more">
        </div>
        <div class="collapsible-body">
          <span>
          <p class="body">Сделки в цепочке блоков должны быть безопасными, однозначными и необратимыми, и совершаться настолько быстро, насколько это возможно, чтобы облегчить надежность и децентрализацию системы. На практике затруднения возникают в двух различных аспектах этого процесса: выборе уникального узла для производства блока и придание записи необратимого характера.</p>
          </span>
        </div>
      </li>
    </ul>
  </div>

  <div class="section" id="cases">
    <ul class="collapsible" data-collapsible="expandable">
      <li>
        <div class="collapsible-header line">
          <p class="title">Jack's shoes store</p>
          <img src="img/icon/ic_more.svg" class="more right bottom" title="more">
        </div>
        <div class="collapsible-body">
          <span>
          <p class="body">Джеку, владельцу небольшого магазина, друзья рассказали о блокчейне Elementh и возможностях, которые он дает. Джек раньше ничего не продавал в интернете, ознакомившись с новыми возможностями, он решил что пора уже попробовать продавать их обувь через блокчейн Elementh, используя специальные приложения для продавцов. Создание магазина оказалось совсем простым и заняло несколько минут.</p>

          <p class="body">Подключив свою программу по учету остатков к приложению, Джеку удалось распознать все остатки и привязать их к единой номенклатуре с красивыми карточками товаров с полными данными по характеристикам продуктов. Информация о товарах Джека сразу стала доступна для всех участник сети Elementh. Стив, увидев, что появился магазин рядом с ним с нужными ему ботинками, сразу оформил заказ, а Джеку пришло оповещение что его ботинки хотят купить. Деньги от клиента сразу зачислены на смарт контракт, а это значит что заказ настоящий. Быстро оформив доставку товара Стиву, Джек принялся за свой привычный труд в магазине. Как только курьер отвез товар, средства моментально поступили на счет Джека, а это значит что он может не ждать долгого зачисления денег от процессинга и сразу вложить полученную выручку в новый товар.</p>
          </span>
        </div>
      </li>
      <li>
        <div class="collapsible-header line">
          <p class="title">Jack's shoes storeJack and the problems of counterfeiting</p>
          <img src="img/icon/ic_more.svg" class="more right bottom" title="more">
        </div>
        <div class="collapsible-body">
          <span>
          <p class="body">Однажды Джек захотел расширить ассортимент и вместе с обувью торговать еще и брендовыми сумками. Не долго думая, он открыл b2b приложение по поиску поставщиков и производителей, работающее на блокчейне Elementh, и нашел производителя сумок LOUIS VUITTON, разместил заказ, внеся за него криптовалюту на смарт контракт.</p>

          <p class="body">Поставщик, получив информацию о заказе Джека, сразу сформировал отправку и перевел данные о серийных номерах на смарт контракт,теперь в момент когда состоится сделка, все смогут проверить что у Джека в магазине находятся настоящие сумки LOUIS VUITTON, а не подделка, потому что в сети Elementh каждый производитель может отслеживать движение товара и, если появляется несколько владельцев одного серийного номера одного товара, значит появился контрафакт, и его происхождение очень легко отследить и принять нужные меру по оповещению клиентов о его существовании.</p>
          </span>
        </div>
      </li>
      <li>
        <div class="collapsible-header line">
          <p class="title">Happy Steve</p>
          <img src="img/icon/ic_more.svg" class="more right bottom" title="more">
        </div>
        <div class="collapsible-body">
          <span>
          <p class="body">Стив уже давно пользуется приложениями по поиску самой низкой цены во всем мире на нужный ему товар. Сегодня он решил, что настало время заказать новую обувь, буквально за несколько минут он нашел нужную ему пару в магазине Джека и разместил заказ, отправив деньги на смарт контракт. Стив уже давно не боится совершать покупки онлайн и отправлять деньги неизвестным ему продавцам, так как в случае если Стив не получит товар, он просто укажет это в смарт контракте и деньги вернутся ему.</p>

          <p class="body">В этот раз его заказ был обработан практически моментально и курьер приехал уже через час, убедившись в том что обувь нужного качества Стив завершил смарт контракт и деньги отправились Джеку, а Стив стал владельцем новой пары обуви. Он сможет с легкостью продать эту пару обуви на вторичном рынке, как только она ему надоест, ведь сети Elementh известно что у него настоящий товар, а не контрафакт, и буквально в два клика он сможет выставить его на продажу.</p>
          </span>
        </div>
      </li>
    </ul>
  </div>

  <div class="section" id="dapps">
    <ul class="collapsible" data-collapsible="expandable">
      <li>
        <div class="collapsible-header line number">
          <p class="number">1</p>
          <p class="title">Decentralized marketplaces</p>
          <img src="img/icon/ic_more.svg" class="more right bottom" title="more">
        </div>
        <div class="collapsible-body">
          <span>
          <p class="body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
          </span>
        </div>
      </li>
      <li>
        <div class="collapsible-header line number">
          <p class="number">2</p>
          <p class="title">Tracking the movement of goods</p>
          <img src="img/icon/ic_more.svg" class="more right bottom" title="more">
        </div>
        <div class="collapsible-body">
          <span>
          <p class="body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
          </span>
        </div>
      </li>
      <li>
        <div class="collapsible-header line number">
          <p class="number">3</p>
          <p class="title">Search for products by location</p>
          <img src="img/icon/ic_more.svg" class="more right bottom" title="more">
        </div>
        <div class="collapsible-body">
          <span>
          <p class="body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
          </span>
        </div>
      </li>
      <li>
        <div class="collapsible-header line number">
          <p class="number">4</p>
          <p class="title">Decentralized sending of messages</p>
          <img src="img/icon/ic_more.svg" class="more right bottom" title="more">
        </div>
        <div class="collapsible-body">
          <span>
          <p class="body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
          </span>
        </div>
      </li>
    </ul>
  </div>

  <div class="section" id="mission">
    <div class="titleblock">
      <div class="liner"></div>
      <p class="title block">Mission</p>
      <div class="liner right"></div>
    </div>
    <p class="body">
      <img src="img/details/a_big.svg" class="angle left top"><img src="img/details/a_big.svg" class="angle right top"><img src="img/details/a_big.svg" class="angle left bottom"><img src="img/details/a_big.svg" class="angle right bottom">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.
    </p>
  </div>

  {% include team.html %}

  <div class="section" id="advisors">
    <ul class="collapsible" data-collapsible="expandable">
      <li>
        <div class="collapsible-header pic">
          <div class="image a1">
            <img src="img/details/star.svg" class="star left top">
            <img src="img/details/star.svg" class="star right top">
            <img src="img/details/star.svg" class="star left bottom">
            <img src="img/details/star.svg" class="star right bottom">
            <img src="img/details/quadr.svg" class="quadr left top">
            <img src="img/details/quadr.svg" class="quadr right top">
            <img src="img/details/quadr.svg" class="quadr left bottom">
            <img src="img/details/quadr.svg" class="quadr right bottom">
            <div class="alldots_bg"></div>
          </div>
          <p class="title twoline">Eli Taranto</p>
          <p class="subhead twoline">Security Advisor</p>
          <img src="img/icon/ic_more.svg" class="more right bottom" title="more">
        </div>
        <div class="collapsible-body">
          <span>
          <a href="/" target="_blank" class="linkedin icon button">
            <img src="img/details/a_small.svg" class="angle left top">
            <img src="img/details/a_small.svg" class="angle right top">
            <img src="img/details/a_small.svg" class="angle right bottom">
            <img src="img/details/a_small.svg" class="angle left bottom">
          </a>
          <p class="title link">Linkedin</p>
          <p class="body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis.</p>
          </span>
        </div>
      </li>
      <li>
        <div class="collapsible-header pic">
          <div class="image a2">
            <img src="img/details/star.svg" class="star left top">
            <img src="img/details/star.svg" class="star right top">
            <img src="img/details/star.svg" class="star left bottom">
            <img src="img/details/star.svg" class="star right bottom">
            <img src="img/details/quadr.svg" class="quadr left top">
            <img src="img/details/quadr.svg" class="quadr right top">
            <img src="img/details/quadr.svg" class="quadr left bottom">
            <img src="img/details/quadr.svg" class="quadr right bottom">
            <div class="alldots_bg"></div>
          </div>
          <p class="title twoline">Cecilia Mueller Chen</p>
          <p class="subhead twoline">Compliance Advisor</p>
          <img src="img/icon/ic_more.svg" class="more right bottom" title="more">
        </div>
        <div class="collapsible-body">
          <span>
          <a href="/" target="_blank" class="linkedin icon button">
            <img src="img/details/a_small.svg" class="angle left top">
            <img src="img/details/a_small.svg" class="angle right top">
            <img src="img/details/a_small.svg" class="angle right bottom">
            <img src="img/details/a_small.svg" class="angle left bottom">
          </a>
          <p class="title link">Linkedin</p>
          <p class="body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis.</p>
          </span>
        </div>
      </li>
      <li>
        <div class="collapsible-header pic">
          <div class="image a3">
            <img src="img/details/star.svg" class="star left top">
            <img src="img/details/star.svg" class="star right top">
            <img src="img/details/star.svg" class="star left bottom">
            <img src="img/details/star.svg" class="star right bottom">
            <img src="img/details/quadr.svg" class="quadr left top">
            <img src="img/details/quadr.svg" class="quadr right top">
            <img src="img/details/quadr.svg" class="quadr left bottom">
            <img src="img/details/quadr.svg" class="quadr right bottom">
            <div class="alldots_bg"></div>
          </div>
          <p class="title twoline">Abhijith Naraparaju</p>
          <p class="subhead twoline">Blockchain Solution Architect</p>
          <img src="img/icon/ic_more.svg" class="more right bottom" title="more">
        </div>
        <div class="collapsible-body">
          <span>
          <a href="/" target="_blank" class="linkedin icon button">
            <img src="img/details/a_small.svg" class="angle left top">
            <img src="img/details/a_small.svg" class="angle right top">
            <img src="img/details/a_small.svg" class="angle right bottom">
            <img src="img/details/a_small.svg" class="angle left bottom">
          </a>
          <p class="title link">Linkedin</p>
          <p class="body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis.</p>
          </span>
        </div>
      </li>
      <li>
        <div class="collapsible-header pic">
          <div class="image a4">
            <img src="img/details/star.svg" class="star left top">
            <img src="img/details/star.svg" class="star right top">
            <img src="img/details/star.svg" class="star left bottom">
            <img src="img/details/star.svg" class="star right bottom">
            <img src="img/details/quadr.svg" class="quadr left top">
            <img src="img/details/quadr.svg" class="quadr right top">
            <img src="img/details/quadr.svg" class="quadr left bottom">
            <img src="img/details/quadr.svg" class="quadr right bottom">
            <div class="alldots_bg"></div>
          </div>
          <p class="title twoline">Sandris Murins</p>
          <p class="subhead twoline">CTO of LAT Back Office</p>
          <img src="img/icon/ic_more.svg" class="more right bottom" title="more">
        </div>
        <div class="collapsible-body">
          <span>
          <a href="/" target="_blank" class="linkedin icon button">
            <img src="img/details/a_small.svg" class="angle left top">
            <img src="img/details/a_small.svg" class="angle right top">
            <img src="img/details/a_small.svg" class="angle right bottom">
            <img src="img/details/a_small.svg" class="angle left bottom">
          </a>
          <p class="title link">Linkedin</p>
          <p class="body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis.</p>
          </span>
        </div>
      </li>
    </ul>
  </div>

  <div class="section" id="meetup">
    <ul class="collapsible" data-collapsible="expandable">
      <li>
        <div class="collapsible-header pic">
          <div class="image m1">
            <img src="img/details/star.svg" class="star left top">
            <img src="img/details/star.svg" class="star right top">
            <img src="img/details/star.svg" class="star left bottom">
            <img src="img/details/star.svg" class="star right bottom">
            <img src="img/details/quadr.svg" class="quadr left top">
            <img src="img/details/quadr.svg" class="quadr right top">
            <img src="img/details/quadr.svg" class="quadr left bottom">
            <img src="img/details/quadr.svg" class="quadr right bottom">
            <div class="alldots_bg"></div>
          </div>
          <p class="title twoline">BlockChain at Acronis</p>
          <p class="subhead threeline">New York, USA</p>
          <p class="subhead data threeline">Sep 8, 2017</p>
          <img src="img/icon/ic_more.svg" class="more right bottom" title="more">
        </div>
        <div class="collapsible-body">
          <span>
          <a href="/" target="_blank" class="facebook icon button">
            <img src="img/details/a_small.svg" class="angle left top">
            <img src="img/details/a_small.svg" class="angle right top">
            <img src="img/details/a_small.svg" class="angle right bottom">
            <img src="img/details/a_small.svg" class="angle left bottom">
          </a>
          <p class="title link">BlockChain at Acronis</p>
          <p class="body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis.</p>
          </span>
        </div>
      </li>
      <li>
        <div class="collapsible-header pic">
          <div class="image m2">
            <img src="img/details/star.svg" class="star left top">
            <img src="img/details/star.svg" class="star right top">
            <img src="img/details/star.svg" class="star left bottom">
            <img src="img/details/star.svg" class="star right bottom">
            <img src="img/details/quadr.svg" class="quadr left top">
            <img src="img/details/quadr.svg" class="quadr right top">
            <img src="img/details/quadr.svg" class="quadr left bottom">
            <img src="img/details/quadr.svg" class="quadr right bottom">
            <div class="alldots_bg"></div>
          </div>
          <p class="title twoline">Crypto 2020</p>
          <p class="subhead threeline">Singapore</p>
          <p class="subhead data threeline">Sep 11, 2017</p>
          <img src="img/icon/ic_more.svg" class="more right bottom" title="more">
        </div>
        <div class="collapsible-body">
          <span>
          <a href="/" target="_blank" class="facebook icon button">
            <img src="img/details/a_small.svg" class="angle left top">
            <img src="img/details/a_small.svg" class="angle right top">
            <img src="img/details/a_small.svg" class="angle right bottom">
            <img src="img/details/a_small.svg" class="angle left bottom">
          </a>
          <p class="title link">Crypto 2020</p>
          <p class="body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis.</p>
          </span>
        </div>
      </li>
      <li>
        <div class="collapsible-header pic">
          <div class="image m3">
            <img src="img/details/star.svg" class="star left top">
            <img src="img/details/star.svg" class="star right top">
            <img src="img/details/star.svg" class="star left bottom">
            <img src="img/details/star.svg" class="star right bottom">
            <img src="img/details/quadr.svg" class="quadr left top">
            <img src="img/details/quadr.svg" class="quadr right top">
            <img src="img/details/quadr.svg" class="quadr left bottom">
            <img src="img/details/quadr.svg" class="quadr right bottom">
            <div class="alldots_bg"></div>
          </div>
          <p class="title twoline">Blockchain & Tokens</p>
          <p class="subhead threeline">London, UK</p>
          <p class="subhead data threeline">Sep 12, 2017</p>
          <img src="img/icon/ic_more.svg" class="more right bottom" title="more">
        </div>
        <div class="collapsible-body">
          <span>
          <a href="/" target="_blank" class="facebook icon button">
            <img src="img/details/a_small.svg" class="angle left top">
            <img src="img/details/a_small.svg" class="angle right top">
            <img src="img/details/a_small.svg" class="angle right bottom">
            <img src="img/details/a_small.svg" class="angle left bottom">
          </a>
          <p class="title link">Blockchain & Tokens</p>
          <p class="body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis.</p>
          </span>
        </div>
      </li>
      <li>
        <div class="collapsible-header pic">
          <div class="image m4">
            <img src="img/details/star.svg" class="star left top">
            <img src="img/details/star.svg" class="star right top">
            <img src="img/details/star.svg" class="star left bottom">
            <img src="img/details/star.svg" class="star right bottom">
            <img src="img/details/quadr.svg" class="quadr left top">
            <img src="img/details/quadr.svg" class="quadr right top">
            <img src="img/details/quadr.svg" class="quadr left bottom">
            <img src="img/details/quadr.svg" class="quadr right bottom">
            <div class="alldots_bg"></div>
          </div>
          <p class="title twoline">ICO Summit in Zurich</p>
          <p class="subhead threeline">Zürich</p>
          <p class="subhead data threeline">Oct 2, 2017</p>
          <img src="img/icon/ic_more.svg" class="more right bottom" title="more">
        </div>
        <div class="collapsible-body">
          <span>
          <a href="/" target="_blank" class="facebook icon button">
            <img src="img/details/a_small.svg" class="angle left top">
            <img src="img/details/a_small.svg" class="angle right top">
            <img src="img/details/a_small.svg" class="angle right bottom">
            <img src="img/details/a_small.svg" class="angle left bottom">
          </a>
          <p class="title link">ICO Summit in Zurich</p>
          <p class="body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis.</p>
          </span>
        </div>
      </li>
    </ul>
  </div>

  <div class="section" id="media">
    <ul>
      <li><a href="/" target="_blank">
        <div class="collapsible-header line pic">
          <div class="image me1">
            <img src="img/details/quadr.svg" class="quadr left top">
            <img src="img/details/quadr.svg" class="quadr right top">
            <img src="img/details/quadr.svg" class="quadr left bottom">
            <img src="img/details/quadr.svg" class="quadr right bottom">
          </div>
          <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg" class="angle right bottom">
          <img src="img/details/a_medium.svg" class="angle right top"><img src="img/details/a_medium.svg" class="angle left bottom">
          <p class="title twoline">Elementh it's future</p>
          <p class="subhead twoline">Foxico's report</p>
        </div>
      </a></li>
      <li><a href="/" target="_blank">
        <div href="/" target="_blank" class="collapsible-header line pic">
          <div class="image me2">
            <img src="img/details/quadr.svg" class="quadr left top">
            <img src="img/details/quadr.svg" class="quadr right top">
            <img src="img/details/quadr.svg" class="quadr left bottom">
            <img src="img/details/quadr.svg" class="quadr right bottom">
          </div>
          <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg" class="angle right bottom">
          <img src="img/details/a_medium.svg" class="angle right top"><img src="img/details/a_medium.svg" class="angle left bottom">
          <p class="title twoline">Future is coming</p>
          <p class="subhead twoline">Foxico's report</p>
        </div>
      </a></li>
      <li><a href="/" target="_blank">
        <div href="/" target="_blank" class="collapsible-header line pic">
          <div class="image me3">
            <img src="img/details/quadr.svg" class="quadr left top">
            <img src="img/details/quadr.svg" class="quadr right top">
            <img src="img/details/quadr.svg" class="quadr left bottom">
            <img src="img/details/quadr.svg" class="quadr right bottom">
          </div>
          <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg" class="angle right bottom">
          <img src="img/details/a_medium.svg" class="angle right top"><img src="img/details/a_medium.svg" class="angle left bottom">
          <p class="title twoline">Ahoolee2: reborn</p>
          <p class="subhead twoline">Foxico's report</p>
        </div>
      </a></li>
      <li><a href="/" target="_blank">
        <div href="/" target="_blank" class="collapsible-header line pic">
          <div class="image me4">
            <img src="img/details/quadr.svg" class="quadr left top">
            <img src="img/details/quadr.svg" class="quadr right top">
            <img src="img/details/quadr.svg" class="quadr left bottom">
            <img src="img/details/quadr.svg" class="quadr right bottom">
          </div>
          <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg" class="angle right bottom">
          <img src="img/details/a_medium.svg" class="angle right top"><img src="img/details/a_medium.svg" class="angle left bottom">
          <p class="title twoline">How i buy car</p>
          <p class="subhead twoline">Foxico's report</p>
        </div>
      </a></li>
    </ul>
  </div>

  <div class="section" id="contact">
    <div class="titleblock">
      <div class="liner"></div>
      <p class="title block">Join us</p>
      <div class="liner right"></div>
    </div>
    <form id="sbmt">
      <img src="img/details/a_medium.svg" class="angle left top">
      <img src="img/details/a_medium.svg" class="angle right bottom">
      <div>
        <div class="inputdiv"><input type="email" form="sbmt" name="email" placeholder="Your Email" required></div>
        <button type="submit" form="sbmt" class="top right"><img src="img/icon/ic_submit.svg" class="icon"></button>
      </div>
    </form>
    <p class="description">
      <img src="img/details/a_big.svg" class="angle left top"><img src="img/details/a_big.svg" class="angle right top"><img src="img/details/a_big.svg" class="angle left bottom"><img src="img/details/a_big.svg" class="angle right bottom">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget.
    </p>
    <div class="iconpack">
    <a href="/" target="_blank" class="telegram icon button link">
      <img src="img/details/a_small.svg" class="angle left top">
      <img src="img/details/a_small.svg" class="angle right top">
      <img src="img/details/a_small.svg" class="angle right bottom">
      <img src="img/details/a_small.svg" class="angle left bottom">
    </a>
    <a href="/" target="_blank" class="facebook icon button link">
      <img src="img/details/a_small.svg" class="angle left top">
      <img src="img/details/a_small.svg" class="angle right top">
      <img src="img/details/a_small.svg" class="angle right bottom">
      <img src="img/details/a_small.svg" class="angle left bottom">
    </a>
    <a href="/" target="_blank" class="twitter icon button link">
      <img src="img/details/a_small.svg" class="angle left top">
      <img src="img/details/a_small.svg" class="angle right top">
      <img src="img/details/a_small.svg" class="angle right bottom">
      <img src="img/details/a_small.svg" class="angle left bottom">
    </a>
    <a href="/" target="_blank" class="email icon button link">
      <img src="img/details/a_small.svg" class="angle left top">
      <img src="img/details/a_small.svg" class="angle right top">
      <img src="img/details/a_small.svg" class="angle right bottom">
      <img src="img/details/a_small.svg" class="angle left bottom">
    </a>
    </div>
  </div>

  {% include footer.html %}

</div>