---
layout: default
---

{% include header.html %}

<div id="content" class="grid">

    {% include hero.html %}

    {% include features.html %}

    {% include cases.html %}

    {% include dapps.html %}

    {% include mission.html %}

    {% include market.html %}

    {% include roadmap.html %}

    {% include rating.html %}

    {% include product.html %}

    {% include rewards.html %}

    {% include partner.html %}

    {% include team.html %}

    {% include advisors.html %}

    {% include competitors.html %}

    {% include faq.html %}

    {% include contact.html %}

    {% include footer.html %}

</div>

{% include calltoaction.html %}

{% include wlmodal.html %}

<div id="loading" class="disnone"><div class="small_modal">Loading...</div></div>

<div id="wl_ps_error" class="disnone">
  <div class="small_modal">
    <p class="description">
      <img src="img/details/a_big.svg" class="angle left top"><img src="img/details/a_big.svg" class="angle right top"><img src="img/details/a_big.svg" class="angle left bottom"><img src="img/details/a_big.svg" class="angle right bottom">
      Oops, something went wrong! Please, fill the form again.
    </p>
    <div id="wl_ps_error_close" class="button floatnone">
      <img src="img/details/a_medium.svg" class="angle left top">
      OK
      <img src="img/details/a_medium.svg" class="angle right bottom">
    </div>
  </div>
</div>

<div id="wl_ps_ok" class="disnone">
  <div class="small_modal">
    <div id="wl_ps_ok_close" class="button floatnone">
      <img src="img/details/a_medium.svg" class="angle left top">
      SUCCESS
      <img src="img/details/a_medium.svg" class="angle right bottom">
    </div>
  </div>
</div>

{% include script.html %}