---
layout: default
---

<div id="content" class="grid height">

    <a href="/" title="home" class="rotate home icon button">
        <img src="img/details/a_small.svg" class="angle left top">
        <img src="img/details/a_small.svg" class="angle left bottom">
        <img src="img/details/a_small.svg" class="angle right top">
        <img src="img/details/a_small.svg" class="angle right bottom">
    </a>

    <div class="section" id="page">

        {% include userblock.html %}

        <img src="img/text_logo.svg" id="text_logo" title="elementh">

        <div class="description">
            <img src="img/details/a_big.svg" class="angle left top"><img src="img/details/a_big.svg" class="angle right top"><img src="img/details/a_big.svg" class="angle left bottom"><img src="img/details/a_big.svg" class="angle right bottom">
            If you are in Private Pre-Sale whitelist then enter your Ethereum or Bitcoin address and click CONTRIBUTE to see Elementh smart-contract pre-sale address.<br>
            If you are not in Private Pre-Sale whitelist then click "Join Whitelist", fill in the form to enter whitelist.
            <div id="preico" class="progressbar">
                <div id="percent_number" class="percent_number"></div>
                <div class="progressdata">
                    <div class="balance">
                        <p class="description">Balance:</p>
                        <p id="balance_data" class="title"></p>
                    </div>
                    <div class="progressline">
                        <div id="percent_line" style="width: 0;"></div>
                        <div id="softcap_line" title="SoftCap" style="width: 20%;"></div>
                    </div>
                    <div class="softcap">
                        <p class="description">SoftCap:</p>
                        <p class="title">
                        <span><svg fill="#0088cc" height="24" viewBox="0 -3 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/>
                            <path d="M0 0h24v24H0z" fill="none"/>
                        </svg></span>
                            300.00 ETH</p>
                    </div>
                    <div class="hardcap">
                        <p class="description">HardCap:</p>
                        <p id="hardcap_data" class="title"></p>
                    </div>
                </div>
            </div>
        </div>

        <a href="/profile" target="_self">
            <div id="preico_join" class="button">
                <img src="img/details/a_medium.svg" class="angle left top">
                CONTRIBUTE
                <img src="img/details/a_medium.svg" class="angle right bottom">
            </div>
        </a>

        {% include iconpack.html %}

    </div>
</div>