---
layout: default
---

<div id="content" class="profile grid height">

    <a id="go_back" href="/" class="rotate home icon button">
        <img src="img/details/a_small.svg" class="angle left top">
        <img src="img/details/a_small.svg" class="angle left bottom">
        <img src="img/details/a_small.svg" class="angle right top">
        <img src="img/details/a_small.svg" class="angle right bottom">
    </a>

    <div class="section" id="profile">
        {% include userblock.html %}
        <div class="title">PROFILE</div>
        <div id="verification" class="description disnone">
            <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg" class="angle right bottom">
            You need to verify your email for contribute.
            <form id="resend_form">
                <div class="error disnone"></div>
                <div class="allok disnone">Check your email and follow the instructions</div>
                <button type="submit" form="resend_form" class="button bttn">
                    <img src="img/details/a_medium.svg" class="angle left top">
                    Send email again
                    <img src="img/details/a_medium.svg" class="angle right bottom">
                </button>
            </form>
        </div>
        <div id="wallet_data" class="disnone">
            <div class="caption">Your ETH wallet:</div>
            <div class="data_text">
                <span id="user_wallet_eth">none</span>
                <form id="wallet_eth_edit_form" class="disnone">
                    <div class="inputtext">
                        <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg" class="angle right bottom">
                        <input id="user_wallet_eth_input" name="ETH_wallet" type="text" value="">
                    </div>
                    <span class="line_icon done_cancel">
                        <img class="done" src="img/icon/ic_done.svg"><img class="cancel" src="img/icon/ic_cancel.svg">
                    </span>
                </form>
                <span class="line_icon"><img class="edit" src="img/icon/ic_edit.svg"></span>
            </div>
            <div class="caption">Your BTC wallet:</div>
            <div class="data_text">
                <span id="user_wallet_btc">none</span>
                <form id="wallet_btc_edit_form" class="disnone">
                    <div class="inputtext">
                        <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg" class="angle right bottom">
                        <input id="user_wallet_btc_input" name="BTC_wallet" type="text" value="">
                    </div>
                    <span class="line_icon done_cancel">
                        <img class="done" src="img/icon/ic_done.svg"><img class="cancel" src="img/icon/ic_cancel.svg">
                    </span>
                </form>
                <span class="line_icon"><img class="edit" src="img/icon/ic_edit.svg"></span>
            </div>
            <div class="caption">Listed in:</div>
            <div class="data_text">
                <span id="user_round"></span>
                <form id="user_round_edit_form" class="disnone">
                    <div class="radioblock round">
                        <div class="inputradio round">
                            <input id="inputradio_round_edit3" type="radio" form="user_round_edit_form" name="round" class="radiobox" value="ICO" checked>
                            <p><label for="radio_ico">ICO</label></p>
                        </div>
                    </div>
                    <span class="line_icon done_cancel round">
                        <img class="done" src="img/icon/ic_done.svg"><img class="cancel" src="img/icon/ic_cancel.svg">
                    </span>
                </form>
                <span class="line_icon"><img class="edit" src="img/icon/ic_edit.svg"><img class="done disnone" src="img/icon/ic_done.svg"><img class="cancel disnone" src="img/icon/ic_cancel.svg"></span>
            </div>
            <div class="caption">Token balance:</div>
            <div id="user_token" class="data_text">loading...</div>
            <div style="height: 64px;">
                <div class="caption">&nbsp;</div>
                <div id="howToWatchEEE" class="data_text disnone"><a href="https://drive.google.com/file/d/1bBSg8Id0cQesx1LuaAKiq7Usnzh4KQK7/view" target="_blank" style="text-decoration: underline;">How to watch EEE in your wallet</a></div>
            </div>
            <div style="height: 64px;">
                <div class="caption">&nbsp;</div>
                <div id="investors_chat" class="data_text disnone"><a href="https://t.me/joinchat/Ct0cV1DIq-cCBwsspTIyPQ" target="_blank" style="text-decoration: underline;">Join Elementh Early Adopters Secret Chat</a></div>
            </div>
            <div class="caption">Your referral link:</div>
            <div id="user_ref" class="data_text"></div>
            <div class="caption">Your referrals:</div>
            <div id="user_referralCount" class="data_text"></div>
            <div id="get_eee_eth" class="button pointer disnone">
                <img src="img/details/a_medium.svg" class="angle left top">
                GET EEE BY ETH
                <img src="img/details/a_medium.svg" class="angle right bottom">
            </div>
            <div id="get_eee_btc" class="button pointer disnone">
                <img src="img/details/a_medium.svg" class="angle left top">
                GET EEE BY BTC
                <img src="img/details/a_medium.svg" class="angle right bottom">
            </div>
        </div>

        <div id="kyc" class="disnone"></div>
        <form id="kyc_form" class="disnone">
            <div class="description">
                <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg" class="angle right bottom">
                Verify your identity to participate in the Elementh token sale
            </div>
            <button type="submit" form="kyc_form" class="button bttn">
                <img src="img/details/a_medium.svg" class="angle left top">
                START KYC
                <img src="img/details/a_medium.svg" class="angle right bottom">
            </button>
        </form>

        <form id="profile_data" class="disnone">
            <div id="profile_data_fill" class="description disnone">To complete registration, please fill in the form:</div>
            <div id="profile_data_complete" class="description disnone">Settings:</div>
            <div class="radioblock round">
                <div class="inputradio round">
                    <input id="radio_ico" type="radio" form="profile_data" name="round" class="radiobox" value="ICO" checked>
                    <p><label for="radio_ico">ICO</label></p>
                    <p class="caption">01.03 - 01.04<br>1EEE = 0,0002ETH<br>Whitelist BONUS:<br>First day ICO: 30%<br>Second day ICO: 15%</p>
                </div>
            </div>
            <div class="inputtext">
                <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg" class="angle right bottom">
                <input type="text" form="profile_data" name="amount" maxlength="100" placeholder="How much will you invest?*" required>
            </div>
            <div class="radioblock">
                <div class="inputradio">
                    <input id="radio_eth" type="radio" form="profile_data" name="currency" class="radiobox" value="eth" checked>
                    <p><label for="radio_eth">ETH</label></p>
                </div>
                <div class="inputradio">
                    <input id="radio_btc" type="radio" form="profile_data" name="currency" class="radiobox" value="btc">
                    <p><label for="radio_btc">BTC</label></p>
                </div>
            </div>
            <div class="inputtext">
                <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg" class="angle right bottom">
                <input id="email" type="email" form="profile_data" name="email" maxlength="100" placeholder="Your Email*" required>
            </div>
            <div id="input_btc" class="inputtext disnone">
                <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg" class="angle right bottom">
                <input id="BTC_wallet"  type="text" form="profile_data" name="BTC_wallet" maxlength="100" placeholder="Your BTC wallet address*">
            </div>
            <div class="inputtext">
                <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg" class="angle right bottom">
                <input id="ETH_wallet" type="text" form="profile_data" name="ETH_wallet" maxlength="100" placeholder="Your ETH wallet address for receive tokens*" required>
            </div>
            <div class="inputtext">
                <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg" class="angle right bottom">
                <input type="text" form="profile_data" name="country" maxlength="100" placeholder="Your country">
            </div>
            <div class="inputtext">
                <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg" class="angle right bottom">
                <input type="text" form="profile_data" name="facebook" maxlength="100" placeholder="Your facebook or any social profile">
            </div>
            <div class="inputtextarea">
                <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg" class="angle right bottom">
                <textarea form="profile_data" name="information" maxlength="1000" placeholder="Please write your feedback/review about our project!"></textarea>
            </div>
            <div class="error disnone"></div>

            <button type="submit" form="profile_data" class="button bttn">
                <img src="img/details/a_medium.svg" class="angle left top">
                SAVE
                <img src="img/details/a_medium.svg" class="angle right bottom">
            </button>
        </form>

        <div id="questionnaire" class="disnone">
            <div class="title">SURVEY</div>
            <form id="questionnaire_form">
                <div class="inputtextarea">
                    <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg" class="angle right bottom">
                    <textarea form="questionnaire_form" name="info1" maxlength="1000" placeholder="What is your business?" required></textarea>
                </div>
                <div class="inputtextarea">
                    <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg" class="angle right bottom">
                    <textarea form="questionnaire_form" name="info2" maxlength="1000" placeholder="Why do you like Elementh ICO?" required></textarea>
                </div>
                <div class="inputtextarea">
                    <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg" class="angle right bottom">
                    <textarea form="questionnaire_form" name="info3" maxlength="1000" placeholder="How can you help our project?" required></textarea>
                </div>
                <div class="inputtextarea">
                    <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg" class="angle right bottom">
                    <textarea form="questionnaire_form" name="info4" maxlength="1000" placeholder="How can Elementh help you?" required></textarea>
                </div>
                <div class="inputtextarea">
                    <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg" class="angle right bottom">
                    <textarea form="questionnaire_form" name="info5" maxlength="1000" placeholder="Your Telegram/Kakaotalk/QQ/WeChat/Whatsup?" required></textarea>
                </div>
                <div class="inputtextarea">
                    <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg" class="angle right bottom">
                    <textarea form="questionnaire_form" name="info6" maxlength="1000" placeholder="Where did you know about Elementh?" required></textarea>
                </div>
                <div class="inputtextarea">
                    <img src="img/details/a_medium.svg" class="angle left top"><img src="img/details/a_medium.svg" class="angle right bottom">
                    <textarea form="questionnaire_form" name="info7" maxlength="1000" placeholder="Do you know any local chats/websites/boards/channels etc. in your country, that we can use to attract investors? Please send links here" required></textarea>
                </div>
                <div class="error disnone"></div>
                <button type="submit" form="questionnaire_form" class="button bttn">
                    <img src="img/details/a_medium.svg" class="angle left top">
                    SAVE
                    <img src="img/details/a_medium.svg" class="angle right bottom">
                </button>
            </form>
        </div>
        <div class="title">CONTACTS</div>
        {% include iconpack.html %}
    </div>

    <div id="wallet_eth_ok" class="disnone">
        <div class="small_modal">
            <p class="description">
                <img src="img/details/a_big.svg" class="angle left top"><img src="img/details/a_big.svg" class="angle right top"><img src="img/details/a_big.svg" class="angle left bottom"><img src="img/details/a_big.svg" class="angle right bottom">
                <span style="color: red">Do not send less than 1 ETH.</span>
                <br>
                <span style="font-size: 10px">
                        Please do not send funds from Exchanges and wallets like Jaxx etc. You need to use Wallets with ERC-20 support like Ethereum Wallet, MEW, Metamask, ImToken etc.
                </span>
                <br>
                <span  style="color: red">Minimum amount of gas:</span>
                <br>
                <span>150,000</span>
                <br>
                <span style="color: red">GAS PRICE:</span>
                <br>
                <span><span id="gasprice">20</span> Gwei</span>
                <br>
                <span style="color: red">ETH address:</span>
                <br>
                <span id="address_eth_div"></span>
                <span class="qrcode" id="eth_qrcode"></span>
            </p>
            <p id="wallet_eth_copy_ok" class="easy_toast">
                Copied
            </p>
            <form id="wallet_eth_copy">
                <input id="address_eth_form" form="wallet_eth_copy" value="" type="hidden">
                <button form="wallet_eth_copy" class="button bttn" data-clipboard-target="address_eth_form">
                    <img src="img/details/a_medium.svg" class="angle left top">
                    Copy Address
                    <img src="img/details/a_medium.svg" class="angle right bottom">
                </button>
            </form>
            <div id="wallet_eth_ok_close" class="button">
                <img src="img/details/a_medium.svg" class="angle left top">
                OK
                <img src="img/details/a_medium.svg" class="angle right bottom">
            </div>
        </div>
    </div>

    <div id="wallet_btc_ok" class="disnone">
        <div class="small_modal">
            <p class="description">
                <img src="img/details/a_big.svg" class="angle left top"><img src="img/details/a_big.svg" class="angle right top"><img src="img/details/a_big.svg" class="angle left bottom"><img src="img/details/a_big.svg" class="angle right bottom">
                <span style="color: red">Do not send less than 0.1 BTC</span>
                <br>
                BTC address:<br>
                <span id="address_btc_div"></span>
                <span class="qrcode" id="btc_qrcode"></span>
            </p>
            <p id="wallet_btc_copy_ok" class="easy_toast">
                Copied
            </p>
            <form id="wallet_btc_copy" style="width: 289px;">
                <input id="address_btc_form" form="wallet_btc_copy" value="" type="hidden">
                <button form="wallet_btc_copy" class="button bttn" data-clipboard-target="address_btc_form">
                    <img src="img/details/a_medium.svg" class="angle left top">
                    Copy Address
                    <img src="img/details/a_medium.svg" class="angle right bottom">
                </button>
            </form>

            <form id="wallet_btc_sent_form" style="clear: both;">
                <div class="error disnone"></div>
                <div class="allok disnone">You will receive EEE tokens after 6 confirmations of your transaction in bitcoin blockchain.</div>
                <button type="submit" form="wallet_btc_sent_form" class="button bttn">
                    <img src="img/details/a_medium.svg" class="angle left top">
                    I SENT BTC
                    <img src="img/details/a_medium.svg" class="angle right bottom">
                </button>
            </form>

            <div id="wallet_btc_ok_close" class="button">
                <img src="img/details/a_medium.svg" class="angle left top">
                OK
                <img src="img/details/a_medium.svg" class="angle right bottom">
            </div>
        </div>
    </div>

    <div id="wallet_error" class="disnone">
        <div class="small_modal">
            <p class="description">
                <img src="img/details/a_big.svg" class="angle left top"><img src="img/details/a_big.svg" class="angle right top"><img src="img/details/a_big.svg" class="angle left bottom"><img src="img/details/a_big.svg" class="angle right bottom">
                <span id="wallet_error_msg"></span>
            </p>
            <div id="wallet_err_close" class="button floatnone">
                <img src="img/details/a_medium.svg" class="angle left top">
                OK
                <img src="img/details/a_medium.svg" class="angle right bottom">
            </div>
        </div>
    </div>
    <div id="emailVerified" class="disnone">
        <div class="small_modal">
            <p class="description">
                <img src="img/details/a_big.svg" class="angle left top"><img src="img/details/a_big.svg" class="angle right top"><img src="img/details/a_big.svg" class="angle left bottom"><img src="img/details/a_big.svg" class="angle right bottom">
                Your email is verified
            <a href="/profile" class="button floatnone">
                <img src="img/details/a_medium.svg" class="angle left top">
                OK
                <img src="img/details/a_medium.svg" class="angle right bottom">
            </a>
        </div>
    </div>
</div>